# Import / Read_csv

In [55]:
import pandas as pd
import numpy as np

In [56]:
age18_1 = pd.read_csv('data/age18_1.csv', index_col = 0)
age18_1

C:\Users\User\anaconda3\envs\ml\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (44,127,291,312,328,409,528,543) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,mod_d,id,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,HEI_TVEG,HEI_VEG,HEI_PROTF,HEI_DAIRY,HEI_SFA,HEI_NA,HEI_SWEET,HEI_CHO,HEI_FAT,HEI_EN
0,b'2022.03.08',b'A701020501',b'A7010205',2018.0,1.0,1.0,2.0,b'A701',1.0,80.0,...,1.367163,0.775022,5.800000,0.000000,5.273475,10.000000,10.00000,5.000000,5.000000,0.000000
1,b'2022.03.08',b'A701021301',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',1.0,78.0,...,4.881043,1.641812,10.000000,10.000000,10.000000,3.418798,10.00000,4.345249,2.956568,5.000000
2,b'2022.03.08',b'A701021302',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',2.0,75.0,...,3.367648,4.943629,4.849725,10.000000,0.000000,9.806158,10.00000,5.000000,5.000000,5.000000
4,b'2022.03.08',b'A701023303',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,80.0,...,4.619405,0.437024,1.951565,0.000000,10.000000,8.029505,10.00000,0.000000,0.000000,1.244134
5,b'2022.03.08',b'A701023304',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,71.0,...,2.459564,3.503124,2.135875,10.000000,0.000000,10.000000,10.00000,3.477269,5.000000,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,b'2022.03.08',b'R707025101',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',1.0,80.0,...,4.416187,2.885425,10.000000,10.000000,0.000000,8.998990,10.00000,5.000000,5.000000,5.000000
7918,b'2022.03.08',b'R707025102',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',2.0,78.0,...,5.000000,5.000000,10.000000,10.000000,4.507390,8.732486,10.00000,5.000000,5.000000,5.000000
7927,b'2022.03.08',b'R707031101',b'R7070311',2018.0,8.0,2.0,1.0,b'R707',2.0,72.0,...,4.272867,2.311358,8.429599,0.000000,10.000000,8.892053,10.00000,4.095630,4.206483,0.000000
7983,b'2022.03.08',b'R708028503',b'R7080285',2018.0,8.0,1.0,2.0,b'R708',2.0,66.0,...,3.398006,3.656502,10.000000,0.023505,10.000000,10.000000,10.00000,5.000000,5.000000,0.000000
7987,b'2022.03.08',b'R708028902',b'R7080289',2018.0,8.0,1.0,2.0,b'R708',2.0,73.0,...,5.000000,3.460232,2.940008,7.280000,6.332807,10.000000,7.98486,2.797653,5.000000,0.000000

In [57]:
age18_2 = pd.read_csv('data/age18_2.csv', index_col = 0)
age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,b'A701021301',8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,b'A701021302',1.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0
4,b'A701023303',8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
5,b'A701023304',1.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,b'R707025101',8.0,8.0,8.0,1.0,8.0,8.0,8.0,8.0,0.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
7918,b'R707025102',8.0,8.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
7927,b'R707031101',8.0,8.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0
7983,b'R708028503',8.0,1.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
7987,b'R708028902',1.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

# 결측치 및 데이터 확인

## age18_2 (pre_age18_2)

### info

In [58]:
# age18_2
age18_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1653 entries, 0 to 7987
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1653 non-null   object
 1   DI1_pr  1608 non-null   float64
 2   DI2_pr  1608 non-null   float64
 3   DI3_pr  1608 non-null   float64
 4   DI4_pr  1539 non-null   float64
 5   DI5_pr  1608 non-null   float64
 6   DM2_pr  1608 non-null   float64
 7   DM3_pr  1608 non-null   float64
 8   DM4_pr  1608 non-null   float64
 9   DJ2_pr  1608 non-null   float64
 10  DJ4_pr  1608 non-null   float64
 11  DJ6_pr  1608 non-null   float64
 12  DJ8_pr  1608 non-null   float64
 13  DI6_pr  1608 non-null   float64
 14  DF2_pr  1608 non-null   float64
 15  DL1_pr  1608 non-null   float64
 16  DE1_pr  1608 non-null   float64
 17  DE2_pr  1608 non-null   float64
 18  DH4_pr  1608 non-null   float64
 19  DC1_pr  1608 non-null   float64
 20  DC2_pr  1608 non-null   float64
 21  DC3_pr  1608 non-null   float64
 22  DC4_pr  1608 non-null   float64
 23  DC5_pr  1608 non-null   float64
 24  DC6_pr  1608 non-null   float64
 25  DC7_pr  1608 non-null   float64
 26  DK8_pr  1608 non-null   float64
 27  DK9_pr  1608 non-null   float64
 28  DK4_pr  1608 non-null   float64
dtypes: float64(28), object(1)
memory usage: 387.4+ KB

In [59]:
age18_2.isnull().sum()

id          0
DI1_pr     45
DI2_pr     45
DI3_pr     45
DI4_pr    114
DI5_pr     45
DM2_pr     45
DM3_pr     45
DM4_pr     45
DJ2_pr     45
DJ4_pr     45
DJ6_pr     45
DJ8_pr     45
DI6_pr     45
DF2_pr     45
DL1_pr     45
DE1_pr     45
DE2_pr     45
DH4_pr     45
DC1_pr     45
DC2_pr     45
DC3_pr     45
DC4_pr     45
DC5_pr     45
DC6_pr     45
DC7_pr     45
DK8_pr     45
DK9_pr     45
DK4_pr     45
dtype: int64

In [60]:
age18_2_columns = age18_2.columns
age18_2_columns

Index(['id', 'DI1_pr', 'DI2_pr', 'DI3_pr', 'DI4_pr', 'DI5_pr', 'DM2_pr',
       'DM3_pr', 'DM4_pr', 'DJ2_pr', 'DJ4_pr', 'DJ6_pr', 'DJ8_pr', 'DI6_pr',
       'DF2_pr', 'DL1_pr', 'DE1_pr', 'DE2_pr', 'DH4_pr', 'DC1_pr', 'DC2_pr',
       'DC3_pr', 'DC4_pr', 'DC5_pr', 'DC6_pr', 'DC7_pr', 'DK8_pr', 'DK9_pr',
       'DK4_pr'],
      dtype='object')

In [61]:
age18_2_column = age18_2_columns[1:29]
print(age18_2_column)
print(len(age18_2_columns))
print(len(age18_2_column))

Index(['DI1_pr', 'DI2_pr', 'DI3_pr', 'DI4_pr', 'DI5_pr', 'DM2_pr', 'DM3_pr',
       'DM4_pr', 'DJ2_pr', 'DJ4_pr', 'DJ6_pr', 'DJ8_pr', 'DI6_pr', 'DF2_pr',
       'DL1_pr', 'DE1_pr', 'DE2_pr', 'DH4_pr', 'DC1_pr', 'DC2_pr', 'DC3_pr',
       'DC4_pr', 'DC5_pr', 'DC6_pr', 'DC7_pr', 'DK8_pr', 'DK9_pr', 'DK4_pr'],
      dtype='object')
29
28

In [62]:
age18_2['DI1_pr'].unique()

array([ 1.,  8., nan,  0.])

In [63]:
# 0:10 , 10:20 , 20:28 나눠서 하나씩 살펴보기
age18_2_column[0:10]

Index(['DI1_pr', 'DI2_pr', 'DI3_pr', 'DI4_pr', 'DI5_pr', 'DM2_pr', 'DM3_pr',
       'DM4_pr', 'DJ2_pr', 'DJ4_pr'],
      dtype='object')

### column 0:10

0. DI1_pr 고혈압 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름, 무응답

1. DI2_pr 이상지질혈증 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름, 무응답

2. DI3_pr 뇌졸중 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름, 무응답

3. DI4_pr 심근경색증 또는 협심증 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당

4. DI5_pr 심근경색증 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름  

5. DM2_pr 골관절염 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름

6. DM3_pr 류마티스성 관절염 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름  

7. DM4_pr 골다공증 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름  

8. DJ2_pr 폐결핵 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름

9. DJ4_pr 천식 현재 유병 여부  
  0 : 없음 / 1 : 있음  
  8 : 비해당 / 9 : 모름

In [64]:
for i in age18_2_column[0:10]:
    print('-----------------'+i+'------------------')
    print(age18_2[i].unique())

-----------------DI1_pr------------------
[ 1.  8. nan  0.]
-----------------DI2_pr------------------
[ 1.  8. nan  0.  9.]
-----------------DI3_pr------------------
[ 0.  8.  1. nan  9.]
-----------------DI4_pr------------------
[ 8.  1. nan  0.]
-----------------DI5_pr------------------
[ 8. nan  9.  1.  0.]
-----------------DM2_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DM3_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DM4_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DJ2_pr------------------
[ 8.  0. nan  9.  1.]
-----------------DJ4_pr------------------
[ 8.  0. nan  9.  1.]

In [65]:
# 원본 복사 (index리셋)
pre_age18_2 = age18_2.reset_index().drop(['index'], axis=1)
pre_age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,b'A701021301',8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,b'A701021302',1.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0
3,b'A701023303',8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,b'A701023304',1.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'R707025101',8.0,8.0,8.0,1.0,8.0,8.0,8.0,8.0,0.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1649,b'R707025102',8.0,8.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1650,b'R707031101',8.0,8.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0
1651,b'R708028503',8.0,1.0,8.0,8.0,8.0,1.0,8.0,1.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1652,b'R708028902',1.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

8, 9 제거

In [66]:
for i in age18_2_column[0:10]:
    col_index = list(pre_age18_2.columns).index(i)

    # 8 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 8][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 9][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan

pre_age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,b'A701021301',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,b'A701021302',1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0
3,b'A701023303',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,b'A701023304',1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'R707025101',NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1649,b'R707025102',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1650,b'R707031101',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0
1651,b'R708028503',NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1652,b'R708028902',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [67]:
# 0~10 8, 9 제거 확인
for i in age18_2_column[0:10]:
    print('-----------------'+i+'------------------')
    print(pre_age18_2[i].unique())

-----------------DI1_pr------------------
[ 1. nan  0.]
-----------------DI2_pr------------------
[ 1. nan  0.]
-----------------DI3_pr------------------
[ 0. nan  1.]
-----------------DI4_pr------------------
[nan  1.  0.]
-----------------DI5_pr------------------
[nan  1.  0.]
-----------------DM2_pr------------------
[nan  1.  0.]
-----------------DM3_pr------------------
[nan  1.  0.]
-----------------DM4_pr------------------
[nan  1.  0.]
-----------------DJ2_pr------------------
[nan  0.  1.]
-----------------DJ4_pr------------------
[nan  0.  1.]

### column 10:20

10. DJ6_pr 부비동염 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

11. DJ8_pr 알레르기비염 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

12. DI6_pr 협심증 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

13. DF2_pr 우울증 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

14. DL1_pr 아토피피부염 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

15. DE1_pr 당뇨병 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

16. DE2_pr 갑상선 질환 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

17. DH4_pr 중이염 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

18. DC1_pr 위암 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

19. DC2_pr 간암 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

In [68]:
# 10:20 하나씩 살펴보기
age18_2_column[10:20]

Index(['DJ6_pr', 'DJ8_pr', 'DI6_pr', 'DF2_pr', 'DL1_pr', 'DE1_pr', 'DE2_pr',
       'DH4_pr', 'DC1_pr', 'DC2_pr'],
      dtype='object')

In [69]:
for i in age18_2_column[10:20]:
    print('-----------------'+i+'------------------')
    print(age18_2[i].unique())

-----------------DJ6_pr------------------
[ 8.  0. nan  9.  1.]
-----------------DJ8_pr------------------
[ 8.  0.  1. nan  9.]
-----------------DI6_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DF2_pr------------------
[ 8. nan  0.  1.  9.]
-----------------DL1_pr------------------
[ 8. nan  9.  1.  0.]
-----------------DE1_pr------------------
[ 8.  1. nan  0.  9.]
-----------------DE2_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DH4_pr------------------
[ 8. nan  9.  0.  1.]
-----------------DC1_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DC2_pr------------------
[ 8. nan  9.  1.  0.]

In [70]:
for i in age18_2_column[10:20]:
    col_index = list(pre_age18_2.columns).index(i)

    # 8 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 8][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 9][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan

pre_age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,b'A701021301',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,b'A701021302',1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0
3,b'A701023303',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,b'A701023304',1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'R707025101',NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1649,b'R707025102',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1650,b'R707031101',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,1.0,8.0,8.0
1651,b'R708028503',NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1652,b'R708028902',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [71]:
# 확인
for i in age18_2_column[10:20]:
    print('-----------------'+i+'------------------')
    print(pre_age18_2[i].unique())

-----------------DJ6_pr------------------
[nan  0.  1.]
-----------------DJ8_pr------------------
[nan  0.  1.]
-----------------DI6_pr------------------
[nan  1.  0.]
-----------------DF2_pr------------------
[nan  0.  1.]
-----------------DL1_pr------------------
[nan  1.  0.]
-----------------DE1_pr------------------
[nan  1.  0.]
-----------------DE2_pr------------------
[nan  1.  0.]
-----------------DH4_pr------------------
[nan  0.  1.]
-----------------DC1_pr------------------
[nan  1.  0.]
-----------------DC2_pr------------------
[nan  1.  0.]

### column 20:28

20. DC3_pr 대장암 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

21. DC4_pr 유방암 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

22. DC5_pr 자궁경부암 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

23. DC6_pr 폐암 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

24. DC7_pr 갑상선암 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

25. DK8_pr B형간염 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

26. DK9_pr C형간염 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

27. DK4_pr 간경변증 현재 유병 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름

In [72]:
# 20:28 하나씩 살펴보기
age18_2_column[20:]

Index(['DC3_pr', 'DC4_pr', 'DC5_pr', 'DC6_pr', 'DC7_pr', 'DK8_pr', 'DK9_pr',
       'DK4_pr'],
      dtype='object')

In [73]:
for i in age18_2_column[20:28]:
    print('-----------------'+i+'------------------')
    print(age18_2[i].unique())

-----------------DC3_pr------------------
[ 8.  0. nan  9.  1.]
-----------------DC4_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DC5_pr------------------
[ 8. nan  9.  0.]
-----------------DC6_pr------------------
[ 8. nan  9.  1.  0.]
-----------------DC7_pr------------------
[ 8. nan  9.  0.  1.]
-----------------DK8_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DK9_pr------------------
[ 8.  1. nan  9.  0.]
-----------------DK4_pr------------------
[ 8.  1. nan  9.  0.]

In [74]:
for i in age18_2_column[20:28]:
    col_index = list(pre_age18_2.columns).index(i)

    # 8 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 8][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_2_index = pre_age18_2[pre_age18_2[i] == 9][i].index

    for j in list(pre_age18_2_index):
        pre_age18_2.iloc[j,col_index] = np.nan

pre_age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'A701021301',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A701021302',1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,b'A701023303',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A701023304',1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'R707025101',NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,b'R707025102',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1650,b'R707031101',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1651,b'R708028503',NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652,b'R708028902',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# 확인
for i in age18_2_column[20:28]:
    print('-----------------'+i+'------------------')
    print(pre_age18_2[i].unique())

-----------------DC3_pr------------------
[nan  0.  1.]
-----------------DC4_pr------------------
[nan  1.  0.]
-----------------DC5_pr------------------
[nan  0.]
-----------------DC6_pr------------------
[nan  1.  0.]
-----------------DC7_pr------------------
[nan  0.  1.]
-----------------DK8_pr------------------
[nan  1.  0.]
-----------------DK9_pr------------------
[nan  1.  0.]
-----------------DK4_pr------------------
[nan  1.  0.]

## age18_1 (pre_age18_1)

### info

In [76]:
# 원본 확인
age18_1

,mod_d,id,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,HEI_TVEG,HEI_VEG,HEI_PROTF,HEI_DAIRY,HEI_SFA,HEI_NA,HEI_SWEET,HEI_CHO,HEI_FAT,HEI_EN
0,b'2022.03.08',b'A701020501',b'A7010205',2018.0,1.0,1.0,2.0,b'A701',1.0,80.0,...,1.367163,0.775022,5.800000,0.000000,5.273475,10.000000,10.00000,5.000000,5.000000,0.000000
1,b'2022.03.08',b'A701021301',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',1.0,78.0,...,4.881043,1.641812,10.000000,10.000000,10.000000,3.418798,10.00000,4.345249,2.956568,5.000000
2,b'2022.03.08',b'A701021302',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',2.0,75.0,...,3.367648,4.943629,4.849725,10.000000,0.000000,9.806158,10.00000,5.000000,5.000000,5.000000
4,b'2022.03.08',b'A701023303',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,80.0,...,4.619405,0.437024,1.951565,0.000000,10.000000,8.029505,10.00000,0.000000,0.000000,1.244134
5,b'2022.03.08',b'A701023304',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,71.0,...,2.459564,3.503124,2.135875,10.000000,0.000000,10.000000,10.00000,3.477269,5.000000,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,b'2022.03.08',b'R707025101',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',1.0,80.0,...,4.416187,2.885425,10.000000,10.000000,0.000000,8.998990,10.00000,5.000000,5.000000,5.000000
7918,b'2022.03.08',b'R707025102',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',2.0,78.0,...,5.000000,5.000000,10.000000,10.000000,4.507390,8.732486,10.00000,5.000000,5.000000,5.000000
7927,b'2022.03.08',b'R707031101',b'R7070311',2018.0,8.0,2.0,1.0,b'R707',2.0,72.0,...,4.272867,2.311358,8.429599,0.000000,10.000000,8.892053,10.00000,4.095630,4.206483,0.000000
7983,b'2022.03.08',b'R708028503',b'R7080285',2018.0,8.0,1.0,2.0,b'R708',2.0,66.0,...,3.398006,3.656502,10.000000,0.023505,10.000000,10.000000,10.00000,5.000000,5.000000,0.000000
7987,b'2022.03.08',b'R708028902',b'R7080289',2018.0,8.0,1.0,2.0,b'R708',2.0,73.0,...,5.000000,3.460232,2.940008,7.280000,6.332807,10.000000,7.98486,2.797653,5.000000,0.000000

In [77]:
# 원본 복사 (index리셋)
pre_age18_1 = age18_1.reset_index().drop(['index'], axis=1)
pre_age18_1

,mod_d,id,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,HEI_TVEG,HEI_VEG,HEI_PROTF,HEI_DAIRY,HEI_SFA,HEI_NA,HEI_SWEET,HEI_CHO,HEI_FAT,HEI_EN
0,b'2022.03.08',b'A701020501',b'A7010205',2018.0,1.0,1.0,2.0,b'A701',1.0,80.0,...,1.367163,0.775022,5.800000,0.000000,5.273475,10.000000,10.00000,5.000000,5.000000,0.000000
1,b'2022.03.08',b'A701021301',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',1.0,78.0,...,4.881043,1.641812,10.000000,10.000000,10.000000,3.418798,10.00000,4.345249,2.956568,5.000000
2,b'2022.03.08',b'A701021302',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',2.0,75.0,...,3.367648,4.943629,4.849725,10.000000,0.000000,9.806158,10.00000,5.000000,5.000000,5.000000
3,b'2022.03.08',b'A701023303',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,80.0,...,4.619405,0.437024,1.951565,0.000000,10.000000,8.029505,10.00000,0.000000,0.000000,1.244134
4,b'2022.03.08',b'A701023304',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,71.0,...,2.459564,3.503124,2.135875,10.000000,0.000000,10.000000,10.00000,3.477269,5.000000,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'2022.03.08',b'R707025101',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',1.0,80.0,...,4.416187,2.885425,10.000000,10.000000,0.000000,8.998990,10.00000,5.000000,5.000000,5.000000
1649,b'2022.03.08',b'R707025102',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',2.0,78.0,...,5.000000,5.000000,10.000000,10.000000,4.507390,8.732486,10.00000,5.000000,5.000000,5.000000
1650,b'2022.03.08',b'R707031101',b'R7070311',2018.0,8.0,2.0,1.0,b'R707',2.0,72.0,...,4.272867,2.311358,8.429599,0.000000,10.000000,8.892053,10.00000,4.095630,4.206483,0.000000
1651,b'2022.03.08',b'R708028503',b'R7080285',2018.0,8.0,1.0,2.0,b'R708',2.0,66.0,...,3.398006,3.656502,10.000000,0.023505,10.000000,10.000000,10.00000,5.000000,5.000000,0.000000
1652,b'2022.03.08',b'R708028902',b'R7080289',2018.0,8.0,1.0,2.0,b'R708',2.0,73.0,...,5.000000,3.460232,2.940008,7.280000,6.332807,10.000000,7.98486,2.797653,5.000000,0.000000

In [78]:
pre_age18_1_column = pre_age18_1.columns
age18_1_column = pre_age18_1_column
age18_1_column

Index(['mod_d', 'id', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu',
       'sex', 'age',
       ...
       'HEI_TVEG', 'HEI_VEG', 'HEI_PROTF', 'HEI_DAIRY', 'HEI_SFA', 'HEI_NA',
       'HEI_SWEET', 'HEI_CHO', 'HEI_FAT', 'HEI_EN'],
      dtype='object', length=758)

### column 0:40

0. mod_d 최종 DB 수정일  
    text

1. id 개인 아이디  
    text  
    
2. ID_fam 가구 아이디  
    text  

3. year 조사연도  
    2018  

4. region 17개 시도  
    1 서울 ~ 17 제주  
    
5. town_t 동/읍면 구분  
    1 : 동 / 2 : 읍,면  

6. apt_t 아파트 구분  
    1 : 일반 / 아파트

7. psu 조사구 번호  
    text
    
8. sex 성별  
    1 : 남자 / 2 : 여자

9. age 만나이  
    1~79 / 80 : 80세 이상

10. age_month 월령 (만1~6세)  
    ~ 개월

11. incm 소득 4분위수(개인)  
    1 : 하 / 2 : 중하 / 3 : 중상 / 4 : 상

12. ho_incm 소득 4분위수(가구)  
    1 : 하 / 2 : 중하 / 3 : 중상 / 4 : 상

13. incm5 소득 5분위수(개인)  
    1 : 하 / 2 : 중하 / 3 : 중 / 4 : 중상 / 5 : 상

14. ho_incm5 소득 5분위수(가구)  
    1 : 하 / 2 : 중하 / 3 : 중 / 4 : 중상 / 5 : 상

15. edu 교육수준 재분류 코드  
    1 : 초졸이하 / 2 : 중졸 / 3 : 고졸 / 4 : 대졸이상

16. occp 직업재분류 및 실업/비경제활동 상태 코드  
    1~7 : 직업 코드 7:무직(주부,학생 등)

17. wt_hs 가구조사 가중치  
    설명 없음

18. wt_itvex 건강설문 - 검진조사 가중치  
    설명 없음

19. wt_pft 폐기능검사 가중치 (만 40세 이상)  
    설명없음

20. wt_vt 비타민검사 가중치(만10세이상)

21. wt_nn NNAL검사 가중치(만6세이상)

22. wt_ntr 영양조사 가중치

23. wt_tot 건강설문-검진조사 & 영양조사 가중치

24. wt_pfnt 폐기능검사 & 중금속검사 가중치(만40세이상)

25. wt_pfvt 폐기능검사 & 비타민검사 가중치(만40세이상)

26. wt_pfvtnt 폐기능검사 & 비타민검사 & 영양조사 가중치(만40세이상)

27. wt_vtnt 비타민검사 & 영양조사 가중치(만10세이상)

28. wt_nnnt NNAL검사 & 영양조사 가중치(만6세이상)

29. kstrata 분산추정 층

30. cfam 가구원수  
    1~6 : 1 5명 / 6 : 6명 이상  
    9 : 모름

31. genertn 가구 세대구성코드  
    1~3 1세대 (1인/부부/기타)  
    4~6 2세대 (부부+미혼자녀/편부모+미혼자녀/기타)  
    7 3세대 이상
    9 모름

32. allownc 기초생활수급 여부  
    10 : 경험있음 (과거 또는 현재)  
    20 : 없음  
    99 : 모름

33. house 주택소유여부  
    1 : 아니오 / 2 : 1채 / 3 : 2채이상  
    9 : 모름

34. live_t 주택형태(18년)  
    1 : 단독주택 / 2 : 아파트 / 3 : 연립주택 / 4 : 기타  
    9 : 모름  

35. ainc_unit1 가구총소득 소득단위  
    1 : 연 / 2 : 월  
    9 : 모름

36. ainc_1 가구총소득 소득액  
    200 : 연 200 이하 / 17 : 월 17 이하  
    18000 : 연 1.8억 이상 / 1500 : 월 1500 이상  
    999999 : 모름

37. ainc 월평균 가구 총소득  
    17 : 월 17 이하 / 1500 : 월 1500 이상

38. marri_1 결혼여부  
    1 : 기혼 / 2 : 미혼  
    9 : 모름

39. marri_2 결혼상태  
    1~4 : 유배우자(동거/별거), 사별, 이혼  
    8 : 응답거부 / 9 : 모름 / 88 : 비해당 / 99 : 무응답

In [79]:
# 컬럼 보기
pre_age18_1_column[30:36]

Index(['cfam', 'genertn', 'allownc', 'house', 'live_t', 'ainc_unit1'], dtype='object')

In [80]:
# 각 컬럼 유니크 값
for i in pre_age18_1_column[30:36]:
    print('-----------------'+i+'------------------')
    print(pre_age18_1[i].unique())

-----------------cfam------------------
[3. 2. 4. 1. 6. 5.]
-----------------genertn------------------
[6. 2. 3. 4. 7. 5. 1.]
-----------------allownc------------------
[20. 10. 99.]
-----------------house------------------
[2. 3. 1. 9.]
-----------------live_t------------------
[2. 1. 3. 4.]
-----------------ainc_unit1------------------
[2. 1. 9.]

In [81]:
# 30:36 9, 99 제거
# 값 제거
for i in age18_1_column[30:36]:
    col_index = list(pre_age18_1.columns).index(i)

    # 99 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 99][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 9][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan

pre_age18_1.iloc[:,30:36]

      cfam  genertn  allownc  house  live_t  ainc_unit1
0      3.0      6.0     20.0    2.0     2.0         2.0
1      2.0      2.0     20.0    3.0     2.0         2.0
2      2.0      2.0     20.0    3.0     2.0         2.0
3      2.0      3.0     20.0    1.0     2.0         1.0
4      2.0      3.0     20.0    1.0     2.0         1.0
...    ...      ...      ...    ...     ...         ...
1648   2.0      2.0     20.0    2.0     1.0         1.0
1649   2.0      2.0     20.0    2.0     1.0         1.0
1650   1.0      1.0     20.0    3.0     1.0         2.0
1651   6.0      7.0     20.0    2.0     2.0         1.0
1652   3.0      5.0     20.0    2.0     2.0         2.0

[1653 rows x 6 columns]

In [82]:
# 확인
for i in pre_age18_1_column[30:36]:
    print('-----------------'+i+'------------------')
    print(pre_age18_1[i].unique())

-----------------cfam------------------
[3. 2. 4. 1. 6. 5.]
-----------------genertn------------------
[6. 2. 3. 4. 7. 5. 1.]
-----------------allownc------------------
[20. 10. nan]
-----------------house------------------
[ 2.  3.  1. nan]
-----------------live_t------------------
[2. 1. 3. 4.]
-----------------ainc_unit1------------------
[ 2.  1. nan]

In [83]:
# 각 컬럼 유니크 값
for i in pre_age18_1_column[36:37]:
    print('-----------------'+i+'------------------')
    print(pre_age18_1[i].unique())

-----------------ainc_1------------------
[8.00000e+01 1.50000e+03 9.08000e+02 1.80000e+04 1.00000e+04 9.99999e+05
 5.40000e+02 4.00000e+02 1.07000e+02 9.00000e+01 2.21100e+03 5.00000e+02
 1.50000e+02 1.78000e+02 8.30000e+01 2.50000e+02 1.57000e+02 2.60000e+02
 7.20000e+03 1.33200e+03 4.70000e+01 9.70000e+01 3.77000e+02 6.50000e+01
 4.35000e+02 1.80000e+02 1.00000e+02 9.36000e+02 1.97000e+02 3.00000e+02
 1.00000e+03 2.00000e+02 6.00000e+03 1.40000e+02 5.10000e+02 3.50000e+02
 8.51600e+03 2.13000e+02 7.50000e+02 4.40000e+02 1.33600e+04 8.90000e+02
 6.00000e+02 2.16000e+03 5.00000e+03 7.50000e+01 8.40000e+01 2.28000e+02
 8.60000e+01 7.70000e+01 2.09100e+03 4.71200e+03 4.50000e+02 1.60000e+02
 8.35000e+02 6.20000e+01 4.78000e+02 8.07600e+03 5.38400e+03 4.50000e+03
 2.36000e+02 4.80000e+03 4.42000e+02 1.70000e+04 2.16000e+02 8.00000e+02
 4.30000e+01 6.80000e+01 5.17000e+02 9.32000e+02 7.00000e+01 6.00000e+01
 8.20000e+02 5.15000e+02 5.00000e+01 3.38000e+03 1.30000e+04 8.42000e+03
 6.50000e+02 1.70000e+02 5.16000e+02 8.40000e+02 4.05000e+02 8.20000e+01
 9.24000e+02 1.42500e+03 1.30000e+02 4.00000e+01 8.22800e+03 1.19300e+04
 3.40000e+02 1.20000e+04 1.30000e+03 4.80000e+01 9.98000e+02 7.20000e+01
 1.76000e+02 3.36000e+03 4.35000e+03 5.30000e+01 2.06800e+03 1.30500e+03
 1.20000e+02 3.50000e+01 5.68000e+03 4.94000e+03 1.21200e+04 4.00000e+03
 5.50000e+02 6.30000e+02 1.98000e+03 6.27600e+03 4.97200e+03 5.31000e+02
 3.68000e+03 4.27000e+02 5.70000e+01 9.00000e+03 7.61200e+03 2.40000e+02
 7.40000e+01 3.48000e+02 1.95600e+03 7.40000e+03 3.30000e+01 2.40000e+03
 6.91000e+03 2.20000e+01 2.80000e+02 1.51200e+03 3.40000e+01 9.20000e+01
 9.30000e+01 1.66000e+02 3.80000e+02 8.50000e+01 5.10000e+01 2.00000e+01
 2.25000e+02 4.80000e+02 7.73600e+03 3.10800e+03 1.32000e+02 2.98000e+02
 2.70000e+03 2.50000e+01 2.87000e+02 2.08000e+02 9.02400e+03 4.78000e+03
 4.20000e+02 1.54800e+04 1.41000e+02 1.70400e+03 6.93000e+02 6.94000e+03
 1.20000e+03 1.68200e+03 7.43000e+03 3.94000e+02 1.55000e+03 7.25500e+03
 8.00000e+03 8.72000e+03 4.50400e+03 4.11000e+03 7.45500e+03 4.26000e+02
 5.78400e+03 6.32000e+03 1.10700e+04 4.90000e+03 3.00000e+03 5.29000e+03
 6.13000e+03 1.14000e+03 9.81000e+02 3.60000e+02 3.80000e+01 4.62000e+03
 4.44000e+03 2.41000e+02 1.13600e+04 6.60000e+03 1.73800e+04 5.88800e+03
 1.18000e+03 1.06800e+04 6.52000e+03 1.39400e+03 5.20000e+02 8.06000e+02
 2.00000e+03 4.90300e+03 3.16200e+03 1.12000e+04 7.92000e+02 6.24000e+03
 1.10000e+02 3.10700e+03 1.45000e+02 3.06000e+02 1.80000e+03 2.32400e+03
 3.64000e+03 2.42000e+03 1.58200e+03 5.20000e+01 4.72000e+02 1.25200e+04
 3.68400e+03 4.08000e+03 4.91000e+02 9.96400e+03 8.47000e+02 3.89000e+03
 3.22000e+03 8.76000e+03 1.97800e+03 2.59200e+03 1.17600e+04 1.14000e+04
 1.18700e+04 7.16000e+03 2.36000e+03 3.38400e+03 3.78000e+03 1.00400e+03
 1.53600e+03 7.96000e+02 1.76000e+03 1.03600e+03 2.50800e+03 1.06200e+03
 2.70000e+02 7.35000e+02 2.10400e+03 6.40000e+02 2.60000e+03 1.00600e+03
 8.88000e+02 1.08000e+03 6.80000e+02 8.58000e+02 8.64000e+02 7.80000e+01
 5.48800e+03 2.94000e+03 1.47000e+03 1.74000e+03 9.64000e+02 2.45600e+03
 3.94000e+03 8.18400e+03 7.68000e+03 9.06000e+02 3.66200e+03 3.84000e+03
 3.72000e+02 3.00000e+01 2.96000e+03 1.02000e+03 1.86400e+03 1.24400e+03
 1.38800e+03 2.86000e+03 7.25000e+03 5.80000e+03 2.42800e+03 6.10800e+03
 6.94000e+02 1.22000e+02 1.11000e+03 1.59000e+03 1.52000e+03 2.29200e+03
 1.28000e+03 2.90000e+02 3.70000e+02 4.58400e+03 7.64000e+03 3.60000e+03
 4.68000e+02 6.54000e+03 1.46400e+03 4.14000e+02 6.50000e+03 1.90000e+02
 7.00000e+03 8.65000e+03 5.70000e+02 5.50000e+01 4.64000e+02 1.35300e+03
 9.50000e+01 2.20000e+02 1.02600e+03 2.22000e+02 2.34000e+03 5.60000e+03
 2.12900e+03 2.97000e+03 1.12000e+02 3.76400e+03 3.57200e+03 2.30000e+02
 1.21000e+04 1.55160e+04 2.10000e+02 1.52400e+03 5.04000e+02 8.25000e+02
 5.15000e+03 1.38300e+03 1.33000e+04 2.01000e+03 8.12000e+03 1.16400e+03
 1.07000e+03 5.54000e+03 1.67000e+02 2.20000e+03 2.43000e+02 5.14000e+02
 1.20300e+03 8.10000e+03 1.19400e+04 5.53800e+03 1.49100e+03 4.13200e+03
 9.43000e+02 2.32000e+02 3.72000e+03 6.20000e+03 1.03600e+04 5.32000e+02
 3.36400e+03 4.50000e+01 2.90000e+03 2.80000e+03 5.60000e+02 6.76400e+03
 9.48800e+03 2.49800e+03 6.84000e+03 2.92800e+03 1.66300e+03 2.85000e+03
 1.82400e+03 1.87500e+03 4.13000e+03 4.26000e+03 4.91600e+03 3.24000e+03
 2.64000e+03 6.40000e+01 6.02400e+03 9.71000e+02 6.15000e+02 5.53600e+03
 2.77000e+02 8.56000e+03 2.94000e+02 3.30000e+03 3.50000e+03 1.11000e+02
 1.68600e+03 1.63200e+03 1.03000e+02 5.26000e+02 6.04000e+03 1.58400e+03
 2.84000e+02 1.24000e+02 2.87400e+03 1.26000e+03 1.98100e+03 6.20000e+02
 2.91000e+03 4.60000e+02 7.50000e+03 9.90000e+02 2.14000e+02 4.33600e+03
 3.49600e+03 9.00000e+02 7.80000e+03 4.70000e+03 1.10000e+04 3.20000e+02
 5.24000e+03 4.48000e+03 1.05130e+04 2.22500e+03 1.02800e+03 1.25000e+02
 7.48000e+02 4.20000e+01 2.35000e+02 2.59000e+02 3.08000e+03 1.06000e+03
 5.90000e+01 1.61000e+02 1.70000e+01 3.14000e+02 1.92000e+02 3.93000e+03
 4.90000e+02 5.19000e+02 6.30000e+01 6.83000e+02 4.15000e+02 1.12400e+04
 3.15000e+02 1.95000e+02 8.89000e+02 1.55000e+02 3.85200e+03 1.10000e+03
 1.36000e+02 3.70000e+03 8.09200e+03 7.60000e+03 8.17000e+03 1.19620e+04
 3.62300e+03 1.03000e+03 2.61000e+02 2.50000e+03 1.04000e+03 2.85600e+03
 2.12000e+02 2.05000e+02 8.24000e+02 3.20000e+01 1.25900e+03 7.84000e+02
 4.74400e+03 4.40400e+03 1.39000e+04 3.90000e+02 2.41200e+03 7.35200e+03
 1.94000e+02 2.14000e+03 5.59000e+03 3.80800e+03 2.56000e+03 3.83000e+03
 7.40000e+02 4.40000e+01 9.09000e+02 8.70000e+01 1.29000e+02 1.14800e+03
 6.72000e+02 7.25000e+02 1.32040e+04 1.74000e+02 4.78400e+03 3.30000e+02
 1.72000e+02 4.66000e+03 1.40000e+03 2.95600e+03 5.85000e+02 4.30000e+02
 3.32000e+02 1.50600e+03 2.40000e+01 5.20000e+03 9.66000e+02 1.89000e+02
 1.75000e+03 1.42000e+03 1.50000e+04 1.95000e+03 1.51000e+03 2.24000e+03
 2.34800e+03 7.27000e+02 7.32000e+02 5.03000e+02 9.24000e+03 2.89000e+03
 1.62000e+02 5.84000e+02 1.14400e+03 7.58000e+02 1.09800e+03 1.05000e+02
 2.80000e+01 3.78800e+03 6.36000e+02 2.10000e+03 1.08400e+03 9.92000e+02
 2.76000e+03 4.74000e+02 1.44200e+03 4.84000e+02 2.47800e+03 2.38000e+03
 5.43000e+02 1.56000e+03 1.96000e+03 1.34000e+02 2.88000e+03 4.56000e+03
 7.74000e+02 1.09900e+03 1.62000e+03 9.97600e+03 4.88000e+03 1.17380e+04
 2.54000e+03 1.45000e+03 2.65000e+02 6.90000e+02 1.01400e+03 1.44800e+03
 4.38000e+02 6.74000e+02 2.44000e+02 3.23000e+02 4.02000e+03 5.40000e+01
 2.97600e+03 4.40000e+03 2.34600e+03 5.90000e+02 1.02400e+03 8.24000e+03
 2.66400e+03 9.40000e+02 1.11500e+03 8.70000e+02 8.20000e+03 7.06200e+03
 9.60000e+01 4.25000e+02 1.50800e+03 4.34000e+02 1.90400e+03 1.32000e+03
 1.19100e+03 5.60000e+01 6.84000e+02 2.52000e+03 2.93000e+02 3.60000e+01
 1.07800e+03 4.60800e+03 8.22000e+02 4.10000e+02 4.00800e+03 3.43200e+03
 3.23600e+03 4.56400e+03 5.64000e+03 1.41600e+03 1.83400e+03 4.32000e+02
 1.40100e+03 1.20400e+03 7.70000e+02 8.92000e+02 1.34800e+03 1.66000e+03
 5.30000e+02 5.65000e+02 1.24000e+03 2.66000e+02 4.64000e+03 6.05000e+02
 1.23400e+03 1.01000e+03 2.63600e+03 2.34400e+03 4.70000e+02 5.42000e+03
 8.80000e+02 4.67000e+02 4.46000e+02 4.90000e+01 1.90000e+03 6.96000e+02
 2.19600e+03 9.12000e+02 2.35200e+03 1.76800e+03 7.43000e+02 2.50200e+03
 1.06800e+03 4.58000e+02 2.39600e+03 7.88400e+03 1.34400e+03 8.94000e+02
 1.77000e+03 3.96000e+02 2.30000e+03 6.67000e+02 6.66000e+03 4.33200e+03
 1.25000e+03 7.44000e+02 1.77600e+03 2.95400e+03 2.02000e+03 3.42000e+02
 1.38000e+03 1.19600e+03 2.53400e+03 2.25200e+03 6.96000e+03 1.38400e+03
 1.23800e+03 7.60000e+02 2.28000e+03 1.22400e+03 2.71000e+03 1.03300e+03
 3.64000e+02 1.37470e+04 9.88000e+02 5.28000e+02 3.09000e+03 7.79000e+02
 5.74000e+03 1.71400e+03 3.17000e+03 1.16640e+04 2.08600e+03 3.22000e+02
 9.45000e+02 8.45000e+02 2.84000e+03 1.70000e+03 1.15500e+03 2.44000e+03
 4.56000e+02 3.12000e+02 2.63400e+03 5.76000e+02 7.15000e+02 5.53000e+02
 1.76200e+03 2.46000e+03 7.41000e+03 7.20000e+02 3.09600e+03 3.61200e+03
 4.12000e+03 1.70500e+03 2.18400e+03 3.35800e+03 9.40000e+01 5.52000e+02
 2.92000e+03 3.65000e+03 4.75000e+03 9.54000e+02 9.84000e+02 4.61400e+03
 1.68000e+03 1.44000e+03 4.41000e+02 2.15000e+02 9.56000e+03 5.36000e+02
 9.30000e+02 2.04000e+02 6.71000e+02 8.40000e+03 1.30800e+03 5.34000e+03
 1.24700e+03 1.94400e+03 2.31000e+02 2.98400e+03 1.12600e+03 4.54000e+03
 2.74000e+03 2.22000e+03 8.50000e+02 2.23000e+03 7.30000e+02 1.94000e+03
 1.29000e+03 4.52000e+03 8.13000e+03]

In [84]:
# 36:37 (36) 999999 제거
# 값 제거
for i in age18_1_column[30:36]:
    col_index = list(pre_age18_1.columns).index(i)

    # 99 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 999999][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan


pre_age18_1.iloc[:,36:37]

      ainc_1
0       80.0
1     1500.0
2     1500.0
3      908.0
4      908.0
...      ...
1648  4520.0
1649  4520.0
1650    80.0
1651  8130.0
1652   110.0

[1653 rows x 1 columns]

In [85]:
# 확인
for i in pre_age18_1_column[36:37]:
    print('-----------------'+i+'------------------')
    print(pre_age18_1[i].unique())

-----------------ainc_1------------------
[8.00000e+01 1.50000e+03 9.08000e+02 1.80000e+04 1.00000e+04 9.99999e+05
 5.40000e+02 4.00000e+02 1.07000e+02 9.00000e+01 2.21100e+03 5.00000e+02
 1.50000e+02 1.78000e+02 8.30000e+01 2.50000e+02 1.57000e+02 2.60000e+02
 7.20000e+03 1.33200e+03 4.70000e+01 9.70000e+01 3.77000e+02 6.50000e+01
 4.35000e+02 1.80000e+02 1.00000e+02 9.36000e+02 1.97000e+02 3.00000e+02
 1.00000e+03 2.00000e+02 6.00000e+03 1.40000e+02 5.10000e+02 3.50000e+02
 8.51600e+03 2.13000e+02 7.50000e+02 4.40000e+02 1.33600e+04 8.90000e+02
 6.00000e+02 2.16000e+03 5.00000e+03 7.50000e+01 8.40000e+01 2.28000e+02
 8.60000e+01 7.70000e+01 2.09100e+03 4.71200e+03 4.50000e+02 1.60000e+02
 8.35000e+02 6.20000e+01 4.78000e+02 8.07600e+03 5.38400e+03 4.50000e+03
 2.36000e+02 4.80000e+03 4.42000e+02 1.70000e+04 2.16000e+02 8.00000e+02
 4.30000e+01 6.80000e+01 5.17000e+02 9.32000e+02 7.00000e+01 6.00000e+01
 8.20000e+02 5.15000e+02 5.00000e+01 3.38000e+03 1.30000e+04 8.42000e+03
 6.50000e+02 1.70000e+02 5.16000e+02 8.40000e+02 4.05000e+02 8.20000e+01
 9.24000e+02 1.42500e+03 1.30000e+02 4.00000e+01 8.22800e+03 1.19300e+04
 3.40000e+02 1.20000e+04 1.30000e+03 4.80000e+01 9.98000e+02 7.20000e+01
 1.76000e+02 3.36000e+03 4.35000e+03 5.30000e+01 2.06800e+03 1.30500e+03
 1.20000e+02 3.50000e+01 5.68000e+03 4.94000e+03 1.21200e+04 4.00000e+03
 5.50000e+02 6.30000e+02 1.98000e+03 6.27600e+03 4.97200e+03 5.31000e+02
 3.68000e+03 4.27000e+02 5.70000e+01 9.00000e+03 7.61200e+03 2.40000e+02
 7.40000e+01 3.48000e+02 1.95600e+03 7.40000e+03 3.30000e+01 2.40000e+03
 6.91000e+03 2.20000e+01 2.80000e+02 1.51200e+03 3.40000e+01 9.20000e+01
 9.30000e+01 1.66000e+02 3.80000e+02 8.50000e+01 5.10000e+01 2.00000e+01
 2.25000e+02 4.80000e+02 7.73600e+03 3.10800e+03 1.32000e+02 2.98000e+02
 2.70000e+03 2.50000e+01 2.87000e+02 2.08000e+02 9.02400e+03 4.78000e+03
 4.20000e+02 1.54800e+04 1.41000e+02 1.70400e+03 6.93000e+02 6.94000e+03
 1.20000e+03 1.68200e+03 7.43000e+03 3.94000e+02 1.55000e+03 7.25500e+03
 8.00000e+03 8.72000e+03 4.50400e+03 4.11000e+03 7.45500e+03 4.26000e+02
 5.78400e+03 6.32000e+03 1.10700e+04 4.90000e+03 3.00000e+03 5.29000e+03
 6.13000e+03 1.14000e+03 9.81000e+02 3.60000e+02 3.80000e+01 4.62000e+03
 4.44000e+03 2.41000e+02 1.13600e+04 6.60000e+03 1.73800e+04 5.88800e+03
 1.18000e+03 1.06800e+04 6.52000e+03 1.39400e+03 5.20000e+02 8.06000e+02
 2.00000e+03 4.90300e+03 3.16200e+03 1.12000e+04 7.92000e+02 6.24000e+03
 1.10000e+02 3.10700e+03 1.45000e+02 3.06000e+02 1.80000e+03 2.32400e+03
 3.64000e+03 2.42000e+03 1.58200e+03 5.20000e+01 4.72000e+02 1.25200e+04
 3.68400e+03 4.08000e+03 4.91000e+02 9.96400e+03 8.47000e+02 3.89000e+03
 3.22000e+03 8.76000e+03 1.97800e+03 2.59200e+03 1.17600e+04 1.14000e+04
 1.18700e+04 7.16000e+03 2.36000e+03 3.38400e+03 3.78000e+03 1.00400e+03
 1.53600e+03 7.96000e+02 1.76000e+03 1.03600e+03 2.50800e+03 1.06200e+03
 2.70000e+02 7.35000e+02 2.10400e+03 6.40000e+02 2.60000e+03 1.00600e+03
 8.88000e+02 1.08000e+03 6.80000e+02 8.58000e+02 8.64000e+02 7.80000e+01
 5.48800e+03 2.94000e+03 1.47000e+03 1.74000e+03 9.64000e+02 2.45600e+03
 3.94000e+03 8.18400e+03 7.68000e+03 9.06000e+02 3.66200e+03 3.84000e+03
 3.72000e+02 3.00000e+01 2.96000e+03 1.02000e+03 1.86400e+03 1.24400e+03
 1.38800e+03 2.86000e+03 7.25000e+03 5.80000e+03 2.42800e+03 6.10800e+03
 6.94000e+02 1.22000e+02 1.11000e+03 1.59000e+03 1.52000e+03 2.29200e+03
 1.28000e+03 2.90000e+02 3.70000e+02 4.58400e+03 7.64000e+03 3.60000e+03
 4.68000e+02 6.54000e+03 1.46400e+03 4.14000e+02 6.50000e+03 1.90000e+02
 7.00000e+03 8.65000e+03 5.70000e+02 5.50000e+01 4.64000e+02 1.35300e+03
 9.50000e+01 2.20000e+02 1.02600e+03 2.22000e+02 2.34000e+03 5.60000e+03
 2.12900e+03 2.97000e+03 1.12000e+02 3.76400e+03 3.57200e+03 2.30000e+02
 1.21000e+04 1.55160e+04 2.10000e+02 1.52400e+03 5.04000e+02 8.25000e+02
 5.15000e+03 1.38300e+03 1.33000e+04 2.01000e+03 8.12000e+03 1.16400e+03
 1.07000e+03 5.54000e+03 1.67000e+02 2.20000e+03 2.43000e+02 5.14000e+02
 1.20300e+03 8.10000e+03 1.19400e+04 5.53800e+03 1.49100e+03 4.13200e+03
 9.43000e+02 2.32000e+02 3.72000e+03 6.20000e+03 1.03600e+04 5.32000e+02
 3.36400e+03 4.50000e+01 2.90000e+03 2.80000e+03 5.60000e+02 6.76400e+03
 9.48800e+03 2.49800e+03 6.84000e+03 2.92800e+03 1.66300e+03 2.85000e+03
 1.82400e+03 1.87500e+03 4.13000e+03 4.26000e+03 4.91600e+03 3.24000e+03
 2.64000e+03 6.40000e+01 6.02400e+03 9.71000e+02 6.15000e+02 5.53600e+03
 2.77000e+02 8.56000e+03 2.94000e+02 3.30000e+03 3.50000e+03 1.11000e+02
 1.68600e+03 1.63200e+03 1.03000e+02 5.26000e+02 6.04000e+03 1.58400e+03
 2.84000e+02 1.24000e+02 2.87400e+03 1.26000e+03 1.98100e+03 6.20000e+02
 2.91000e+03 4.60000e+02 7.50000e+03 9.90000e+02 2.14000e+02 4.33600e+03
 3.49600e+03 9.00000e+02 7.80000e+03 4.70000e+03 1.10000e+04 3.20000e+02
 5.24000e+03 4.48000e+03 1.05130e+04 2.22500e+03 1.02800e+03 1.25000e+02
 7.48000e+02 4.20000e+01 2.35000e+02 2.59000e+02 3.08000e+03 1.06000e+03
 5.90000e+01 1.61000e+02 1.70000e+01 3.14000e+02 1.92000e+02 3.93000e+03
 4.90000e+02 5.19000e+02 6.30000e+01 6.83000e+02 4.15000e+02 1.12400e+04
 3.15000e+02 1.95000e+02 8.89000e+02 1.55000e+02 3.85200e+03 1.10000e+03
 1.36000e+02 3.70000e+03 8.09200e+03 7.60000e+03 8.17000e+03 1.19620e+04
 3.62300e+03 1.03000e+03 2.61000e+02 2.50000e+03 1.04000e+03 2.85600e+03
 2.12000e+02 2.05000e+02 8.24000e+02 3.20000e+01 1.25900e+03 7.84000e+02
 4.74400e+03 4.40400e+03 1.39000e+04 3.90000e+02 2.41200e+03 7.35200e+03
 1.94000e+02 2.14000e+03 5.59000e+03 3.80800e+03 2.56000e+03 3.83000e+03
 7.40000e+02 4.40000e+01 9.09000e+02 8.70000e+01 1.29000e+02 1.14800e+03
 6.72000e+02 7.25000e+02 1.32040e+04 1.74000e+02 4.78400e+03 3.30000e+02
 1.72000e+02 4.66000e+03 1.40000e+03 2.95600e+03 5.85000e+02 4.30000e+02
 3.32000e+02 1.50600e+03 2.40000e+01 5.20000e+03 9.66000e+02 1.89000e+02
 1.75000e+03 1.42000e+03 1.50000e+04 1.95000e+03 1.51000e+03 2.24000e+03
 2.34800e+03 7.27000e+02 7.32000e+02 5.03000e+02 9.24000e+03 2.89000e+03
 1.62000e+02 5.84000e+02 1.14400e+03 7.58000e+02 1.09800e+03 1.05000e+02
 2.80000e+01 3.78800e+03 6.36000e+02 2.10000e+03 1.08400e+03 9.92000e+02
 2.76000e+03 4.74000e+02 1.44200e+03 4.84000e+02 2.47800e+03 2.38000e+03
 5.43000e+02 1.56000e+03 1.96000e+03 1.34000e+02 2.88000e+03 4.56000e+03
 7.74000e+02 1.09900e+03 1.62000e+03 9.97600e+03 4.88000e+03 1.17380e+04
 2.54000e+03 1.45000e+03 2.65000e+02 6.90000e+02 1.01400e+03 1.44800e+03
 4.38000e+02 6.74000e+02 2.44000e+02 3.23000e+02 4.02000e+03 5.40000e+01
 2.97600e+03 4.40000e+03 2.34600e+03 5.90000e+02 1.02400e+03 8.24000e+03
 2.66400e+03 9.40000e+02 1.11500e+03 8.70000e+02 8.20000e+03 7.06200e+03
 9.60000e+01 4.25000e+02 1.50800e+03 4.34000e+02 1.90400e+03 1.32000e+03
 1.19100e+03 5.60000e+01 6.84000e+02 2.52000e+03 2.93000e+02 3.60000e+01
 1.07800e+03 4.60800e+03 8.22000e+02 4.10000e+02 4.00800e+03 3.43200e+03
 3.23600e+03 4.56400e+03 5.64000e+03 1.41600e+03 1.83400e+03 4.32000e+02
 1.40100e+03 1.20400e+03 7.70000e+02 8.92000e+02 1.34800e+03 1.66000e+03
 5.30000e+02 5.65000e+02 1.24000e+03 2.66000e+02 4.64000e+03 6.05000e+02
 1.23400e+03 1.01000e+03 2.63600e+03 2.34400e+03 4.70000e+02 5.42000e+03
 8.80000e+02 4.67000e+02 4.46000e+02 4.90000e+01 1.90000e+03 6.96000e+02
 2.19600e+03 9.12000e+02 2.35200e+03 1.76800e+03 7.43000e+02 2.50200e+03
 1.06800e+03 4.58000e+02 2.39600e+03 7.88400e+03 1.34400e+03 8.94000e+02
 1.77000e+03 3.96000e+02 2.30000e+03 6.67000e+02 6.66000e+03 4.33200e+03
 1.25000e+03 7.44000e+02 1.77600e+03 2.95400e+03 2.02000e+03 3.42000e+02
 1.38000e+03 1.19600e+03 2.53400e+03 2.25200e+03 6.96000e+03 1.38400e+03
 1.23800e+03 7.60000e+02 2.28000e+03 1.22400e+03 2.71000e+03 1.03300e+03
 3.64000e+02 1.37470e+04 9.88000e+02 5.28000e+02 3.09000e+03 7.79000e+02
 5.74000e+03 1.71400e+03 3.17000e+03 1.16640e+04 2.08600e+03 3.22000e+02
 9.45000e+02 8.45000e+02 2.84000e+03 1.70000e+03 1.15500e+03 2.44000e+03
 4.56000e+02 3.12000e+02 2.63400e+03 5.76000e+02 7.15000e+02 5.53000e+02
 1.76200e+03 2.46000e+03 7.41000e+03 7.20000e+02 3.09600e+03 3.61200e+03
 4.12000e+03 1.70500e+03 2.18400e+03 3.35800e+03 9.40000e+01 5.52000e+02
 2.92000e+03 3.65000e+03 4.75000e+03 9.54000e+02 9.84000e+02 4.61400e+03
 1.68000e+03 1.44000e+03 4.41000e+02 2.15000e+02 9.56000e+03 5.36000e+02
 9.30000e+02 2.04000e+02 6.71000e+02 8.40000e+03 1.30800e+03 5.34000e+03
 1.24700e+03 1.94400e+03 2.31000e+02 2.98400e+03 1.12600e+03 4.54000e+03
 2.74000e+03 2.22000e+03 8.50000e+02 2.23000e+03 7.30000e+02 1.94000e+03
 1.29000e+03 4.52000e+03 8.13000e+03]

In [86]:
# 각 컬럼 유니크 값
for i in pre_age18_1_column[ 37:40 ]:
    print('-----------------'+i+'------------------')
    print(pre_age18_1[i].unique())

-----------------ainc------------------
[  80.         1500.           75.66666667  833.33333333           nan
  540.          400.          107.           90.          184.25
  500.          150.          178.           83.          250.
  157.          260.          600.          111.           47.
   97.          377.           65.          435.          180.
  100.           78.          197.          300.         1000.
  200.          140.          510.          350.          709.66666667
  213.          750.          440.         1113.33333333  890.
  416.66666667   75.           84.          228.           86.
   77.          174.25        392.66666667  450.          160.
   69.58333333   62.          478.          673.          448.66666667
  375.          236.          442.         1416.66666667  216.
  800.           43.           68.           43.08333333   77.66666667
   70.           60.           68.33333333   42.91666667   50.
  281.66666667 1083.33333333  701.66666667  650.          170.
  405.           82.          118.75        130.           40.
  685.66666667  994.16666667  340.         1300.           48.
  998.           72.          176.          280.          362.5
   53.          172.33333333  108.75        120.           35.
  473.33333333  411.66666667 1010.          333.33333333  550.
  630.          165.          523.          414.33333333  531.
  306.66666667   35.58333333   57.          634.33333333  240.
   74.          348.          163.          616.66666667   33.
  575.83333333   22.          126.           34.           92.
   93.          166.           31.66666667   85.           51.
   20.          225.          480.          644.66666667  259.
  132.          298.           25.          287.           17.33333333
  752.          398.33333333  420.         1290.          141.
  142.           57.75        578.33333333  140.16666667  619.16666667
  394.          129.16666667  604.58333333  666.66666667  726.66666667
  375.33333333  342.5         621.25        426.          482.
  526.66666667  922.5         408.33333333  108.33333333  440.83333333
  510.83333333   95.           81.75         30.           38.
   36.66666667  385.          370.          241.          946.66666667
 1448.33333333  490.66666667   98.33333333  543.33333333  116.16666667
  520.           16.66666667   67.16666667  166.66666667  408.58333333
  263.5         933.33333333   66.          110.          258.91666667
  145.           25.5         193.66666667  303.33333333  201.66666667
  131.83333333   52.           39.33333333 1043.33333333  307.
   40.91666667  830.33333333   70.58333333  324.16666667  268.33333333
  730.          164.83333333  980.          950.          989.16666667
  596.66666667  196.66666667  282.          315.           83.66666667
  128.           66.33333333  146.66666667   86.33333333  209.
   88.5         270.           61.25         22.5         175.33333333
   53.33333333  216.66666667   83.83333333   56.66666667   71.5
  457.33333333  245.          122.5          80.33333333  204.66666667
  328.33333333  682.          640.           75.5         305.16666667
  320.           31.          246.66666667  155.33333333  103.66666667
  115.66666667  238.33333333  604.16666667  483.33333333  202.33333333
  509.           57.83333333  122.           92.5         132.5
  126.66666667  191.           33.75        106.66666667   28.33333333
   24.16666667   30.83333333  382.          636.66666667   39.
  545.           34.5         541.66666667  190.          583.33333333
  720.83333333  570.           55.          464.          112.75
  220.           85.5         222.          195.          466.66666667
  177.41666667  247.5         112.          313.66666667  297.66666667
  230.          932.         1008.33333333 1293.          210.
  127.           42.           68.75        429.16666667  115.25
 1108.33333333  167.5         676.66666667   89.16666667  461.66666667
  167.          183.33333333  243.           42.83333333  100.25
  675.          995.          461.5         124.25        344.33333333
   78.58333333  232.          310.          516.66666667  863.33333333
   44.33333333  280.33333333   45.          241.66666667  233.33333333
   46.66666667  563.66666667  790.66666667  208.16666667  244.
  138.58333333  237.5         152.          156.25        344.16666667
  355.          409.66666667   64.          502.           80.91666667
   51.25        461.33333333  277.          713.33333333   24.5
  275.          291.66666667  140.5         136.          103.
   43.83333333  503.33333333  284.          124.          239.5
  105.          165.08333333  620.          242.5         460.
  625.           82.5         214.          361.33333333  291.33333333
  900.          391.66666667  916.66666667  436.66666667  373.33333333
  876.08333333  185.41666667   85.66666667  125.           62.33333333
  235.          256.66666667   88.33333333   59.          161.
   17.          314.          192.           83.33333333  327.5
  490.          519.           63.           56.91666667  415.
  936.66666667   74.08333333  155.          321.           91.66666667
  308.33333333  674.33333333  633.33333333  680.83333333  360.
  290.          996.83333333  301.91666667   85.83333333  261.
  208.33333333   86.66666667  238.          212.          205.
   68.66666667   32.          104.91666667   65.33333333  395.33333333
  367.         1158.33333333  390.          201.          612.66666667
  194.          178.33333333  465.83333333  317.33333333  213.33333333
  319.16666667   61.66666667   44.           75.75         41.66666667
   87.          129.           95.66666667   43.33333333   56.
  725.         1100.33333333  174.          398.66666667  330.
  172.          388.33333333  116.66666667  246.33333333   48.75
  430.          332.          125.5          24.          433.33333333
   80.5         189.          145.83333333  118.33333333 1250.
  162.5         125.83333333  186.66666667  195.66666667   60.58333333
   61.           41.91666667   42.5         770.          240.83333333
  162.           48.66666667   95.33333333   63.16666667   91.5
   28.          315.66666667  175.           90.33333333   82.66666667
   39.5         120.16666667   40.33333333  206.5         198.33333333
   45.25        163.33333333  134.          380.           64.5
   91.58333333  135.          831.33333333  406.66666667   51.66666667
  978.16666667  211.66666667   23.33333333  120.83333333   20.83333333
  265.           57.5          84.5         120.66666667   36.5
   56.16666667   20.33333333   26.91666667  335.           54.
  248.          366.66666667  195.5          49.16666667   85.33333333
  686.66666667   78.33333333   26.25         92.91666667   72.5
  683.33333333  588.5          96.           35.41666667  125.66666667
   36.16666667  158.66666667   99.25         24.41666667   36.
   89.83333333  384.           68.5          34.16666667  334.
  286.          269.66666667  380.33333333  470.          118.
  152.83333333  116.75        100.33333333   64.16666667   74.33333333
  112.33333333  138.33333333   44.16666667   47.08333333  103.33333333
   22.16666667  386.66666667   50.41666667  102.83333333   84.16666667
  219.66666667   45.83333333  195.33333333   39.16666667  451.66666667
   73.33333333   38.91666667   40.83333333   37.16666667   49.
  158.33333333   58.          183.           76.          196.
  147.33333333   61.91666667  208.5          89.           38.16666667
  199.66666667  657.           74.5         147.5         191.66666667
   55.58333333  555.          361.          104.16666667  148.
  246.16666667  168.33333333   28.5         115.           99.66666667
  211.16666667  187.66666667  580.           26.16666667  115.33333333
  103.16666667   63.33333333  102.          225.83333333   32.5
   86.08333333   30.33333333 1145.58333333   82.33333333  257.5
   64.91666667  478.33333333  142.83333333  264.16666667  972.
  173.83333333  322.           78.75         70.41666667  236.66666667
  141.66666667   96.25        203.33333333   26.          219.5
   59.58333333   46.08333333  146.83333333  617.5         258.
  301.           21.66666667  343.33333333  142.08333333  182.
  279.83333333   94.           46.          243.33333333  304.16666667
  395.83333333   79.5         384.5          36.75        215.
  796.66666667   44.66666667   77.5          55.91666667  700.
  109.          445.          103.91666667  231.          248.66666667
   93.83333333  378.33333333  228.33333333  185.           70.83333333
  185.83333333   60.83333333   62.5         161.66666667  107.5
  376.66666667  677.5       ]
-----------------marri_1------------------
[1. 2.]
-----------------marri_2------------------
[ 3.  1.  4. 88.  2.  9.]

In [87]:
# 값 제거
for i in age18_1_column[ 38:40 ]:
    col_index = list(pre_age18_1.columns).index(i)

    # 8 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 8][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 9][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan
    
    # 88 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 88][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan
    
    # 99 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 99][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan

pre_age18_1.iloc[:,38:40]

      marri_1  marri_2
0         1.0      3.0
1         1.0      1.0
2         1.0      1.0
3         1.0      3.0
4         1.0      4.0
...       ...      ...
1648      1.0      1.0
1649      1.0      1.0
1650      1.0      3.0
1651      1.0      3.0
1652      1.0      3.0

[1653 rows x 2 columns]

In [88]:
# 확인
for i in pre_age18_1_column[ 38:40 ]:
    print('-----------------'+i+'------------------')
    print(pre_age18_1[i].unique())

-----------------marri_1------------------
[1. 2.]
-----------------marri_2------------------
[ 3.  1.  4. nan  2.]

### column 40:50

40. fam_rela 가구주와의 관계  
    1~10 : 본인 .. 10:비혈연  
    99 : 모름  

41. tins 건강보험종류  
    10, 20 : 국민건강보험(지역/직장) / 30 : 의료급여  
    99 : 미가입, 모름, 무응답

42. npins 민간의료보험가입여부  
    1 : 예 / 2 : 아니오  
    9 : 모름

43. id_F 아버지 아이디  
44. id_M 어머니 아이디  

45. D_1_1 주관적 건강상태  
    1~5 : 매우좋음/좋음/보통/나쁨/매우나쁨  
    9 : 모름

46. D_2_1 최근2주간 몸이 불편했던 경험 유무  
    1 : 예 / 2 : 아니오  
    9 : 모름  

47. D_2_wk 최근2주간 불편감일수  
    XX일  
    88 : 비해당 / 99 : 모름  

48. DI1_dg 고혈압 의사진단 여부  
    0 : 없음 / 1 : 있음  
    8 : 비해당 / 9 : 모름  

49. DI1_ag 고혈압 진단시기  
    0~79 세 / 80 : 80세이상  
    888 : 비해당 / 999 : 모름

In [89]:
# 컬럼 보기
pre_age18_1_column[ 40:50 ]

Index(['fam_rela', 'tins', 'npins', 'id_F', 'id_M', 'D_1_1', 'D_2_1', 'D_2_wk',
       'DI1_dg', 'DI1_ag'],
      dtype='object')

In [90]:
# 값 제거
for i in age18_1_column[ 40:50 ]:
    col_index = list(pre_age18_1.columns).index(i)

    # 88 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 88][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan
    
    # 99 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 99][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan

pre_age18_1.iloc[:, 40:50]

      fam_rela  tins  npins id_F  id_M  D_1_1  D_2_1  D_2_wk  DI1_dg  DI1_ag
0          6.0  20.0    2.0  NaN   NaN    3.0    2.0     NaN     1.0    75.0
1          1.0  10.0    1.0  NaN   NaN    1.0    2.0     NaN     0.0   888.0
2          2.0  10.0    1.0  NaN   NaN    3.0    2.0     NaN     1.0    74.0
3          1.0  20.0    2.0  NaN   NaN    1.0    2.0     NaN     0.0   888.0
4         10.0  30.0    2.0  NaN   NaN    3.0    2.0     NaN     1.0    69.0
...        ...   ...    ...  ...   ...    ...    ...     ...     ...     ...
1648       1.0  20.0    2.0  NaN   NaN    4.0    2.0     NaN     0.0   888.0
1649       2.0  20.0    2.0  NaN   NaN    4.0    1.0    14.0     0.0   888.0
1650       1.0  20.0    2.0  NaN   NaN    4.0    2.0     NaN     0.0   888.0
1651       6.0  20.0    2.0  NaN   NaN    4.0    2.0     NaN     0.0   888.0
1652       6.0  20.0    1.0  NaN   NaN    3.0    2.0     NaN     1.0    65.0

[1653 rows x 10 columns]

In [91]:
# 값 제거
for i in age18_1_column[ 40:47 ]:
    col_index = list(pre_age18_1.columns).index(i)

    # 8 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 8][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 9][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan


pre_age18_1.iloc[:, 40:47]

      fam_rela  tins  npins id_F  id_M  D_1_1  D_2_1
0          6.0  20.0    2.0  NaN   NaN    3.0    2.0
1          1.0  10.0    1.0  NaN   NaN    1.0    2.0
2          2.0  10.0    1.0  NaN   NaN    3.0    2.0
3          1.0  20.0    2.0  NaN   NaN    1.0    2.0
4         10.0  30.0    2.0  NaN   NaN    3.0    2.0
...        ...   ...    ...  ...   ...    ...    ...
1648       1.0  20.0    2.0  NaN   NaN    4.0    2.0
1649       2.0  20.0    2.0  NaN   NaN    4.0    1.0
1650       1.0  20.0    2.0  NaN   NaN    4.0    2.0
1651       6.0  20.0    2.0  NaN   NaN    4.0    2.0
1652       6.0  20.0    1.0  NaN   NaN    3.0    2.0

[1653 rows x 7 columns]

In [92]:
# 값 제거
for i in age18_1_column[ 48:50 ]:
    col_index = list(pre_age18_1.columns).index(i)

    # 8 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 8][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan
    
    # 9 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 9][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan


pre_age18_1.iloc[:, 48:50]

      DI1_dg  DI1_ag
0        1.0    75.0
1        0.0   888.0
2        1.0    74.0
3        0.0   888.0
4        1.0    69.0
...      ...     ...
1648     0.0   888.0
1649     0.0   888.0
1650     0.0   888.0
1651     0.0   888.0
1652     1.0    65.0

[1653 rows x 2 columns]

In [93]:
# 값 제거
for i in age18_1_column[ 48:50 ]:
    col_index = list(pre_age18_1.columns).index(i)

    # 888 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 888][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan
    
    # 999 제거
    pre_age18_1_index = pre_age18_1[pre_age18_1[i] == 999][i].index

    for j in list(pre_age18_1_index):
        pre_age18_1.iloc[j,col_index] = np.nan


pre_age18_1.iloc[:, 48:50]

      DI1_dg  DI1_ag
0        1.0    75.0
1        0.0     NaN
2        1.0    74.0
3        0.0     NaN
4        1.0    69.0
...      ...     ...
1648     0.0     NaN
1649     0.0     NaN
1650     0.0     NaN
1651     0.0     NaN
1652     1.0    65.0

[1653 rows x 2 columns]

### column 50:60

50. DI1_pt 고혈압 치료  
    8 : 비해당 / 9 : 모름

51. DI1_2 혈압조절제 복용  
    8 : 비해당 / 9 : 모름

52. DI2_dg 이상지질혈증 의사진단 여부  
    8 : 비해당 / 9 : 모름

53. DI2_ag 이상지질혈증 진단시기  
    0~80 나이  
    888 : 비해당 / 999 : 모름

54. DI2_pt 이상지질혈증 치료  
    8 : 비해당 / 9 : 모름

55. DI2_2 이상지질혈증 약복용  
    8 : 비해당 / 9 : 모름

56. DI3_dg 뇌졸중 의사진단여부  
    8 : 비해당 / 9 : 모름

57. DI3_ag 뇌졸중 진단시기
    0~80 나이  
    888 : 비해당 / 999 : 모름

58. DI3_pt 뇌졸중 치료  
    8 : 비해당 / 9 : 모름

59.

In [96]:
# 컬럼 보기
pre_age18_1_column[ 50:60 ]

Index(['DI1_pt', 'DI1_2', 'DI2_dg', 'DI2_ag', 'DI2_pt', 'DI2_2', 'DI3_dg',
       'DI3_ag', 'DI3_pt', 'DI3_2'],
      dtype='object')

In [97]:
# 각 컬럼 유니크 값
for i in pre_age18_1_column[ 50:60 ]:
    print('-----------------'+i+'------------------')
    print(pre_age18_1[i].unique())

-----------------DI1_pt------------------
[ 1.  8.  0. nan]
-----------------DI1_2------------------
[ 1.  8.  2.  5. nan  3.  4.]
-----------------DI2_dg------------------
[ 1.  0. nan  9.]
-----------------DI2_ag------------------
[ 75. 888.  59.  58.  71.  80.  64.  79.  65.  63.  nan  69.  60.  76.
  66.  49.  57.  72.  55.  73.  74.  53.  56.  45.  61.  62.  51.  43.
  50.  68.  70. 999.  42.  67.  77.  36.  78.  41.  54.  44.  40.  48.
  25.  52.  37.  47.]
-----------------DI2_pt------------------
[ 1.  8.  0. nan  9.]
-----------------DI2_2------------------
[ 1.  8.  3.  5. nan  2.  9.  4.]
-----------------DI3_dg------------------
[ 1.  0. nan  9.]
-----------------DI3_ag------------------
[ 80. 888.  79.  nan 999.  58.  65.  73.  74.  75.  64.  68.  77.  43.
  36.  63.  62.  76.  61.  69.  53.  57.  59.  38.  45.  42.  70.  72.
  55.  60.  56.  67.  52.  71.  47.  50.  44.  51.]
-----------------DI3_pt------------------
[ 0.  8.  1. nan  9.]
-----------------DI3_2------------------
[ 3.  8.  1. nan  9.  2.]

# 이동언 바보🤭

In [94]:
pre_age18_2

,id,DI1_pr,DI2_pr,DI3_pr,DI4_pr,DI5_pr,DM2_pr,DM3_pr,DM4_pr,DJ2_pr,...,DC1_pr,DC2_pr,DC3_pr,DC4_pr,DC5_pr,DC6_pr,DC7_pr,DK8_pr,DK9_pr,DK4_pr
0,b'A701020501',1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'A701021301',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A701021302',1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,b'A701023303',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A701023304',1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'R707025101',NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,b'R707025102',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1650,b'R707031101',NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1651,b'R708028503',NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652,b'R708028902',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
pre_age18_1

,mod_d,id,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,HEI_TVEG,HEI_VEG,HEI_PROTF,HEI_DAIRY,HEI_SFA,HEI_NA,HEI_SWEET,HEI_CHO,HEI_FAT,HEI_EN
0,b'2022.03.08',b'A701020501',b'A7010205',2018.0,1.0,1.0,2.0,b'A701',1.0,80.0,...,1.367163,0.775022,5.800000,0.000000,5.273475,10.000000,10.00000,5.000000,5.000000,0.000000
1,b'2022.03.08',b'A701021301',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',1.0,78.0,...,4.881043,1.641812,10.000000,10.000000,10.000000,3.418798,10.00000,4.345249,2.956568,5.000000
2,b'2022.03.08',b'A701021302',b'A7010213',2018.0,1.0,1.0,2.0,b'A701',2.0,75.0,...,3.367648,4.943629,4.849725,10.000000,0.000000,9.806158,10.00000,5.000000,5.000000,5.000000
3,b'2022.03.08',b'A701023303',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,80.0,...,4.619405,0.437024,1.951565,0.000000,10.000000,8.029505,10.00000,0.000000,0.000000,1.244134
4,b'2022.03.08',b'A701023304',b'A7010233',2018.0,1.0,1.0,2.0,b'A701',2.0,71.0,...,2.459564,3.503124,2.135875,10.000000,0.000000,10.000000,10.00000,3.477269,5.000000,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,b'2022.03.08',b'R707025101',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',1.0,80.0,...,4.416187,2.885425,10.000000,10.000000,0.000000,8.998990,10.00000,5.000000,5.000000,5.000000
1649,b'2022.03.08',b'R707025102',b'R7070251',2018.0,8.0,2.0,1.0,b'R707',2.0,78.0,...,5.000000,5.000000,10.000000,10.000000,4.507390,8.732486,10.00000,5.000000,5.000000,5.000000
1650,b'2022.03.08',b'R707031101',b'R7070311',2018.0,8.0,2.0,1.0,b'R707',2.0,72.0,...,4.272867,2.311358,8.429599,0.000000,10.000000,8.892053,10.00000,4.095630,4.206483,0.000000
1651,b'2022.03.08',b'R708028503',b'R7080285',2018.0,8.0,1.0,2.0,b'R708',2.0,66.0,...,3.398006,3.656502,10.000000,0.023505,10.000000,10.000000,10.00000,5.000000,5.000000,0.000000
1652,b'2022.03.08',b'R708028902',b'R7080289',2018.0,8.0,1.0,2.0,b'R708',2.0,73.0,...,5.000000,3.460232,2.940008,7.280000,6.332807,10.000000,7.98486,2.797653,5.000000,0.000000