### real에 해당하는 변수 설명서 제작

In [1]:
import pandas as pd

In [4]:
####
same = pd.read_csv('C:/sas_view/code/same_code_2.csv',index_col=0)
age_1 = pd.read_csv('C:/sas_view/data/real_data1.csv',index_col=0)
age_2 = pd.read_csv('C:/sas_view/data/real_data2.csv',index_col=0)

C:\Users\dkq50\AppData\Local\Temp\ipykernel_19196\313401726.py:3: DtypeWarning: Columns (31,32,202,265,277,288,291,331,372,399,411,437,443,464,475,482,510,518) have mixed types. Specify dtype option on import or set low_memory=False.
  age_1 = pd.read_csv('C:/sas_view/data/real_data1.csv',index_col=0)

In [8]:
for i in range(0,len(same)):
    same.iloc[i][0] = same.iloc[i][0].upper()

same

,변수명,변수설명7,변수설명8
0,MOD_D,최종 DB 수정일,최종 DB 수정일
1,ID,개인 아이디,개인 아이디
2,ID_FAM,가구 아이디,가구 아이디
3,YEAR,조사연도,조사연도
4,REGION,17개 시도,17개 시도
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌

In [9]:
var1 = list(age_1.columns)

In [10]:
####
var_list = []
for  i in range(0,len(same)):
    if same.loc[i][0].upper() in var1:
        var_list.append(i)

In [11]:
same.iloc[var_list]

,변수명,변수설명7,변수설명8
1,ID,개인 아이디,개인 아이디
2,ID_FAM,가구 아이디,가구 아이디
4,REGION,17개 시도,17개 시도
5,TOWN_T,동/읍면 구분,동/읍면 구분
6,APT_T,아파트 구분,아파트 구분
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌

### 2번째 방법 (isin)

In [13]:
same[same['변수명'].isin(var1)]

,변수명,변수설명7,변수설명8
1,ID,개인 아이디,개인 아이디
2,ID_FAM,가구 아이디,가구 아이디
4,REGION,17개 시도,17개 시도
5,TOWN_T,동/읍면 구분,동/읍면 구분
6,APT_T,아파트 구분,아파트 구분
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌