### real_data2 / reverse3_df 상관계수

In [2]:
# 라이브러리

import pandas as pd
import numpy as np

In [3]:
# 데이터 불러오기

# reverse3_df.csv
df = pd.read_csv('C:/sas_view/use_code/Data_Preprocessing/data/reverse3_df.csv', index_col = 0) 
# real_data2.csv
df2 = pd.read_csv('C:/sas_view/data/real_data2.csv', index_col = 0)

c:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (181,261) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df # reverse3_df

,ID,SEX,AGE,ALLOWNC,DI1_PT,DI1_2,DI2_2,DI3_2,DI4_PT,DI5_PT,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',2,78,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,1.0,480.0,480.0,128.4
1,b'A651417601',1,80,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,1.0,390.0,420.0,34.8
2,b'A652228901',1,66,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,2.0,390.0,390.0,269.8
3,b'A653184701',2,75,1.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,1.0,1.0,360.0,360.0,136.0
4,b'A653235705',2,79,0.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,2.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1,66,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,0.0,1.0,480.0,480.0,151.2
8399,b'R804205101',1,75,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,0.0,2.0,300.0,300.0,95.5
8400,b'R804205102',2,65,0.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,0.0,1.0,420.0,600.0,35.2
8401,b'R804344501',2,65,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,0.0,2.0,480.0,480.0,53.0
8402,b'R804371701',1,65,0.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,1.0,1.0,420.0,420.0,79.7

In [5]:
df2 # real_data2

,ID,DI1_PR,DI2_PR,DI3_PR,DI4_PR,DI5_PR,DM2_PR,DM3_PR,DM4_PR,DJ2_PR,...,DC1_PR,DC2_PR,DC3_PR,DC4_PR,DC5_PR,DC6_PR,DC7_PR,DK8_PR,DK9_PR,DK4_PR
0,b'A651228902',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,b'A651417601',1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A652228901',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'A653184701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A653235705',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8399,b'R804205101',0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8400,b'R804205102',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8401,b'R804344501',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8402,b'R804371701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dis = [] # 질병 리스트
var = [] # 변수 리스트
Cor = [] # 상관계수 리스트

for i in range(1, df2.shape[1]) : # shape : 행열의 개수 추출 / df2.shape[1] : 열의 수 (29)
    for j in range(1, df.shape[1]) : # df.shape[1] (334)
        try :
            corr = df2.iloc[ : , i].corr(df.iloc[ : , j])
            if ((corr >= .4) | (corr <= -.4)) & (corr != 1.000) : # 상관계수가 0.4 이상인 데이터 추출
                dis.append(df2.columns[i])
                var.append(df.columns[j])
                Cor.append(round(corr, 3))
                
        except :
            pass

c:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
c:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [7]:
# 상관계수 df

cor_df = pd.DataFrame({'dis':dis,  # {'변수명' : 데이터를 가지고 있는 리스트}
                       'var':var,
                       'Cor':Cor})
cor_df

        dis       var    Cor
0    DI1_PR    DI1_PT  0.820
1    DI1_PR     DI1_2  0.802
2    DI1_PR   DC12_PR -1.000
3    DI2_PR     DI2_2  0.780
4    DI2_PR  HE_HCHOL  0.682
..      ...       ...    ...
271  DK4_PR   DC11_PR -0.577
272  DK4_PR   DC11_PT -0.577
273  DK4_PR    DK4_PT  0.734
274  DK4_PR     BO1_2 -0.413
275  DK4_PR     BD2_1 -0.536

[276 rows x 3 columns]

In [8]:
# 변수사전 csv 파일 불러오기

same = pd.read_csv('C:/sas_view/code/same_code_2.csv', index_col = 0)
same

,변수명,변수설명7,변수설명8
0,mod_d,최종 DB 수정일,최종 DB 수정일
1,ID,개인 아이디,개인 아이디
2,ID_fam,가구 아이디,가구 아이디
3,year,조사연도,조사연도
4,region,17개 시도,17개 시도
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,Total_slp_wk,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,Total_slp_wd,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌

In [9]:
# same df '변수명' 대문자화

for i in range(0, len(same)) :
    same.iloc[i][0] = same.iloc[i][0].upper() 

same

,변수명,변수설명7,변수설명8
0,MOD_D,최종 DB 수정일,최종 DB 수정일
1,ID,개인 아이디,개인 아이디
2,ID_FAM,가구 아이디,가구 아이디
3,YEAR,조사연도,조사연도
4,REGION,17개 시도,17개 시도
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌

In [10]:
# cor_df 질병에 해당하는 변수의 수 ( 27개 )

dis_s = set(cor_df.iloc[ : , 0])
dis_s = list(dis_s)
print('cor_df 질병에 해당하는 변수의 수 : ', len(dis_s))

# cor_df 질병에 영향을 미치는 변수의 수 ( 117개 )
var_s = set(cor_df.iloc[:,1])
var_s = list(var_s)
print('cor_df 질병에 영향을 미치는 변수의 수 : ', len(var_s))

cor_df 질병에 해당하는 변수의 수 :  27
cor_df 질병에 영향을 미치는 변수의 수 :  117

In [11]:
# 질병과 그에 영향을 미치는 변수를 리스트에 담아주는 작업 실시

dis_list = []
var_list = []

for  i in range(0, len(same)) :
    if same.loc[i][0] in dis_s :
        dis_list.append(i)
    elif same.loc[i][0] in var_s :
        var_list.append(i)

print('질병 : ', len(dis_list), '\n' '변수 : ', len(var_list))

질병 :  27
변수 :  117

In [12]:
dis_df = same.iloc[dis_list] # 질병에 해당하는 사전
var_df = same.iloc[var_list] # 기본변수에 해당하는 사전

In [13]:
# 상관계수 df에 변수설명을 merge하기위해 변수사전에 있는 변수명을 cor_df에 맞추어 변경하는 작업 실시

dis_df.rename(columns = {'변수명' : 'dis', '변수설명7' : 'dis_설명'}, inplace = True) 
var_df.rename(columns = {'변수명' : 'var', '변수설명7' : 'var_설명'}, inplace = True)

c:\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [14]:
dis_df

        dis                 dis_설명                  변수설명8
38   DI1_PR          고혈압 현재 유병 여부           고혈압 현재 유병 여부
42   DI2_PR        이상지질혈증 현재 유병 여부        이상지질혈증 현재 유병 여부
47   DI4_PR  심근경색증 또는 협심증 현재 유병 여부  심근경색증 또는 협심증 현재 유병 여부
51   DI5_PR         심근경색증 현재 유병 여부         심근경색증 현재 유병 여부
55   DI6_PR           협심증 현재 유병 여부           협심증 현재 유병 여부
63   DM3_PR     류마티스성 관절염 현재 유병 여부     류마티스성 관절염 현재 유병 여부
67   DM4_PR          골다공증 현재 유병 여부          골다공증 현재 유병 여부
81   DC1_PR            위암 현재 유병 여부            위암 현재 유병 여부
100  DF2_PR           우울증 현재 유병 여부           우울증 현재 유병 여부
107  DJ6_PR          부비동염 현재 유병 여부          부비동염 현재 유병 여부
111  DH4_PR           중이염 현재 유병 여부           중이염 현재 유병 여부
452  DI3_PR          뇌졸중 현재 유병 여부            뇌졸중 현재 유병 여부
458  DJ2_PR          폐결핵 현재 유병 여부            폐결핵 현재 유병 여부
460  DJ4_PR           천식 현재 유병 여부             천식 현재 유병 여부
461  DE1_PR          당뇨병 현재 유병 여부            당뇨병 현재 유병 여부
469  DE2_PR       갑상선 질환 현재 유병 여부         갑상선 질환 현재 유병 여부
471  DC2_PR           간암 현재 유병 여부             간암 현재 유병 여부
473  DC3_PR          대장암 현재 유병 여부            대장암 현재 유병 여부
475  DC4_PR          유방암 현재 유병 여부            유방암 현재 유병 여부
477  DC5_PR        자궁경부암 현재 유병 여부          자궁경부암 현재 유병 여부
479  DC6_PR           폐암 현재 유병 여부             폐암 현재 유병 여부
481  DC7_PR         갑상선암 현재 유병 여부           갑상선암 현재 유병 여부
491  DL1_PR       아토피피부염 현재 유병 여부         아토피피부염 현재 유병 여부
493  DJ8_PR       알레르기비염 현재 유병 여부         알레르기비염 현재 유병 여부
496  DK8_PR         B형간염 현재 유병 여부           B형간염 현재 유병 여부
499  DK9_PR          C형간염 현재유병 여부           C형간염 현재 유병 여부
502  DK4_PR          간경변증 현재유병 여부           간경변증 현재 유병 여부

In [15]:
var_df

         var              var_설명               변수설명8
39    DI1_PT              고혈압 치료              고혈압 치료
40     DI1_2            혈압조절제 복용            혈압조절제 복용
43     DI2_2          이상지질혈증 약복용          이상지질혈증 약복용
45     DI3_2             뇌졸중 후유증             뇌졸중 후유증
48    DI4_PT     심근경색증 또는 협심증 치료     심근경색증 또는 협심증 치료
..       ...                 ...                 ...
741   DN1_PR       신부전 현재 유병 여부   콩팥병(신장질환) 현재 유병 여부
742   DN1_PT             신부전 치료         콩팥병(신장질환) 치료
744   BS12_2    (성인) 전자담배 현재사용여부     액상형 전자담배 현재사용여부
745  BS12_37  (성인) 평생사용담배종류: 찐담배     궐련형 전자담배 평생사용여부
746  BS12_47  (성인) 현재사용담배종류: 찐담배     궐련형 전자담배 현재사용여부

[117 rows x 3 columns]

In [18]:
# dis_df / var_df merge

cor_df2 = pd.merge(cor_df, dis_df.iloc[ : , [0, 1]]) # dis를 중심으로 merge
cor_df2 = pd.merge(cor_df2, var_df.iloc[ : , [0, 1]]) # var를 중심으로 merge
out_cor = cor_df2.sort_values('dis')
out_cor

        dis      var    Cor         dis_설명              var_설명
139  DC1_PR   DK4_PT  0.500    위암 현재 유병 여부            간경변증 치료
120  DC1_PR   DJ6_PT  0.612    위암 현재 유병 여부             부비동염 치료
155  DC1_PR  BS12_47 -1.000    위암 현재 유병 여부  (성인) 현재사용담배종류: 찐담배
20   DC1_PR   BE3_78 -0.577    위암 현재 유병 여부   여가_고강도 신체활동 시간(분)
39   DC1_PR   DC1_PT  0.772    위암 현재 유병 여부            위암 치료 여부
..      ...      ...    ...            ...                 ...
12   DM4_PR   DK9_PT -0.516  골다공증 현재 유병 여부            C형간염 치료
76   DM4_PR   DC6_PT  0.471  골다공증 현재 유병 여부           폐암 치료 여부
73   DM4_PR   DM4_PT  0.494  골다공증 현재 유병 여부             골다공증 치료
16   DM4_PR   BE3_78  0.821  골다공증 현재 유병 여부   여가_고강도 신체활동 시간(분)
48   DM4_PR   BE3_74 -0.479  골다공증 현재 유병 여부    일_고강도 신체활동 시간(분)

[276 rows x 5 columns]

In [17]:
# csv 파일로 저장

out_cor.to_csv('C:/sas_view/use_code/Data_Preprocessing/data/cor_rever3realdata.csv', encoding = 'cp949')

In [ ]:
# 진단 시기(_AG) 빼기 

#out_cor2 = out_cor[ ~ out_cor['var'].str.contains('_AG')]  # ' _AG'를 포함하고 있는 변수를 제외한 나머지 변수 추출
#len(set(out_cor2.iloc[ : , 1]))

In [17]:
# csv 파일로 저장

#out_cor.to_csv('C:/sas_view/use_code/Data_Preprocessing/data/out_cor.csv', encoding = 'cp949') # 진단시기 변수 포함
#out_cor2.to_csv('cor2_output.csv', encoding = 'cp949') # 진단시기 변수 빠짐