In [1]:
import pandas as pd

In [2]:
#1 데이터 불러오기

df = pd.read_csv('C:/sas_view/use_code/Data_Preprocessing/data/final_df.csv', index_col= 0)
df2 = pd.read_csv('C:/sas_view/use_code/Data_Preprocessing/data/pr_dg_pe.csv', index_col= 0)

In [3]:
dg = df2[['ID','DK4_DG']]
dg

                 ID  DK4_DG
0     b'A651228902'     0.0
1     b'A651417601'     0.0
2     b'A652228901'     0.0
3     b'A653184701'     0.0
4     b'A653235705'     0.0
...             ...     ...
8398  b'R804176202'     0.0
8399  b'R804205101'     0.0
8400  b'R804205102'     0.0
8401  b'R804344501'     0.0
8402  b'R804371701'     0.0

[8403 rows x 2 columns]

In [4]:
final_merge = pd.merge(df, dg)
final_merge

,ID,SEX,AGE,HE_HT,HE_WT,HE_BMI,LQ_3EQL,LQ_4EQL,LQ_5EQL,BO1_1,...,BP_PHQ_6,BP_PHQ_7,BP_PHQ_8,BP_PHQ_9,MH_PHQ_S,LF_BUYER,HE_FH,HE_SBP,HE_DBP,DK4_DG
0,b'A651228902',2,78,150.1,52.7,23.391024,1.0,2.0,1.0,3.0,...,0.0,0.0,0.0,0.0,2.0,NaN,1.0,109.0,67.0,0.0
1,b'A651417601',1,80,155.2,61.6,25.573919,1.0,1.0,2.0,NaN,...,0.0,0.0,0.0,0.0,6.0,2.0,0.0,135.0,76.0,0.0
2,b'A652228901',1,66,170.8,66.9,22.932446,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,128.0,82.0,0.0
3,b'A653184701',2,75,144.6,49.9,23.865139,2.0,3.0,3.0,3.0,...,3.0,0.0,0.0,1.0,19.0,1.0,1.0,124.0,70.0,0.0
4,b'A653235705',2,79,147.9,77.7,35.520958,1.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,143.0,71.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1,66,163.7,70.5,26.308238,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,131.0,85.0,0.0
8399,b'R804205101',1,75,163.1,69.5,26.126238,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,2.0,1.0,0.0,134.0,86.0,0.0
8400,b'R804205102',2,65,163.0,61.8,23.260190,1.0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,118.0,72.0,0.0
8401,b'R804344501',2,65,155.6,59.5,24.575241,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,2.0,1.0,1.0,122.0,86.0,0.0
8402,b'R804371701',1,65,171.5,76.3,25.941572,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,139.0,70.0,0.0

In [5]:
#2 결측치 확인 및 제거
final_merge.isnull().sum()

ID                 0
SEX                0
AGE                0
HE_HT            354
HE_WT            245
HE_BMI           355
LQ_3EQL          947
LQ_4EQL          952
LQ_5EQL          954
BO1_1            406
TOTAL_SLP_WK     557
TOTAL_SLP_WD     560
BE3_71           956
BE3_81           956
BE3_91           959
BE3_75           962
BE3_85           961
BD2_1           4496
LF_SAFE          968
BP1              420
SM_PRESNT        408
O_CHEW_D         413
L_BR_FQ          959
L_LN_FQ          959
L_DN_FQ          959
BH1              937
BE5_1            981
BP_PHQ_1        4052
BP_PHQ_2        4049
BP_PHQ_3        4051
BP_PHQ_4        4066
BP_PHQ_5        4043
BP_PHQ_6        4051
BP_PHQ_7        4053
BP_PHQ_8        4043
BP_PHQ_9        4048
MH_PHQ_S        4116
LF_BUYER         968
HE_FH            933
HE_SBP           274
HE_DBP           274
DK4_DG           919
dtype: int64

In [6]:
final_null = final_merge.drop(["BD2_1", "BP_PHQ_1", "BP_PHQ_2", "BP_PHQ_3", "BP_PHQ_4", "BP_PHQ_5", "BP_PHQ_6", "BP_PHQ_7", "BP_PHQ_8", "BP_PHQ_9", "MH_PHQ_S"], axis=1)
final_null.isnull().sum()

ID                0
SEX               0
AGE               0
HE_HT           354
HE_WT           245
HE_BMI          355
LQ_3EQL         947
LQ_4EQL         952
LQ_5EQL         954
BO1_1           406
TOTAL_SLP_WK    557
TOTAL_SLP_WD    560
BE3_71          956
BE3_81          956
BE3_91          959
BE3_75          962
BE3_85          961
LF_SAFE         968
BP1             420
SM_PRESNT       408
O_CHEW_D        413
L_BR_FQ         959
L_LN_FQ         959
L_DN_FQ         959
BH1             937
BE5_1           981
LF_BUYER        968
HE_FH           933
HE_SBP          274
HE_DBP          274
DK4_DG          919
dtype: int64

In [7]:
df_undr = final_merge.dropna()
df_dr = final_null.dropna()

In [8]:
#3 유병 변수 0, 1 파악

df_undr['DK4_DG'].value_counts()

0.0    1652
1.0       6
Name: DK4_DG, dtype: int64

In [9]:
df_dr['DK4_DG'].value_counts()

0.0    5871
1.0      38
Name: DK4_DG, dtype: int64