In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('C:/sas_view/data/real_data1_final.csv',index_col=0)
dic = pd.read_csv('VarDic.csv',encoding='cp949')
data.head()

C:\Users\dkq50\AppData\Local\Temp\ipykernel_7616\2196614888.py:1: DtypeWarning: Columns (31,32,240,252,361,372,414,425,432,467) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('C:/sas_view/data/real_data1_final.csv',index_col=0)

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN

In [6]:
dic.head()

      변수명      변수설명7      변수설명8  제거여부  설명동일여부  역순처리여부   내용  역순처리len  리스트
0   mod_d  최종 DB 수정일  최종 DB 수정일     1     NaN     NaN  NaN      NaN  NaN
1      ID     개인 아이디     개인 아이디     1     NaN     NaN  NaN      NaN  NaN
2  ID_fam     가구 아이디     가구 아이디     1     NaN     NaN  NaN      NaN  NaN
3    year       조사연도       조사연도     1     NaN     NaN  NaN      NaN  NaN
4  region     17개 시도     17개 시도     1     NaN     NaN  NaN      NaN  NaN

In [8]:
var = list(data.columns)
var

['ID',
 'ID_FAM',
 'REGION',
 'TOWN_T',
 'APT_T',
 'PSU',
 'SEX',
 'AGE',
 'INCM',
 'HO_INCM',
 'INCM5',
 'HO_INCM5',
 'EDU',
 'OCCP',
 'WT_HS',
 'WT_ITVEX',
 'WT_PFT',
 'WT_NTR',
 'WT_TOT',
 'WT_PFNT',
 'KSTRATA',
 'CFAM',
 'GENERTN',
 'ALLOWNC',
 'LIVE_T',
 'AINC',
 'MARRI_1',
 'MARRI_2',
 'FAM_RELA',
 'TINS',
 'ID_F',
 'ID_M',
 'D_2_WK',
 'DI1_DG',
 'DI1_AG',
 'DI1_PT',
 'DI1_2',
 'DI2_AG',
 'DI2_2',
 'DI3_AG',
 'DI3_2',
 'DI4_DG',
 'DI4_PT',
 'DI5_DG',
 'DI5_AG',
 'DI5_PT',
 'DI6_DG',
 'DI6_AG',
 'DI6_PT',
 'DM1_DG',
 'DM1_PR',
 'DM1_PT',
 'DM2_AG',
 'DM3_DG',
 'DM3_AG',
 'DM3_PT',
 'DM4_DG',
 'DM4_AG',
 'DM4_PT',
 'DJ2_AG',
 'DJ4_DG',
 'DJ4_AG',
 'DJ4_PT',
 'DJ4_3',
 'DE1_DG',
 'DE1_AG',
 'DE1_3',
 'DE1_4',
 'DE2_AG',
 'DC1_DG',
 'DC1_AG',
 'DC1_PT',
 'DC2_DG',
 'DC2_AG',
 'DC3_DG',
 'DC3_AG',
 'DC4_DG',
 'DC4_AG',
 'DC5_DG',
 'DC5_AG',
 'DC6_DG',
 'DC6_AG',
 'DC7_DG',
 'DC7_AG',
 'DC11_DG',
 'DC11_AG',
 'DC12_DG',
 'DC12_AG',
 'DF2_AG',
 'DL1_DG',
 'DL1_AG',
 'DJ8_DG',
 'DJ8_AG',
 'DJ6_DG',
 'DJ6_AG',
 'DJ6_PT',
 'DH4_DG',
 'DH4_AG',
 'DH4_PT',
 'DK8_AG',
 'DK9_AG',
 'DK4_AG',
 'M_2_YR',
 'MT_NONTRT',
 'BH2_61',
 'LQ4_00',
 'LQ1_SB',
 'LQ1_MN',
 'LQ2_AB',
 'LQ2_MN',
 'EQ5D',
 'AC3',
 'AC8_1_01',
 'AC8_1_02',
 'AC8_1_03',
 'MH1_YR',
 'MH1_1',
 'MO1_WK',
 'EC1_1',
 'EC_OCCP',
 'EC_STT_1',
 'EC_WHT_0',
 'EC_WHT_23',
 'EC_WHT_5',
 'EC_LGW_4',
 'EC_LGW_5',
 'EC_PEDU_1',
 'EC_PEDU_2',
 'BO3_01',
 'BO3_03',
 'BO3_14',
 'BO3_07',
 'BO3_09',
 'BO3_10',
 'BD2_31',
 'BD2_32',
 'BD7_4',
 'BD7_61',
 'BD7_62',
 'BD7_63',
 'BD7_64',
 'BD7_65',
 'BD7_66',
 'DR_MONTH',
 'BA2_12',
 'BA2_2_1',
 'BA2_2_2',
 'BA2_2_3',
 'BA2_2_4',
 'BA2_2_5',
 'BA2_2_6',
 'BA2_22',
 'SC_SEATBLT2',
 'BP_PHQ_1',
 'BP_PHQ_2',
 'BP_PHQ_3',
 'BP_PHQ_4',
 'BP_PHQ_5',
 'BP_PHQ_6',
 'BP_PHQ_7',
 'BP_PHQ_8',
 'BP_PHQ_9',
 'BP1',
 'BP5',
 'BP6_10',
 'BP6_2',
 'BP6_31',
 'BP7',
 'MH_STRESS',
 'SM_PRESNT',
 'BE8_1',
 'BE8_2',
 'BE3_31',
 'BE3_32',
 'BE3_33',
 'BE5_1',
 'PA_AEROBIC',
 'LW_MP_A',
 'LW_MS_A',
 'LW_BR',
 'LW_BR_CH',
 'LW_BR_DUR',
 'LW_BR_YY',
 'LW_BR_MM',
 'LW_OC',
 'HE_FST',
 'HE_HPDR',
 'HE_DMDR',
 'HE_MENS',
 'HE_PRG',
 'HE_FH',
 'HE_HPFH1',
 'HE_HPFH2',
 'HE_HPFH3',
 'HE_HLFH1',
 'HE_HLFH2',
 'HE_HLFH3',
 'HE_IHDFH1',
 'HE_IHDFH2',
 'HE_IHDFH3',
 'HE_STRFH1',
 'HE_STRFH2',
 'HE_STRFH3',
 'HE_DMFH1',
 'HE_DMFH2',
 'HE_DMFH3',
 'HE_THFH1',
 'HE_THFH2',
 'HE_THFH3',
 'HE_HBFH1',
 'HE_HBFH2',
 'HE_HBFH3',
 'HE_RPLS',
 'HE_MPLS',
 'HE_NARM',
 'HE_SBP1',
 'HE_DBP1',
 'HE_SBP2',
 'HE_DBP2',
 'HE_SBP3',
 'HE_DBP3',
 'HE_SBP',
 'HE_DBP',
 'HE_HP',
 'HE_HT',
 'HE_WT',
 'HE_WC',
 'HE_BMI',
 'HE_OBE',
 'HE_GLU',
 'HE_HBA1C',
 'HE_CHOL',
 'HE_HDL_ST2',
 'HE_TG',
 'HE_LDL_DRCT',
 'HE_HCHOL',
 'HE_HTG',
 'HE_AST',
 'HE_ALT',
 'HE_ALT_ETC',
 'HE_HEPAB',
 'HE_HEPAC',
 'HE_HB',
 'HE_HCT',
 'HE_ANEM',
 'HE_BUN',
 'HE_CREA',
 'HE_WBC',
 'HE_RBC',
 'HE_BPLT',
 'HE_UACID',
 'HE_UACID_ETC',
 'HE_UPH',
 'HE_UNITR',
 'HE_USG',
 'HE_UPRO',
 'HE_UGLU',
 'HE_UKET',
 'HE_UBIL',
 'HE_UBLD',
 'HE_URO',
 'HE_UCOT',
 'HE_UNA',
 'HE_UKAL',
 'HE_FVC',
 'HE_FVCP',
 'HE_FEV1',
 'HE_FEV1P',
 'HE_FEV1FVC',
 'HE_FEV6',
 'HE_FEF25_75',
 'HE_PEF',
 'HE_COPD',
 'HE_COUGH1',
 'HE_COUGH2',
 'HE_SPUT1',
 'HE_SPUT2',
 'HE_PFTDR',
 'HE_PFTAG',
 'HE_PFTTR',
 'HE_PFTHS',
 'OR1',
 'O_PAIN',
 'O_ORTHO',
 'BM1_0',
 'BM1_1',
 'BM1_2',
 'BM1_3',
 'BM1_4',
 'BM1_5',
 'BM1_6',
 'BM1_7',
 'BM1_8',
 'BM2_1',
 'BM2_3',
 'BM2_2',
 'BM2_4',
 'BM13',
 'BM7',
 'O_CHEW_D',
 'BM8',
 'OR1_2',
 'MO4_00',
 'MO4_8',
 'MO4_12',
 'BM14',
 'BM14_1',
 'T_Q_HR',
 'GS_USE',
 'GS_MEA_R_1',
 'GS_MEA_R_2',
 'GS_MEA_R_3',
 'GS_MEA_L_1',
 'GS_MEA_L_2',
 'GS_MEA_L_3',
 'L_BR',
 'L_LN',
 'L_DN',
 'L_BR_FQ',
 'L_LN_FQ',
 'L_DN_FQ',
 'L_OUT_FQ',
 'L_BR_TO',
 'L_BR_WHO',
 'L_LN_TO',
 'L_LN_WHO',
 'L_DN_TO',
 'L_DN_WHO',
 'LS_1YR',
 'LK_EDU',
 'LK_LB_CO',
 'LK_LB_US',
 'LK_LB_IT',
 'LK_LB_EF',
 'N_DIET',
 'N_DIET_WHY',
 'N_WAT_C',
 'LF_SECUR_Y',
 'LF_BUYER',
 'LF_SAFE',
 'WT_OE',
 'HOUSE',
 'AINC_UNIT1',
 'AINC_1',
 'NPINS',
 'D_1_1',
 'D_2_1',
 'DI2_DG',
 'DI2_PT',
 'DI3_DG',
 'DI3_PT',
 'DM2_DG',
 'DM2_PT',
 'DJ2_DG',
 'DJ2_PT',
 'DE1_PT',
 'DE1_31',
 'DE1_32',
 'DE1_33',
 'DE1_34',
 'DE1_35',
 'DE2_DG',
 'DE2_PT',
 'DC2_PT',
 'DC3_PT',
 'DC4_PT',
 'DC5_PT',
 'DC6_PT',
 'DC7_PT',
 'DC11_PR',
 'DC11_PT',
 'DC12_TP',
 'DC12_PR',
 'DC12_PT',
 'DF2_DG',
 'DF2_PT',
 'DL1_PT',
 'DJ8_PT',
 'DK8_DG',
 'DK8_PT',
 'DK9_DG',
 'DK9_PT',
 'DK4_DG',
 'DK4_PT',
 'BH9_11',
 'BH1',
 'BH1_1',
 'BH1_2',
 'BH1_3',
 'BH1_8',
 'BH1_6',
 'BH2_62',
 'BH2_63',
 'BH2_66',
 'BH2_67',
 'BH2_64',
 'LQ_1EQL',
 'LQ_2EQL',
 'LQ_3EQL',
 'LQ_4EQL',
 'LQ_5EQL',
 'AC1_YR',
 'AC3_1_01',
 'AC3_1_02',
 'AC3_1_03',
 'AC3_2_01',
 'AC3_2_02',
 'AC3_2_03',
 'IJ_EXPR',
 'MO1_1',
 'EDUC',
 'GRADUAT',
 'EC_STT_2',
 'EC_WHT_6',
 'EC_LGW_2',
 'BO1',
 'BO1_1',
 'BO1_2',
 'BO1_3',
 'BO2_1',
 'BO3_02',
 'BO3_05',
 'BO3_04',
 'BO3_12',
 'BO3_11',
 'BD1',
 'BD2',
 'BD1_11',
 'BD2_1',
 'BD2_14',
 'BD7_5',
 'BD7_67',
 'BA2_13',
 'BA1_3',
 'SC_SEATBLT',
 'MH_PHQ_S',
 'BS1_1',
 'BS2_1',
 'BS3_1',
 'BS3_2',
 'BS3_3',
 'BS6_2',
 'BS6_2_1',
 'BS6_2_2',
 'BS6_3',
 'BS6_4',
 'BS6_4_1',
 'BS6_4_2',
 'BS5_4',
 'BS5',
 'BS5_1',
 'BS5_21',
 'BS5_28',
 'BS5_26',
 'BS5_33',
 'BS5_34',
 'BS5_32',
 'BS5_29',
 'BS5_30',
 'BS8_2',
 'BS9_2',
 'BS13',
 'BS12_31',
 'BS12_32',
 'BS12_33',
 'BS12_34',
 'BS12_35',
 'BS12_36',
 'BS12_41',
 'BS12_42',
 'BS12_43',
 'BS12_44',
 'BS12_46',
 'BE3_71',
 'BE3_72',
 'BE3_73',
 'BE3_74',
 'BE3_81',
 'BE3_82',
 'BE3_83',
 'BE3_84',
 'BE3_91',
 'BE3_92',
 'BE3_93',
 'BE3_94',
 'BE3_75',
 'BE3_76',
 'BE3_77',
 'BE3_78',
 'BE3_85',
 'BE3_86',
 'BE3_87',
 'BE3_88',
 'LW_MS',
 'LW_PR',
 'LW_PR_1',
 'LW_MT',
 'LW_MT_A1',
 'LW_MT_A2',
 'BM2_5',
 'MO4_4',
 'MO4_9',
 'MO4_7',
 'MO4_17',
 'MO4_11',
 'MO4_18',
 'MO4_15',
 'T_EX',
 'T_Q_VN',
 'N_INTK',
 'N_EN',
 'N_WATER',
 'N_PROT',
 'N_FAT',
 'N_SFA',
 'N_MUFA',
 'N_PUFA',
 'N_N3',
 'N_N6',
 'N_CHOL',
 'N_CHO',
 'N_TDF',
 'N_SUGAR',
 'N_CA',
 'N_PHOS',
 'N_FE',
 'N_NA',
 'N_K',
 'N_VA_RAE',
 'N_CAROT',
 'N_RETIN',
 'N_B1',
 'N_B2',
 'N_NIAC',
 'N_FOLATE',
 'N_VITC',
 'DN1_DG',
 'DN1_AG',
 'DN1_PR',
 'DN1_PT',
 'BS12_1',
 'BS12_2',
 'BS12_37',
 'BS12_47',
 'T_NQ_OCP',
 'HE_DM',
 'TOTAL_SLP_WK',
 'TOTAL_SLP_WD',
 'HE_UCREA']

In [13]:
dic.loc[:,'변수명'] = [i.upper() for i in dic.loc[:,'변수명']]
dic.head()

      변수명      변수설명7      변수설명8  제거여부  설명동일여부  역순처리여부   내용  역순처리len  리스트
0   MOD_D  최종 DB 수정일  최종 DB 수정일     1     NaN     NaN  NaN      NaN  NaN
1      ID     개인 아이디     개인 아이디     1     NaN     NaN  NaN      NaN  NaN
2  ID_FAM     가구 아이디     가구 아이디     1     NaN     NaN  NaN      NaN  NaN
3    YEAR       조사연도       조사연도     1     NaN     NaN  NaN      NaN  NaN
4  REGION     17개 시도     17개 시도     1     NaN     NaN  NaN      NaN  NaN

In [18]:
dic[dic.loc[:,'변수명'].isin(var)]

,변수명,변수설명7,변수설명8,제거여부,설명동일여부,역순처리여부,내용,역순처리len,리스트
1,ID,개인 아이디,개인 아이디,1,NaN,NaN,NaN,NaN,NaN
2,ID_FAM,가구 아이디,가구 아이디,1,NaN,NaN,NaN,NaN,NaN
4,REGION,17개 시도,17개 시도,1,NaN,NaN,NaN,NaN,NaN
5,TOWN_T,동/읍면 구분,동/읍면 구분,1,NaN,NaN,NaN,NaN,NaN
6,APT_T,아파트 구분,아파트 구분,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출,0,NaN,NaN,NaN,NaN,NaN
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상),0,NaN,NaN,NaN,NaN,NaN
749,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간,0,NaN,NaN,NaN,NaN,NaN
750,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간",0,NaN,NaN,NaN,NaN,NaN
751,HE_UCREA,요크레아티닌,요크레아티닌,0,NaN,NaN,NaN,NaN,NaN

In [17]:
dic[dic.loc[:,'변수명'].isin(var)].to_csv('diccsv.csv',encoding='cp949')