In [168]:
import pandas as pd
concat_age1 = pd.read_csv('concat_age1.csv', index_col = 0)
concat_age2 = pd.read_csv('concat_age2.csv', index_col = 0)

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,183,193,200,249,274,374,385,425,568,629,687,692,693,699,701,702,703,704,708,710,712,730,731,738,740,744,745,746,751,783,820,823,842,845,881) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [169]:
# concat_age1 --> 유병여부 컬럼을 제외한 나머지 컬럼들로 구성된 실제 데이터(5개년치)
concat_age1

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,LF_SECUR_G,AC3_1_03,AC3_2_03,AC8_1_03,BS12_47_4,HE_PLS_30,HE_UCREA_ETC,MO4_17_1,MO4_17_2,T_TYMP_DIS
0,b'A651228902',b'A6512289',1.0,1.0,2.0,b'A651',2.0,78.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'A651417601',b'A6514176',1.0,1.0,2.0,b'A651',1.0,80.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A652228901',b'A6522289',1.0,1.0,2.0,b'A652',1.0,66.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'A653184701',b'A6531847',1.0,1.0,1.0,b'A653',2.0,75.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A653235705',b'A6532357',1.0,1.0,1.0,b'A653',2.0,79.0,4.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8.0,1.0,2.0,b'R804',1.0,66.0,2.0,2.0,...,1.0,NaN,NaN,NaN,NaN,34.0,NaN,1.0,0.0,0.0
8399,b'R804205101',b'R8042051',8.0,1.0,2.0,b'R804',1.0,75.0,4.0,2.0,...,1.0,NaN,NaN,NaN,NaN,31.0,NaN,0.0,0.0,0.0
8400,b'R804205102',b'R8042051',8.0,1.0,2.0,b'R804',2.0,65.0,3.0,2.0,...,1.0,NaN,NaN,NaN,NaN,32.0,NaN,NaN,NaN,0.0
8401,b'R804344501',b'R8043445',8.0,1.0,2.0,b'R804',2.0,65.0,2.0,2.0,...,1.0,NaN,NaN,NaN,NaN,38.0,NaN,1.0,1.0,0.0
8402,b'R804371701',b'R8043717',8.0,1.0,2.0,b'R804',1.0,65.0,2.0,2.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0

In [170]:
# concat_age2 --> 유병여부 컬럼으로 구성된 실제 데이터(5개년치)
concat_age2

,ID,DI1_PR,DI2_PR,DI3_PR,DI4_PR,DI5_PR,DM2_PR,DM3_PR,DM4_PR,DJ2_PR,...,DC1_PR,DC2_PR,DC3_PR,DC4_PR,DC5_PR,DC6_PR,DC7_PR,DK8_PR,DK9_PR,DK4_PR
0,b'A651228902',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,b'A651417601',1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A652228901',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'A653184701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A653235705',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8399,b'R804205101',0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8400,b'R804205102',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8401,b'R804344501',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8402,b'R804371701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
# same_code_2 --> 최종 변수설명서
same_code_2 = pd.read_csv('C:/Users/User/VS_code/sas_view/code/same_code_2.csv', index_col = 0)

In [172]:
same_code_2

,변수명,변수설명7,변수설명8
0,mod_d,최종 DB 수정일,최종 DB 수정일
1,ID,개인 아이디,개인 아이디
2,ID_fam,가구 아이디,가구 아이디
3,year,조사연도,조사연도
4,region,17개 시도,17개 시도
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,Total_slp_wk,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,Total_slp_wd,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌

In [173]:
# col_up --> 변수설명서에 있는 컬럼명을 대문자화 한 것
col_up = []
for i in list(same_code_2['변수명'].values):
    col_up.append(i.upper())

len(col_up)

752

In [174]:
# 변수설명서에는 있지만 실제 데이터(concat_age1)에는 없는 변수들(pr-유병여부 포함)을 제거
for i in ['MOD_D', 'YEAR', 'AGE_MONTH', 'DI1_PR', 'DI2_PR', 'DI4_PR', 'DI5_PR', 'DI6_PR', 'DM3_PR', 'DM4_PR', 'DC1_PR', 'DF2_PR', 'DJ6_PR', 'DH4_PR', 'AC8_1_04', 'AC8_1_05', 'BA1_1', 'BA1_2', 'HE_DPRG', 'HE_WT_PCT', 'HE_BMI_PCT', 'Y_BTH_WT', 'Y_MTM_YN', 'Y_MTM_S1', 'Y_MTM_S2', 'Y_MTM_D1', 'Y_MTM_D2', 'Y_FM_YN', 'Y_FM_S1', 'Y_FM_S2', 'Y_FM_D1', 'Y_FM_D2', 'Y_MLK_ST', 'Y_WN_ST', 'Y_SUP_YN', 'Y_SUP_KD1', 'Y_SUP_KD3', 'Y_SUP_KD4', 'Y_SUP_KD7', 'N_PRG', 'N_BFD_Y', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P', 'N_MTYPE', 'N_MEAL_W', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_ENAME', 'N_FD_NS', 'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3', 'DI3_PR', 'DM2_PR', 'DJ2_PR', 'DJ4_PR', 'DE1_PR', 'DE2_PR', 'DC2_PR', 'DC3_PR', 'DC4_PR', 'DC5_PR', 'DC6_PR', 'DC7_PR', 'DL1_PR', 'DJ8_PR', 'DK8_PR', 'DK9_PR', 'DK4_PR', 'LQ4_17', 'LQ4_18', 'LQ4_19', 'LQ4_20', 'AC3_1_04', 'AC3_1_05', 'AC3_2_04', 'AC3_2_05', 'AC8_1E_01', 'AC8_1E_02', 'AC8_1E_03', 'AC8_1E_04', 'AC8_1E_05', 'BS12_45', 'N_KINDG1', 'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_SFA', 'NF_MUFA', 'NF_PUFA', 'NF_N3', 'NF_N6', 'NF_10_0', 'NF_12_0', 'NF_14_0', 'NF_16_0', 'NF_18_0', 'NF_20_0', 'NF_22_0', 'NF_24_0', 'NF_14_1', 'NF_16_1', 'NF_18_1', 'NF_20_1', 'NF_22_1', 'NF_24_1', 'NF_18_2N6', 'NF_18_3N3', 'NF_18_3N6', 'NF_18_4', 'NF_20_2', 'NF_20_3N6', 'NF_20_4N6', 'NF_20_5N3', 'NF_22_2', 'NF_22_5', 'NF_22_6N3', 'NF_CHOL', 'NF_CHO', 'NF_TDF', 'NF_SUGAR', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA_RAE', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_FOLATE', 'NF_VITC']:
    col_up.remove(i)
len(col_up)

605

In [175]:
# real_data1 --> 실제데이터(concat_age1)에서 변수설명서에 있는 컬럼들만 뽑아낸 것
# real_data2 --> concat_age2(유병여부 컬럼으로 구성된 실제 데이터)
real_data1 = concat_age1[col_up]
real_data2 = concat_age2

In [176]:
real_data1.to_csv('real_data1.csv', encoding='cp949')
real_data2.to_csv('real_data2.csv', encoding='cp949')

In [177]:
# 실제데이터에 사용된 컬럼은 605개 
# --> 변수설명서에서도 실제로 활용된 컬럼만 남기는 작업 진행
print(col_up)
print(len(col_up))

['ID', 'ID_FAM', 'REGION', 'TOWN_T', 'APT_T', 'PSU', 'SEX', 'AGE', 'INCM', 'HO_INCM', 'INCM5', 'HO_INCM5', 'EDU', 'OCCP', 'WT_HS', 'WT_ITVEX', 'WT_PFT', 'WT_NTR', 'WT_TOT', 'WT_PFNT', 'KSTRATA', 'CFAM', 'GENERTN', 'ALLOWNC', 'LIVE_T', 'AINC', 'MARRI_1', 'MARRI_2', 'FAM_RELA', 'TINS', 'ID_F', 'ID_M', 'D_2_WK', 'DI1_DG', 'DI1_AG', 'DI1_PT', 'DI1_2', 'DI2_AG', 'DI2_2', 'DI3_AG', 'DI3_2', 'DI4_DG', 'DI4_PT', 'DI5_DG', 'DI5_AG', 'DI5_PT', 'DI6_DG', 'DI6_AG', 'DI6_PT', 'DM1_DG', 'DM1_PR', 'DM1_PT', 'DM2_AG', 'DM3_DG', 'DM3_AG', 'DM3_PT', 'DM4_DG', 'DM4_AG', 'DM4_PT', 'DJ2_AG', 'DJ4_DG', 'DJ4_AG', 'DJ4_PT', 'DJ4_3', 'DE1_DG', 'DE1_AG', 'DE1_3', 'DE1_4', 'DE2_AG', 'DC1_DG', 'DC1_AG', 'DC1_PT', 'DC2_DG', 'DC2_AG', 'DC3_DG', 'DC3_AG', 'DC4_DG', 'DC4_AG', 'DC5_DG', 'DC5_AG', 'DC6_DG', 'DC6_AG', 'DC7_DG', 'DC7_AG', 'DC11_DG', 'DC11_AG', 'DC12_DG', 'DC12_AG', 'DF2_AG', 'DL1_DG', 'DL1_AG', 'DJ8_DG', 'DJ8_AG', 'DJ6_DG', 'DJ6_AG', 'DJ6_PT', 'DH4_DG', 'DH4_AG', 'DH4_PT', 'DK8_AG', 'DK9_AG', 'DK4_AG', 'M_2_YR', 'MT_NONTRT', 'BH2_61', 'LQ4_00', 'LQ4_01', 'LQ4_02', 'LQ4_03', 'LQ4_04', 'LQ4_05', 'LQ4_06', 'LQ4_07', 'LQ4_08', 'LQ4_09', 'LQ4_10', 'LQ4_11', 'LQ4_12', 'LQ4_13', 'LQ4_14', 'LQ4_15', 'LQ4_16', 'LQ4_21', 'LQ4_22', 'LQ4_25', 'LQ4_26', 'LQ4_27', 'LQ4_28', 'LQ4_29', 'LQ4_23', 'LQ1_SB', 'LQ1_MN', 'LQ2_AB', 'LQ2_MN', 'EQ5D', 'AC3', 'AC8_1_01', 'AC8_1_02', 'AC8_1_03', 'MH1_YR', 'MH1_1', 'MO1_WK', 'EC1_1', 'EC_OCCP', 'EC_STT_1', 'EC_WHT_0', 'EC_WHT_23', 'EC_WHT_5', 'EC_LGW_4', 'EC_LGW_5', 'EC_PEDU_1', 'EC_PEDU_2', 'BO3_01', 'BO3_03', 'BO3_14', 'BO3_07', 'BO3_09', 'BO3_10', 'BD2_31', 'BD2_32', 'BD7_4', 'BD7_61', 'BD7_62', 'BD7_63', 'BD7_64', 'BD7_65', 'BD7_66', 'DR_MONTH', 'BA2_12', 'BA2_2_1', 'BA2_2_2', 'BA2_2_3', 'BA2_2_4', 'BA2_2_5', 'BA2_2_6', 'BA2_22', 'SC_SEATBLT2', 'BP_PHQ_1', 'BP_PHQ_2', 'BP_PHQ_3', 'BP_PHQ_4', 'BP_PHQ_5', 'BP_PHQ_6', 'BP_PHQ_7', 'BP_PHQ_8', 'BP_PHQ_9', 'BP1', 'BP5', 'BP6_10', 'BP6_2', 'BP6_31', 'BP7', 'MH_STRESS', 'SM_PRESNT', 'BE8_1', 'BE8_2', 'BE3_31', 'BE3_32', 'BE3_33', 'BE5_1', 'PA_AEROBIC', 'LW_MP_E', 'LW_MP_A', 'LW_MS_A', 'LW_BR', 'LW_BR_CH', 'LW_BR_DUR', 'LW_BR_YY', 'LW_BR_MM', 'LW_OC', 'HE_FST', 'HE_HPDR', 'HE_DMDR', 'HE_MENS', 'HE_PRG', 'HE_FH', 'HE_HPFH1', 'HE_HPFH2', 'HE_HPFH3', 'HE_HLFH1', 'HE_HLFH2', 'HE_HLFH3', 'HE_IHDFH1', 'HE_IHDFH2', 'HE_IHDFH3', 'HE_STRFH1', 'HE_STRFH2', 'HE_STRFH3', 'HE_DMFH1', 'HE_DMFH2', 'HE_DMFH3', 'HE_THFH1', 'HE_THFH2', 'HE_THFH3', 'HE_HBFH1', 'HE_HBFH2', 'HE_HBFH3', 'HE_RPLS', 'HE_MPLS', 'HE_NARM', 'HE_SBP1', 'HE_DBP1', 'HE_SBP2', 'HE_DBP2', 'HE_SBP3', 'HE_DBP3', 'HE_SBP', 'HE_DBP', 'HE_HP', 'HE_HT', 'HE_WT', 'HE_WC', 'HE_BMI', 'HE_OBE', 'HE_GLU', 'HE_HBA1C', 'HE_CHOL', 'HE_HDL_ST2', 'HE_TG', 'HE_LDL_DRCT', 'HE_HCHOL', 'HE_HTG', 'HE_AST', 'HE_ALT', 'HE_ALT_ETC', 'HE_HEPAB', 'HE_HEPAC', 'HE_HB', 'HE_HCT', 'HE_ANEM', 'HE_BUN', 'HE_CREA', 'HE_WBC', 'HE_RBC', 'HE_BPLT', 'HE_UACID', 'HE_UACID_ETC', 'HE_UPH', 'HE_UNITR', 'HE_USG', 'HE_UPRO', 'HE_UGLU', 'HE_UKET', 'HE_UBIL', 'HE_UBLD', 'HE_URO', 'HE_UCOT', 'HE_UCOT_ETC', 'HE_UNA', 'HE_UKAL', 'HE_UKAL_ETC', 'HE_FVC', 'HE_FVCP', 'HE_FEV1', 'HE_FEV1P', 'HE_FEV1FVC', 'HE_FEV6', 'HE_FEF25_75', 'HE_PEF', 'HE_COPD', 'HE_COUGH1', 'HE_COUGH2', 'HE_SPUT1', 'HE_SPUT2', 'HE_PFTDR', 'HE_PFTAG', 'HE_PFTTR', 'HE_PFTHS', 'OR1', 'O_PAIN', 'O_ORTHO', 'BM1_0', 'BM1_1', 'BM1_2', 'BM1_3', 'BM1_4', 'BM1_5', 'BM1_6', 'BM1_7', 'BM1_8', 'BM2_1', 'BM2_3', 'BM2_2', 'BM2_4', 'BM13', 'BM13_1', 'BM13_2', 'BM13_3', 'BM13_4', 'BM13_5', 'BM13_6', 'BM7', 'O_CHEW_D', 'BM8', 'OR1_2', 'MO4_00', 'MO4_8', 'MO4_12', 'BM14', 'BM14_1', 'BM14_2', 'T_Q_HR', 'GS_USE', 'GS_MEA_R_1', 'GS_MEA_R_2', 'GS_MEA_R_3', 'GS_MEA_L_1', 'GS_MEA_L_2', 'GS_MEA_L_3', 'L_BR', 'L_LN', 'L_DN', 'L_BR_FQ', 'L_LN_FQ', 'L_DN_FQ', 'L_OUT_FQ', 'L_BR_TO', 'L_BR_WHO', 'L_LN_TO', 'L_LN_WHO', 'L_DN_TO', 'L_DN_WHO', 'LS_1YR', 'LK_EDU', 'LK_LB_CO', 'LK_LB_US', 'LK_LB_IT', 'LK_LB_EF', 'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C', 'N_DAY', 'LF_SECUR_Y', 'LF_BUYER', 'LF_SAFE', 'WT_OE', 'HOUSE', 'AINC_UNIT1', 'AINC_1', 'NPINS', 'D_1_1', 'D_2_1', 'DI2_DG', 'DI2_PT', 'DI3_DG', 'DI3_PT', 'DM2_DG', 'DM2_PT', 'DJ2_DG', 'DJ2_PT', 'DE1_PT', 'DE1_31', 'DE1_32', 'DE1_33', 'DE1_34', 'DE1_35', 'DE2_DG', 'DE2_PT', 'DC2_PT', 'DC3_PT', 'DC4_PT', 'DC5_PT', 'DC6_PT', 'DC7_PT', 'DC11_TP', 'DC11_PR', 'DC11_PT', 'DC12_TP', 'DC12_PR', 'DC12_PT', 'DF2_DG', 'DF2_PT', 'DL1_PT', 'DJ8_PT', 'DK8_DG', 'DK8_PT', 'DK9_DG', 'DK9_PT', 'DK4_DG', 'DK4_PT', 'DF1_YD', 'DF1_YA', 'DJ9_YD', 'DJ9_YA', 'M_2_RS', 'M_2_ET', 'BH9_11', 'BH1', 'BH1_1', 'BH1_2', 'BH1_3', 'BH1_8', 'BH1_6', 'BH1_7', 'BH2_62', 'BH2_63', 'BH2_66', 'BH2_67', 'BH2_64', 'BH2_65', 'LQ4_24', 'LQ_1EQL', 'LQ_2EQL', 'LQ_3EQL', 'LQ_4EQL', 'LQ_5EQL', 'AC1_YR', 'AC3_1_01', 'AC3_1_02', 'AC3_1_03', 'AC3_2_01', 'AC3_2_02', 'AC3_2_03', 'IJ_EXPR', 'MO1_1', 'EDUC', 'GRADUAT', 'CH2_1', 'CH2_2', 'EC_STT_2', 'EC_WHT_6', 'EC_LGW_2', 'BO1', 'BO1_1', 'BO1_2', 'BO1_3', 'BO2_1', 'BO3_02', 'BO3_05', 'BO3_04', 'BO3_12', 'BO3_11', 'BD1', 'BD2', 'BD1_11', 'BD2_1', 'BD2_14', 'BD7_5', 'BD7_67', 'BA2_13', 'BA1_3', 'SC_SEATBLT', 'MH_PHQ_S', 'BS1_1', 'BS2_1', 'BS3_1', 'BS3_2', 'BS3_3', 'BS6_2', 'BS6_2_1', 'BS6_2_2', 'BS6_3', 'BS6_4', 'BS6_4_1', 'BS6_4_2', 'BS5_4', 'BS5', 'BS5_1', 'BS5_21', 'BS5_28', 'BS5_26', 'BS5_33', 'BS5_34', 'BS5_32', 'BS5_29', 'BS5_30', 'BS5_31', 'BS8_2', 'BS9_2', 'BS13', 'BS12_31', 'BS12_32', 'BS12_33', 'BS12_34', 'BS12_35', 'BS12_36', 'BS12_41', 'BS12_42', 'BS12_43', 'BS12_44', 'BS12_46', 'BS10_1', 'BS2', 'BS10_2', 'BS10_3', 'BE3_71', 'BE3_72', 'BE3_73', 'BE3_74', 'BE3_81', 'BE3_82', 'BE3_83', 'BE3_84', 'BE3_91', 'BE3_92', 'BE3_93', 'BE3_94', 'BE3_75', 'BE3_76', 'BE3_77', 'BE3_78', 'BE3_85', 'BE3_86', 'BE3_87', 'BE3_88', 'BE9', 'LW_MS', 'LW_PR', 'LW_PR_1', 'LW_MT', 'LW_MT_A1', 'LW_MT_A2', 'BM2_5', 'MO4_4', 'MO4_9', 'MO4_7', 'MO4_17', 'MO4_11', 'MO4_18', 'MO4_15', 'T_EX', 'T_Q_VN', 'N_INTK', 'N_EN', 'N_WATER', 'N_PROT', 'N_FAT', 'N_SFA', 'N_MUFA', 'N_PUFA', 'N_N3', 'N_N6', 'N_CHOL', 'N_CHO', 'N_TDF', 'N_SUGAR', 'N_CA', 'N_PHOS', 'N_FE', 'N_NA', 'N_K', 'N_VA_RAE', 'N_CAROT', 'N_RETIN', 'N_B1', 'N_B2', 'N_NIAC', 'N_FOLATE', 'N_VITC', 'DN1_DG', 'DN1_AG', 'DN1_PR', 'DN1_PT', 'BS12_1', 'BS12_2', 'BS12_37', 'BS12_47', 'T_NQ_OCP', 'HE_DM', 'TOTAL_SLP_WK', 'TOTAL_SLP_WD', 'HE_UCREA']
605

In [178]:
same_code_2

,변수명,변수설명7,변수설명8
0,mod_d,최종 DB 수정일,최종 DB 수정일
1,ID,개인 아이디,개인 아이디
2,ID_fam,가구 아이디,가구 아이디
3,year,조사연도,조사연도
4,region,17개 시도,17개 시도
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,Total_slp_wk,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,Total_slp_wd,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌

In [179]:
# same_code_2(변수설명서)를 돌면서 
# 실제사용된 컬럼(605개)과 일치하는 컬럼의 인덱스만 추출(index_list)
index_list = []
for i in range(len(same_code_2)):
    if same_code_2.loc[i][0].upper() in col_up:
        index_list.append(i)
index_list

[1,
 2,
 4,
 5,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 43,
 44,
 45,
 46,
 48,
 49,
 50,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 101,
 102,
 103,
 104,
 105,
 106,
 108,
 109,
 110,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 407,
 408,
 409,
 410,
 411,
 412,
 415,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 453,
 454,
 456,
 457,
 459,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 492,
 494,
 495,
 497,
 498,
 500,
 501,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 540,
 541,
 542,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751]

In [180]:
len(index_list)

605

In [181]:
# new_columns --> 변수설명서에서 실제 사용된 컬럼들만 뽑은 것
new_columns = same_code_2.loc[index_list]
new_columns

,변수명,변수설명7,변수설명8
1,ID,개인 아이디,개인 아이디
2,ID_fam,가구 아이디,가구 아이디
4,region,17개 시도,17개 시도
5,town_t,동/읍면 구분,동/읍면 구분
6,apt_t,아파트 구분,아파트 구분
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,Total_slp_wk,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,Total_slp_wd,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌

In [182]:
# new_columns(실제 사용된 컬럼만 추출한 변수설명서) 대문자화
upper_columns = []
for i in new_columns['변수명'].values:
    upper_columns.append(i.upper())

upper_columns
new_columns['변수명'] = upper_columns
new_columns = new_columns.reset_index()

In [190]:
new_columns = new_columns.drop(['index'], axis=1)
new_columns

,변수명,변수설명7,변수설명8
0,ID,개인 아이디,개인 아이디
1,ID_FAM,가구 아이디,가구 아이디
2,REGION,17개 시도,17개 시도
3,TOWN_T,동/읍면 구분,동/읍면 구분
4,APT_T,아파트 구분,아파트 구분
...,...,...,...
600,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
601,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
602,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
603,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
604,HE_UCREA,요크레아티닌,요크레아티닌

In [191]:
#  new_columns(실제 사용된 컬럼만 추출한 변수설명서)를 csv파일로 저장
new_columns.to_csv('new_columns.csv', encoding='cp949')

In [184]:
# real_data1 --> 실제데이터(concat_age1)에서 변수설명서에 있는 컬럼들만 뽑아낸 것
# real_data2 --> concat_age2(유병여부 컬럼으로 구성된 실제 데이터)
real_data1

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1.0,1.0,2.0,b'A651',2.0,78.0,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1.0,1.0,2.0,b'A651',1.0,80.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1.0,1.0,2.0,b'A652',1.0,66.0,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1.0,1.0,1.0,b'A653',2.0,75.0,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1.0,1.0,1.0,b'A653',2.0,79.0,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8.0,1.0,2.0,b'R804',1.0,66.0,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,480.0,480.0,151.2
8399,b'R804205101',b'R8042051',8.0,1.0,2.0,b'R804',1.0,75.0,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,300.0,300.0,95.5
8400,b'R804205102',b'R8042051',8.0,1.0,2.0,b'R804',2.0,65.0,3.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,420.0,600.0,35.2
8401,b'R804344501',b'R8043445',8.0,1.0,2.0,b'R804',2.0,65.0,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,480.0,480.0,53.0
8402,b'R804371701',b'R8043717',8.0,1.0,2.0,b'R804',1.0,65.0,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,1.0,2.0,420.0,420.0,79.7

In [185]:
real_data2

,ID,DI1_PR,DI2_PR,DI3_PR,DI4_PR,DI5_PR,DM2_PR,DM3_PR,DM4_PR,DJ2_PR,...,DC1_PR,DC2_PR,DC3_PR,DC4_PR,DC5_PR,DC6_PR,DC7_PR,DK8_PR,DK9_PR,DK4_PR
0,b'A651228902',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,b'A651417601',1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A652228901',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'A653184701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A653235705',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8399,b'R804205101',0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8400,b'R804205102',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8401,b'R804344501',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8402,b'R804371701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 실제 데이터(real_data1)의 컬럼 중 값이 전체 다 비어있는 컬럼을 삭제하는 작업

In [1]:
import pandas as pd
real_data1 = pd.read_csv('real_data1.csv', index_col = 0)
real_data2 = pd.read_csv('real_data2.csv', index_col = 0)

c:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (31,32,202,265,277,288,291,331,372,399,411,437,443,464,475,482,510,518) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
real_data1

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8,1,2,b'R804',1,66,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,480.0,480.0,151.2
8399,b'R804205101',b'R8042051',8,1,2,b'R804',1,75,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,300.0,300.0,95.5
8400,b'R804205102',b'R8042051',8,1,2,b'R804',2,65,3.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,420.0,600.0,35.2
8401,b'R804344501',b'R8043445',8,1,2,b'R804',2,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,480.0,480.0,53.0
8402,b'R804371701',b'R8043717',8,1,2,b'R804',1,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,1.0,2.0,420.0,420.0,79.7

In [3]:
real_data2

,ID,DI1_PR,DI2_PR,DI3_PR,DI4_PR,DI5_PR,DM2_PR,DM3_PR,DM4_PR,DJ2_PR,...,DC1_PR,DC2_PR,DC3_PR,DC4_PR,DC5_PR,DC6_PR,DC7_PR,DK8_PR,DK9_PR,DK4_PR
0,b'A651228902',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,b'A651417601',1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A652228901',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'A653184701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A653235705',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8399,b'R804205101',0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8400,b'R804205102',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8401,b'R804344501',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8402,b'R804371701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# real_data1에서 결측치가 8403인 컬럼 즉 컬럼 전체가 비어있는 컬럼을 추출
real_data1.columns[real_data1.isnull().sum()==8403]

Index(['DF1_YD', 'DF1_YA', 'DJ9_YD', 'DJ9_YA', 'CH2_1', 'CH2_2', 'BS10_1',
       'BS2', 'BS10_2', 'BS10_3', 'BE9'],
      dtype='object')

In [11]:
real_data1 = pd.read_csv('real_data1.csv', index_col = 0)
real_data1

c:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (31,32,202,265,277,288,291,331,372,399,411,437,443,464,475,482,510,518) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8,1,2,b'R804',1,66,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,480.0,480.0,151.2
8399,b'R804205101',b'R8042051',8,1,2,b'R804',1,75,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,300.0,300.0,95.5
8400,b'R804205102',b'R8042051',8,1,2,b'R804',2,65,3.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,420.0,600.0,35.2
8401,b'R804344501',b'R8043445',8,1,2,b'R804',2,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,480.0,480.0,53.0
8402,b'R804371701',b'R8043717',8,1,2,b'R804',1,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,1.0,2.0,420.0,420.0,79.7

In [13]:
real_data1.to_csv('real_data1.csv', encoding='cp949')

In [14]:
# 실제 데이터(real_data1)의 컬럼 중 값이 전체 다 비어있는 컬럼(11개)을 삭제하는 작업
real_data1.drop(['DF1_YD', 'DF1_YA', 'DJ9_YD', 'DJ9_YA', 'CH2_1', 'CH2_2', 'BS10_1',
       'BS2', 'BS10_2', 'BS10_3', 'BE9'], axis=1, inplace=True)

In [21]:
# 전체가 비어 있는 컬럼을 삭제한 실제 데이터(real_data1)을 real_data1_notnull.csv파일로 저장
real_data1.to_csv('real_data1_notnull.csv', encoding='cp949')

In [5]:
import pandas as pd

real_data1 = pd.read_csv('real_data1_notnull.csv', encoding='cp949', index_col=0)
real_data1

c:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (31,32,202,265,277,288,291,331,372,399,411,433,439,458,469,476,504,512) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8,1,2,b'R804',1,66,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,480.0,480.0,151.2
8399,b'R804205101',b'R8042051',8,1,2,b'R804',1,75,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,300.0,300.0,95.5
8400,b'R804205102',b'R8042051',8,1,2,b'R804',2,65,3.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,420.0,600.0,35.2
8401,b'R804344501',b'R8043445',8,1,2,b'R804',2,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,480.0,480.0,53.0
8402,b'R804371701',b'R8043717',8,1,2,b'R804',1,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,1.0,2.0,420.0,420.0,79.7

In [8]:
# real_data1의 ID컬럼에는 중복된 값 존재X
len(real_data1['ID'].unique())

8403

### <N_EN>은 1일 에너지 섭취량
### <NF_EN>은 에너지 섭취량인데 실제 데이터에 해당 컬럼 존재X

In [18]:
real_data1['N_EN']

0               NaN
1       1677.250403
2       2907.349349
3        689.726391
4        821.963207
           ...
8398    1561.599533
8399    1541.109615
8400    2276.859154
8401    1469.044167
8402    2953.040528
Name: N_EN, Length: 8403, dtype: float64

In [23]:
# 영양과 관련된(N_ 이 포함된) 컬럼들
real_data1[['N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL',
       'N_WAT_C', 'N_DAY', 'N_INTK', 'N_EN', 'N_WATER', 'N_PROT', 'N_FAT',
       'N_SFA', 'N_MUFA', 'N_PUFA', 'N_N3', 'N_N6', 'N_CHOL', 'N_CHO', 'N_TDF',
       'N_SUGAR', 'N_CA', 'N_PHOS', 'N_FE', 'N_NA', 'N_K', 'N_VA_RAE',
       'N_CAROT', 'N_RETIN', 'N_B1', 'N_B2', 'N_NIAC', 'N_FOLATE', 'N_VITC']]

,N_DIET,N_DIET_WHY,N_DT_DS,N_DT_ETC,N_DUSUAL,N_WAT_C,N_DAY,N_INTK,N_EN,N_WATER,...,N_NA,N_K,N_VA_RAE,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_FOLATE,N_VITC
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,3.0,NaN,b'\xb0\xc7\xb0\xad\xb0\xfc\xb8\xae',b'2',3.8,b'\xb8\xf1\xbf\xe4\xc0\xcf',1544.317922,1677.250403,972.254662,...,4399.799642,2566.620279,294.793594,998.477352,211.587148,1.006231,1.732103,8.271924,386.525342,101.079339
2,2.0,NaN,NaN,NaN,b'1',3.0,b'\xbc\xf6\xbf\xe4\xc0\xcf',1271.523593,2907.349349,659.077288,...,3929.082290,2331.404861,163.018429,1800.234676,12.998873,1.624364,1.005462,13.698492,217.558630,15.821594
3,1.0,1.0,b'\xc0\xa7\xc0\xe5\xc0\xe5\xbe\xd6',NaN,b'2',6.0,b'\xbc\xf6\xbf\xe4\xc0\xcf',324.185945,689.726391,162.617404,...,1157.897389,530.823816,186.218018,1385.932537,70.723640,0.356052,0.889463,2.004974,119.056346,25.218942
4,2.0,NaN,NaN,NaN,b'3',2.0,b'\xc8\xad\xbf\xe4\xc0\xcf',525.681802,821.963207,332.126544,...,1202.976063,647.614546,27.905785,279.510000,4.613285,0.280312,0.227525,3.437222,112.559393,8.250554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,1.0,2.0,NaN,NaN,b'2',6.7,b'\xb8\xf1\xbf\xe4\xc0\xcf',1690.975469,1561.599533,1322.946789,...,2009.578556,2644.914837,218.657333,872.716548,145.930954,1.068906,1.267011,12.471559,239.418558,29.636101
8399,1.0,1.0,b'\xb4\xe7\xb4\xa2',NaN,b'2',7.5,b'\xb8\xf1\xbf\xe4\xc0\xcf',1192.137456,1541.109615,832.900707,...,2936.950002,3483.531554,291.119212,1821.338545,139.341000,1.103136,2.078078,16.175646,647.037982,46.567949
8400,2.0,NaN,NaN,NaN,b'2',5.0,b'\xb8\xf1\xbf\xe4\xc0\xcf',1442.338766,2276.859154,925.911409,...,2799.353637,3213.265399,358.105544,1646.836002,220.869211,1.206207,1.913871,13.351069,506.184039,44.060558
8401,1.0,2.0,NaN,NaN,b'2',2.0,b'\xb1\xdd\xbf\xe4\xc0\xcf',1577.858728,1469.044167,1112.335133,...,3037.835581,1991.461975,286.170166,1229.644393,183.699800,0.625029,1.564754,7.916374,231.251136,18.464945
8402,2.0,NaN,NaN,NaN,b'2',5.0,b'\xb8\xf1\xbf\xe4\xc0\xcf',1972.433348,2953.040528,903.365806,...,3681.501097,3665.578194,144.793359,1593.550499,11.997484,1.774904,1.552039,17.190522,550.095647,114.743308

In [39]:
new_columns = pd.read_csv('new_columns.csv', encoding='cp949', index_col=0)
new_columns

,변수명,변수설명7,변수설명8,세부정보
0,ID,개인 아이디,개인 아이디,NaN
1,ID_FAM,가구 아이디,가구 아이디,NaN
2,REGION,17개 시도,17개 시도,NaN
3,TOWN_T,동/읍면 구분,동/읍면 구분,NaN
4,APT_T,아파트 구분,아파트 구분,NaN
...,...,...,...,...
600,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출,1=예/2=아니오
601,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상),1=정상/2=전단계/3=당뇨병
602,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간,NaN
603,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간",NaN
604,HE_UCREA,요크레아티닌,요크레아티닌,NaN

In [48]:
# 변수설명7 or 8 에 '사유'를 포함하고 있는 컬럼들(34개)
sayu_col = list(new_columns['변수명'][new_columns['변수설명7'].str.contains('사유')])
print(sayu_col)
print(len(sayu_col))

['LQ4_01', 'LQ4_02', 'LQ4_03', 'LQ4_04', 'LQ4_05', 'LQ4_06', 'LQ4_07', 'LQ4_08', 'LQ4_09', 'LQ4_10', 'LQ4_11', 'LQ4_12', 'LQ4_13', 'LQ4_14', 'LQ4_15', 'LQ4_16', 'LQ4_21', 'LQ4_22', 'LQ4_25', 'LQ4_26', 'LQ4_27', 'LQ4_28', 'LQ4_29', 'LQ4_23', 'LW_MP_E', 'BM13_1', 'BM13_2', 'BM13_3', 'BM13_4', 'BM13_5', 'BM13_6', 'M_2_RS', 'M_2_ET', 'LQ4_24']
34

In [47]:
real_data1

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8,1,2,b'R804',1,66,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,480.0,480.0,151.2
8399,b'R804205101',b'R8042051',8,1,2,b'R804',1,75,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,300.0,300.0,95.5
8400,b'R804205102',b'R8042051',8,1,2,b'R804',2,65,3.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,420.0,600.0,35.2
8401,b'R804344501',b'R8043445',8,1,2,b'R804',2,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,480.0,480.0,53.0
8402,b'R804371701',b'R8043717',8,1,2,b'R804',1,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,1.0,2.0,420.0,420.0,79.7

In [49]:
# 변수설명7 or 8 에 '사유'를 포함하고 있는 컬럼들 삭제
real_data1.drop(sayu_col, axis=1, inplace=True)
real_data1

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8,1,2,b'R804',1,66,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,480.0,480.0,151.2
8399,b'R804205101',b'R8042051',8,1,2,b'R804',1,75,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,300.0,300.0,95.5
8400,b'R804205102',b'R8042051',8,1,2,b'R804',2,65,3.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,420.0,600.0,35.2
8401,b'R804344501',b'R8043445',8,1,2,b'R804',2,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,480.0,480.0,53.0
8402,b'R804371701',b'R8043717',8,1,2,b'R804',1,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,1.0,2.0,420.0,420.0,79.7

In [50]:
real_data1.to_csv('real_data1_no_sayu.csv', encoding='cp949')

In [52]:
# 값이 이상한 컬럼들 삭제(11개)
real_data1.drop(['HE_UCOT_ETC','HE_UKAL_ETC','BM14_2',
'N_DT_DS','N_DT_ETC','N_DUSUAL','N_DAY','DC11_TP','BH1_7',
'BH2_65','BS5_31'], axis=1, inplace=True)

In [53]:
real_data1

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8,1,2,b'R804',1,66,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,480.0,480.0,151.2
8399,b'R804205101',b'R8042051',8,1,2,b'R804',1,75,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,300.0,300.0,95.5
8400,b'R804205102',b'R8042051',8,1,2,b'R804',2,65,3.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,420.0,600.0,35.2
8401,b'R804344501',b'R8043445',8,1,2,b'R804',2,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,480.0,480.0,53.0
8402,b'R804371701',b'R8043717',8,1,2,b'R804',1,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,1.0,2.0,420.0,420.0,79.7

In [54]:
real_data1.to_csv('real_data1_final.csv', encoding='cp949')

## 5/10까지 전처리 완료한 실제 데이터(real_data1_final.csv)  --> 컬럼 549개

## 5/17 건강검진정보 파일 업로드

In [1]:
import pandas as pd

In [4]:
GJ_12 = pd.read_csv('C:/Users/User/Desktop/최종 프로젝트/새로운 데이터/건강검진정보_2012.csv', encoding='cp949', index_col=0)
GJ_13 = pd.read_csv('C:/Users/User/Desktop/최종 프로젝트/새로운 데이터/건강검진정보_2013.csv', encoding='cp949', index_col=0)
GJ_14 = pd.read_csv('C:/Users/User/Desktop/최종 프로젝트/새로운 데이터/건강검진정보_2014.csv', encoding='cp949', index_col=0)
GJ_15 = pd.read_csv('C:/Users/User/Desktop/최종 프로젝트/새로운 데이터/건강검진정보_2015.csv', encoding='cp949', index_col=0)
GJ_16 = pd.read_csv('C:/Users/User/Desktop/최종 프로젝트/새로운 데이터/건강검진정보_2016.csv', encoding='cp949', index_col=0)

In [18]:
col_GJ_12 = list(GJ_12.columns)
col_GJ_13 = list(GJ_13.columns)
col_GJ_14 = list(GJ_14.columns)
col_GJ_15 = list(GJ_15.columns)
col_GJ_16 = list(GJ_16.columns)

In [41]:
# 건강검진정보(2012년~2016년까지 파일) 데이터를 보면 연도별로 컬럼수가 다름
print(len(col_GJ_12))
print(len(col_GJ_13))
print(len(col_GJ_14))
print(len(col_GJ_15))
print(len(col_GJ_16))

33
33
30
30
33

In [14]:
GJ_12

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTH_MSS_YN,ODT_TRB_YN,WSDM_DIS_YN,TTR_YN,DATA_STD_DT
HCHK_YEAR,,,,,,,,,,,,,,,,,,,,,
2012,220721,2,14,46,150,45,72,0.2,0.4,1.0,...,11,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,830677,2,14,45,145,30,68,0.1,0.1,1.0,...,11,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,978884,1,1,26,140,40,68,0.4,0.6,1.0,...,25,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,918718,2,1,11,140,40,66,0.7,0.6,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,922362,2,1,28,140,40,77,0.6,0.4,1.0,...,24,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,825522,2,14,45,140,40,80,0.1,0.1,1.0,...,14,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,341427,2,14,44,140,40,81,0.2,0.2,1.0,...,9,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,518208,2,14,41,145,40,73,0.5,0.5,1.0,...,16,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,683544,2,14,26,145,40,68,9.9,9.9,2.0,...,11,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,331112,2,14,45,150,40,58,0.2,0.2,1.0,...,9,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220

In [15]:
GJ_13

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),...,감마지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석,데이터공개일자
기준년도,,,,,,,,,,,,,,,,,,,,,
2013,24193,2,14,11,145,35,83,0.1,0.1,1.0,...,30,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,134496,1,1,27,140,35,68,0.8,0.8,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,978782,2,1,29,145,35,68,9.9,9.9,2.0,...,16,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,10313,2,1,43,145,40,62,1.0,1.0,1.0,...,22,1.0,0.0,1,1.0,0.0,0.0,0.0,0.0,20151220
2013,915645,2,1,41,145,40,64,0.8,0.7,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,34005,2,14,11,140,35,75,0.1,0.1,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,374303,2,14,41,140,35,72,NaN,NaN,NaN,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,700579,2,14,26,145,45,70,0.3,0.3,2.0,...,23,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,4,2,14,41,145,45,74,0.1,0.5,2.0,...,12,1.0,0.0,1,1.0,1.0,0.0,0.0,0.0,20151220
2013,487152,2,14,27,145,45,85,0.5,0.9,1.0,...,18,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220

In [8]:
col_GJ_12

Index(['IDV_ID', 'SEX', 'AGE_GROUP', 'SIDO', 'HEIGHT', 'WEIGHT', 'WAIST',
       'SIGHT_LEFT', 'SIGHT_RIGHT', 'HEAR_LEFT', 'HEAR_RIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'TRIGLYCERIDE', 'HDL_CHOLE',
       'LDL_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'CREATININE', 'SGOT_AST',
       'SGPT_ALT', 'GAMMA_GTP', 'SMK_STAT_TYPE_CD', 'DRK_YN',
       'HCHK_OE_INSPEC_YN', 'CRS_YN', 'TTH_MSS_YN', 'ODT_TRB_YN',
       'WSDM_DIS_YN', 'TTR_YN', 'DATA_STD_DT'],
      dtype='object')

In [9]:
col_GJ_13

Index(['가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)', '체중(5Kg 단위)',
       '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압',
       '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소',
       '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태', '음주여부',
       '구강검진 수검여부', '치아우식증유무', '결손치유무', '치아마모증유무', '제3대구치(사랑니)이상', '치석',
       '데이터공개일자'],
      dtype='object')

In [10]:
col_GJ_14

Index(['가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)', '체중(5Kg 단위)',
       '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압',
       '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소',
       '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태', '음주여부',
       '구강검진 수검여부', '치아우식증유무', '치석유무', '데이터 기준일자'],
      dtype='object')

In [11]:
col_GJ_15

Index(['가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)', '체중(5Kg 단위)',
       '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압',
       '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소',
       '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태', '음주여부',
       '구강검진 수검여부', '치아우식증유무', '치석유무', '데이터 기준일자'],
      dtype='object')

In [12]:
col_GJ_16

Index(['가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)', '체중(5Kg단위)',
       '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압',
       '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소',
       '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태', '음주여부',
       '구강검진 수검여부', '치아우식증유무', '결손치유무', '치아마모증유무', '제3대구치(사랑니)이상', '치석',
       '데이터공개일자'],
      dtype='object')

In [24]:
# 한글로 되어 있는 컬럼을 영어로 바꾸는 작업
GJ_13.columns = ['IDV_ID', 'SEX', 'AGE_GROUP', 'SIDO', 'HEIGHT', 'WEIGHT', 'WAIST',
       'SIGHT_LEFT', 'SIGHT_RIGHT', 'HEAR_LEFT', 'HEAR_RIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'TRIGLYCERIDE', 'HDL_CHOLE',
       'LDL_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'CREATININE', 'SGOT_AST',
       'SGPT_ALT', 'GAMMA_GTP', 'SMK_STAT_TYPE_CD', 'DRK_YN',
       'HCHK_OE_INSPEC_YN', 'CRS_YN', 'TTH_MSS_YN', 'ODT_TRB_YN',
       'WSDM_DIS_YN', 'TTR_YN', 'DATA_STD_DT']
GJ_13

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTH_MSS_YN,ODT_TRB_YN,WSDM_DIS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2013,24193,2,14,11,145,35,83,0.1,0.1,1.0,...,30,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,134496,1,1,27,140,35,68,0.8,0.8,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,978782,2,1,29,145,35,68,9.9,9.9,2.0,...,16,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,10313,2,1,43,145,40,62,1.0,1.0,1.0,...,22,1.0,0.0,1,1.0,0.0,0.0,0.0,0.0,20151220
2013,915645,2,1,41,145,40,64,0.8,0.7,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,34005,2,14,11,140,35,75,0.1,0.1,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,374303,2,14,41,140,35,72,NaN,NaN,NaN,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,700579,2,14,26,145,45,70,0.3,0.3,2.0,...,23,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,4,2,14,41,145,45,74,0.1,0.5,2.0,...,12,1.0,0.0,1,1.0,1.0,0.0,0.0,0.0,20151220
2013,487152,2,14,27,145,45,85,0.5,0.9,1.0,...,18,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220

In [25]:
GJ_16.columns = ['IDV_ID', 'SEX', 'AGE_GROUP', 'SIDO', 'HEIGHT', 'WEIGHT', 'WAIST',
       'SIGHT_LEFT', 'SIGHT_RIGHT', 'HEAR_LEFT', 'HEAR_RIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'TRIGLYCERIDE', 'HDL_CHOLE',
       'LDL_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'CREATININE', 'SGOT_AST',
       'SGPT_ALT', 'GAMMA_GTP', 'SMK_STAT_TYPE_CD', 'DRK_YN',
       'HCHK_OE_INSPEC_YN', 'CRS_YN', 'TTH_MSS_YN', 'ODT_TRB_YN',
       'WSDM_DIS_YN', 'TTR_YN', 'DATA_STD_DT']

GJ_16

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTH_MSS_YN,ODT_TRB_YN,WSDM_DIS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2016,1,1,10,27,175.0,75.0,86.0,1.0,1.2,1.0,...,45.0,3.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,2,2,11,41,160.0,65.0,85.0,1.5,1.2,1.0,...,19.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,3,2,11,43,150.0,55.0,80.0,1.5,1.5,1.0,...,64.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,4,1,12,48,175.0,70.0,85.0,1.2,1.2,1.0,...,69.0,2.0,NaN,1,NaN,NaN,NaN,NaN,1.0,20171219
2016,5,2,6,11,160.0,50.0,67.0,0.4,0.5,1.0,...,20.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,999996,1,10,42,170.0,75.0,86.0,0.8,0.8,1.0,...,44.0,3.0,NaN,1,NaN,NaN,NaN,NaN,2.0,20171219
2016,999997,2,11,41,155.0,65.0,84.0,1.0,0.9,1.0,...,143.0,3.0,NaN,1,NaN,NaN,NaN,NaN,1.0,20171219
2016,999998,1,10,41,175.0,75.0,89.0,0.2,0.9,1.0,...,23.0,3.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,999999,2,13,42,155.0,70.0,90.0,0.8,0.7,1.0,...,12.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,1000000,2,10,41,150.0,45.0,66.0,1.2,1.2,1.0,...,12.0,1.0,NaN,1,NaN,NaN,NaN,NaN,1.0,20171219

In [26]:
GJ_12

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTH_MSS_YN,ODT_TRB_YN,WSDM_DIS_YN,TTR_YN,DATA_STD_DT
HCHK_YEAR,,,,,,,,,,,,,,,,,,,,,
2012,220721,2,14,46,150,45,72,0.2,0.4,1.0,...,11,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,830677,2,14,45,145,30,68,0.1,0.1,1.0,...,11,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,978884,1,1,26,140,40,68,0.4,0.6,1.0,...,25,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,918718,2,1,11,140,40,66,0.7,0.6,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,922362,2,1,28,140,40,77,0.6,0.4,1.0,...,24,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,825522,2,14,45,140,40,80,0.1,0.1,1.0,...,14,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,341427,2,14,44,140,40,81,0.2,0.2,1.0,...,9,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,518208,2,14,41,145,40,73,0.5,0.5,1.0,...,16,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,683544,2,14,26,145,40,68,9.9,9.9,2.0,...,11,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2012,331112,2,14,45,150,40,58,0.2,0.2,1.0,...,9,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220

In [27]:
GJ_13

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTH_MSS_YN,ODT_TRB_YN,WSDM_DIS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2013,24193,2,14,11,145,35,83,0.1,0.1,1.0,...,30,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,134496,1,1,27,140,35,68,0.8,0.8,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,978782,2,1,29,145,35,68,9.9,9.9,2.0,...,16,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,10313,2,1,43,145,40,62,1.0,1.0,1.0,...,22,1.0,0.0,1,1.0,0.0,0.0,0.0,0.0,20151220
2013,915645,2,1,41,145,40,64,0.8,0.7,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,34005,2,14,11,140,35,75,0.1,0.1,1.0,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,374303,2,14,41,140,35,72,NaN,NaN,NaN,...,12,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,700579,2,14,26,145,45,70,0.3,0.3,2.0,...,23,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220
2013,4,2,14,41,145,45,74,0.1,0.5,2.0,...,12,1.0,0.0,1,1.0,1.0,0.0,0.0,0.0,20151220
2013,487152,2,14,27,145,45,85,0.5,0.9,1.0,...,18,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,20151220

In [28]:
GJ_16

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTH_MSS_YN,ODT_TRB_YN,WSDM_DIS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2016,1,1,10,27,175.0,75.0,86.0,1.0,1.2,1.0,...,45.0,3.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,2,2,11,41,160.0,65.0,85.0,1.5,1.2,1.0,...,19.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,3,2,11,43,150.0,55.0,80.0,1.5,1.5,1.0,...,64.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,4,1,12,48,175.0,70.0,85.0,1.2,1.2,1.0,...,69.0,2.0,NaN,1,NaN,NaN,NaN,NaN,1.0,20171219
2016,5,2,6,11,160.0,50.0,67.0,0.4,0.5,1.0,...,20.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,999996,1,10,42,170.0,75.0,86.0,0.8,0.8,1.0,...,44.0,3.0,NaN,1,NaN,NaN,NaN,NaN,2.0,20171219
2016,999997,2,11,41,155.0,65.0,84.0,1.0,0.9,1.0,...,143.0,3.0,NaN,1,NaN,NaN,NaN,NaN,1.0,20171219
2016,999998,1,10,41,175.0,75.0,89.0,0.2,0.9,1.0,...,23.0,3.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,999999,2,13,42,155.0,70.0,90.0,0.8,0.7,1.0,...,12.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,20171219
2016,1000000,2,10,41,150.0,45.0,66.0,1.2,1.2,1.0,...,12.0,1.0,NaN,1,NaN,NaN,NaN,NaN,1.0,20171219

In [29]:
GJ_14

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석유무,데이터 기준일자
기준년도,,,,,,,,,,,,,,,,,,,,,
2014,1,1,6,42,180,75,79,1.5,1.2,1.0,...,1.2,31,18,23,3.0,0.0,1,0.0,0.0,20161220
2014,2,2,18,41,150,65,79,0.1,0.1,1.0,...,0.8,11,4,15,1.0,1.0,0,NaN,NaN,20161220
2014,3,1,12,41,170,70,95,0.8,1.0,1.0,...,0.6,138,73,112,3.0,1.0,1,0.0,1.0,20161220
2014,4,2,11,41,165,80,104,0.8,0.2,1.0,...,0.9,19,14,21,1.0,0.0,1,0.0,1.0,20161220
2014,5,1,6,44,175,75,81,1.5,1.5,1.0,...,1.0,32,39,98,1.0,1.0,1,NaN,1.0,20161220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,999996,2,12,11,160,55,75,1.2,1.2,1.0,...,0.7,18,18,12,1.0,1.0,0,NaN,NaN,20161220
2014,999997,2,9,11,150,45,59,1.0,1.2,1.0,...,0.7,21,14,19,1.0,1.0,0,NaN,NaN,20161220
2014,999998,2,8,43,165,50,68,0.4,0.4,1.0,...,0.8,19,14,14,1.0,1.0,0,NaN,NaN,20161220
2014,999999,2,10,11,160,60,77,1.0,1.0,1.0,...,0.7,27,21,40,3.0,1.0,0,NaN,NaN,20161220
2014,1000000,1,11,43,160,80,94,1.2,1.2,1.0,...,0.9,26,27,31,3.0,0.0,0,NaN,NaN,20161220

In [30]:
GJ_15

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석유무,데이터 기준일자
기준년도,,,,,,,,,,,,,,,,,,,,,
2015,1,2,15,45,155,60,88,0.6,0.7,1.0,...,1.1,17,28,23,1.0,1.0,0,NaN,NaN,20161220
2015,2,2,15,11,155,65,98,1.2,0.6,1.0,...,1.0,25,30,41,1.0,1.0,1,NaN,0.0,20161220
2015,3,2,11,26,155,65,85,1.2,0.9,1.0,...,0.6,18,16,25,1.0,0.0,0,NaN,NaN,20161220
2015,4,1,9,41,175,75,89,0.2,0.2,1.0,...,0.9,28,40,50,1.0,1.0,1,0.0,NaN,20161220
2015,5,1,16,47,160,50,78,0.5,0.6,2.0,...,1.0,20,13,19,2.0,0.0,1,NaN,0.0,20161220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,999996,1,8,41,170,70,88,1.2,1.0,1.0,...,1.1,16,23,28,1.0,1.0,0,NaN,NaN,20161220
2015,999997,1,7,41,175,60,73,1.2,1.0,1.0,...,0.9,20,11,14,1.0,1.0,1,0.0,1.0,20161220
2015,999998,1,13,42,165,70,94,0.9,0.9,1.0,...,0.9,19,20,75,3.0,0.0,0,NaN,NaN,20161220
2015,999999,1,12,28,175,65,82,0.6,0.7,1.0,...,1.1,25,20,30,3.0,1.0,0,NaN,NaN,20161220
2015,1000000,1,11,11,160,65,84,0.4,0.2,1.0,...,1.0,29,37,33,2.0,1.0,0,NaN,NaN,20161220

In [31]:
GJ_14.columns = ['IDV_ID', 'SEX', 'AGE_GROUP', 'SIDO', 'HEIGHT', 'WEIGHT', 'WAIST',
       'SIGHT_LEFT', 'SIGHT_RIGHT', 'HEAR_LEFT', 'HEAR_RIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'TRIGLYCERIDE', 'HDL_CHOLE',
       'LDL_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'CREATININE', 'SGOT_AST',
       'SGPT_ALT', 'GAMMA_GTP', 'SMK_STAT_TYPE_CD', 'DRK_YN',
       'HCHK_OE_INSPEC_YN', 'CRS_YN', 'TTR_YN', 'DATA_STD_DT']

In [32]:
GJ_15.columns = ['IDV_ID', 'SEX', 'AGE_GROUP', 'SIDO', 'HEIGHT', 'WEIGHT', 'WAIST',
       'SIGHT_LEFT', 'SIGHT_RIGHT', 'HEAR_LEFT', 'HEAR_RIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'TRIGLYCERIDE', 'HDL_CHOLE',
       'LDL_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'CREATININE', 'SGOT_AST',
       'SGPT_ALT', 'GAMMA_GTP', 'SMK_STAT_TYPE_CD', 'DRK_YN',
       'HCHK_OE_INSPEC_YN', 'CRS_YN', 'TTR_YN', 'DATA_STD_DT']

In [34]:
# 14,15년도는 결손치유무('TTH_MSS_YN'), 치아마모증유무('ODT_TRB_YN'), 제3대구치(사랑니)이상('WSDM_DIS_YN') 컬럼이 없음(30개의 컬럼)
# 컬럼수가 33개인 12,13,16년도 파일에서 해당 컬럼 3개를 삭제
GJ_12.drop(['TTH_MSS_YN', 'ODT_TRB_YN', 'WSDM_DIS_YN'], axis=1, inplace=True)
GJ_13.drop(['TTH_MSS_YN', 'ODT_TRB_YN', 'WSDM_DIS_YN'], axis=1, inplace=True)
GJ_16.drop(['TTH_MSS_YN', 'ODT_TRB_YN', 'WSDM_DIS_YN'], axis=1, inplace=True)

In [35]:
GJ_12

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
HCHK_YEAR,,,,,,,,,,,,,,,,,,,,,
2012,220721,2,14,46,150,45,72,0.2,0.4,1.0,...,1.2,25,14,11,1.0,0.0,0,NaN,NaN,20151220
2012,830677,2,14,45,145,30,68,0.1,0.1,1.0,...,0.7,28,16,11,1.0,0.0,0,NaN,NaN,20151220
2012,978884,1,1,26,140,40,68,0.4,0.6,1.0,...,0.5,33,17,25,1.0,0.0,0,NaN,NaN,20151220
2012,918718,2,1,11,140,40,66,0.7,0.6,1.0,...,0.6,11,11,12,1.0,0.0,0,NaN,NaN,20151220
2012,922362,2,1,28,140,40,77,0.6,0.4,1.0,...,0.9,25,14,24,1.0,0.0,0,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,825522,2,14,45,140,40,80,0.1,0.1,1.0,...,1.0,9,4,14,1.0,0.0,0,NaN,NaN,20151220
2012,341427,2,14,44,140,40,81,0.2,0.2,1.0,...,1.4,15,3,9,1.0,0.0,0,NaN,NaN,20151220
2012,518208,2,14,41,145,40,73,0.5,0.5,1.0,...,0.8,34,25,16,1.0,0.0,0,NaN,NaN,20151220
2012,683544,2,14,26,145,40,68,9.9,9.9,2.0,...,1.3,34,14,11,1.0,0.0,0,NaN,NaN,20151220
2012,331112,2,14,45,150,40,58,0.2,0.2,1.0,...,0.8,26,9,9,1.0,0.0,0,NaN,NaN,20151220

In [36]:
GJ_13

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2013,24193,2,14,11,145,35,83,0.1,0.1,1.0,...,0.9,18,8,30,1.0,0.0,0,NaN,NaN,20151220
2013,134496,1,1,27,140,35,68,0.8,0.8,1.0,...,0.7,22,14,12,1.0,0.0,0,NaN,NaN,20151220
2013,978782,2,1,29,145,35,68,9.9,9.9,2.0,...,0.8,16,15,16,1.0,0.0,0,NaN,NaN,20151220
2013,10313,2,1,43,145,40,62,1.0,1.0,1.0,...,0.7,14,8,22,1.0,0.0,1,1.0,0.0,20151220
2013,915645,2,1,41,145,40,64,0.8,0.7,1.0,...,0.7,17,11,12,1.0,0.0,0,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,34005,2,14,11,140,35,75,0.1,0.1,1.0,...,0.8,25,6,12,1.0,0.0,0,NaN,NaN,20151220
2013,374303,2,14,41,140,35,72,NaN,NaN,NaN,...,1.4,20,5,12,1.0,0.0,0,NaN,NaN,20151220
2013,700579,2,14,26,145,45,70,0.3,0.3,2.0,...,0.8,28,6,23,1.0,0.0,0,NaN,NaN,20151220
2013,4,2,14,41,145,45,74,0.1,0.5,2.0,...,0.6,12,3,12,1.0,0.0,1,1.0,0.0,20151220
2013,487152,2,14,27,145,45,85,0.5,0.9,1.0,...,2.1,13,7,18,1.0,0.0,0,NaN,NaN,20151220

In [37]:
GJ_14

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2014,1,1,6,42,180,75,79,1.5,1.2,1.0,...,1.2,31,18,23,3.0,0.0,1,0.0,0.0,20161220
2014,2,2,18,41,150,65,79,0.1,0.1,1.0,...,0.8,11,4,15,1.0,1.0,0,NaN,NaN,20161220
2014,3,1,12,41,170,70,95,0.8,1.0,1.0,...,0.6,138,73,112,3.0,1.0,1,0.0,1.0,20161220
2014,4,2,11,41,165,80,104,0.8,0.2,1.0,...,0.9,19,14,21,1.0,0.0,1,0.0,1.0,20161220
2014,5,1,6,44,175,75,81,1.5,1.5,1.0,...,1.0,32,39,98,1.0,1.0,1,NaN,1.0,20161220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,999996,2,12,11,160,55,75,1.2,1.2,1.0,...,0.7,18,18,12,1.0,1.0,0,NaN,NaN,20161220
2014,999997,2,9,11,150,45,59,1.0,1.2,1.0,...,0.7,21,14,19,1.0,1.0,0,NaN,NaN,20161220
2014,999998,2,8,43,165,50,68,0.4,0.4,1.0,...,0.8,19,14,14,1.0,1.0,0,NaN,NaN,20161220
2014,999999,2,10,11,160,60,77,1.0,1.0,1.0,...,0.7,27,21,40,3.0,1.0,0,NaN,NaN,20161220
2014,1000000,1,11,43,160,80,94,1.2,1.2,1.0,...,0.9,26,27,31,3.0,0.0,0,NaN,NaN,20161220

In [38]:
GJ_15

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2015,1,2,15,45,155,60,88,0.6,0.7,1.0,...,1.1,17,28,23,1.0,1.0,0,NaN,NaN,20161220
2015,2,2,15,11,155,65,98,1.2,0.6,1.0,...,1.0,25,30,41,1.0,1.0,1,NaN,0.0,20161220
2015,3,2,11,26,155,65,85,1.2,0.9,1.0,...,0.6,18,16,25,1.0,0.0,0,NaN,NaN,20161220
2015,4,1,9,41,175,75,89,0.2,0.2,1.0,...,0.9,28,40,50,1.0,1.0,1,0.0,NaN,20161220
2015,5,1,16,47,160,50,78,0.5,0.6,2.0,...,1.0,20,13,19,2.0,0.0,1,NaN,0.0,20161220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,999996,1,8,41,170,70,88,1.2,1.0,1.0,...,1.1,16,23,28,1.0,1.0,0,NaN,NaN,20161220
2015,999997,1,7,41,175,60,73,1.2,1.0,1.0,...,0.9,20,11,14,1.0,1.0,1,0.0,1.0,20161220
2015,999998,1,13,42,165,70,94,0.9,0.9,1.0,...,0.9,19,20,75,3.0,0.0,0,NaN,NaN,20161220
2015,999999,1,12,28,175,65,82,0.6,0.7,1.0,...,1.1,25,20,30,3.0,1.0,0,NaN,NaN,20161220
2015,1000000,1,11,11,160,65,84,0.4,0.2,1.0,...,1.0,29,37,33,2.0,1.0,0,NaN,NaN,20161220

In [39]:
GJ_16

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2016,1,1,10,27,175.0,75.0,86.0,1.0,1.2,1.0,...,0.9,27.0,30.0,45.0,3.0,NaN,0,NaN,NaN,20171219
2016,2,2,11,41,160.0,65.0,85.0,1.5,1.2,1.0,...,0.9,18.0,17.0,19.0,1.0,NaN,0,NaN,NaN,20171219
2016,3,2,11,43,150.0,55.0,80.0,1.5,1.5,1.0,...,0.7,23.0,19.0,64.0,1.0,NaN,0,NaN,NaN,20171219
2016,4,1,12,48,175.0,70.0,85.0,1.2,1.2,1.0,...,1.0,20.0,39.0,69.0,2.0,NaN,1,NaN,1.0,20171219
2016,5,2,6,11,160.0,50.0,67.0,0.4,0.5,1.0,...,0.7,13.0,7.0,20.0,1.0,NaN,0,NaN,NaN,20171219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,999996,1,10,42,170.0,75.0,86.0,0.8,0.8,1.0,...,0.8,24.0,39.0,44.0,3.0,NaN,1,NaN,2.0,20171219
2016,999997,2,11,41,155.0,65.0,84.0,1.0,0.9,1.0,...,0.9,29.0,34.0,143.0,3.0,NaN,1,NaN,1.0,20171219
2016,999998,1,10,41,175.0,75.0,89.0,0.2,0.9,1.0,...,0.8,20.0,24.0,23.0,3.0,NaN,0,NaN,NaN,20171219
2016,999999,2,13,42,155.0,70.0,90.0,0.8,0.7,1.0,...,0.8,17.0,15.0,12.0,1.0,NaN,0,NaN,NaN,20171219
2016,1000000,2,10,41,150.0,45.0,66.0,1.2,1.2,1.0,...,0.8,19.0,20.0,12.0,1.0,NaN,1,NaN,1.0,20171219

In [40]:
# col_interpret = 건강검진정보 - 컬럼(영어:한국어) 딕셔너리
col_interpret = dict(zip(col_GJ_12, col_GJ_13))
col_interpret

{'IDV_ID': '가입자일련번호',
 'SEX': '성별코드',
 'AGE_GROUP': '연령대코드(5세단위)',
 'SIDO': '시도코드',
 'HEIGHT': '신장(5Cm단위)',
 'WEIGHT': '체중(5Kg 단위)',
 'WAIST': '허리둘레',
 'SIGHT_LEFT': '시력(좌)',
 'SIGHT_RIGHT': '시력(우)',
 'HEAR_LEFT': '청력(좌)',
 'HEAR_RIGHT': '청력(우)',
 'BP_HIGH': '수축기혈압',
 'BP_LWST': '이완기혈압',
 'BLDS': '식전혈당(공복혈당)',
 'TOT_CHOLE': '총콜레스테롤',
 'TRIGLYCERIDE': '트리글리세라이드',
 'HDL_CHOLE': 'HDL콜레스테롤',
 'LDL_CHOLE': 'LDL콜레스테롤',
 'HMG': '혈색소',
 'OLIG_PROTE_CD': '요단백',
 'CREATININE': '혈청크레아티닌',
 'SGOT_AST': '(혈청지오티)AST',
 'SGPT_ALT': '(혈청지오티)ALT',
 'GAMMA_GTP': '감마지티피',
 'SMK_STAT_TYPE_CD': '흡연상태',
 'DRK_YN': '음주여부',
 'HCHK_OE_INSPEC_YN': '구강검진 수검여부',
 'CRS_YN': '치아우식증유무',
 'TTH_MSS_YN': '결손치유무',
 'ODT_TRB_YN': '치아마모증유무',
 'WSDM_DIS_YN': '제3대구치(사랑니)이상',
 'TTR_YN': '치석',
 'DATA_STD_DT': '데이터공개일자'}

### GJ_12/GJ_13/GJ_14/GJ_15/GJ_16 = 30개의 컬럼으로 이루어진 실제 데이터
### col_interpret = 컬럼명 해석 딕셔너리

In [50]:
GJ_12

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
HCHK_YEAR,,,,,,,,,,,,,,,,,,,,,
2012,220721,2,14,46,150,45,72,0.2,0.4,1.0,...,1.2,25,14,11,1.0,0.0,0,NaN,NaN,20151220
2012,830677,2,14,45,145,30,68,0.1,0.1,1.0,...,0.7,28,16,11,1.0,0.0,0,NaN,NaN,20151220
2012,978884,1,1,26,140,40,68,0.4,0.6,1.0,...,0.5,33,17,25,1.0,0.0,0,NaN,NaN,20151220
2012,918718,2,1,11,140,40,66,0.7,0.6,1.0,...,0.6,11,11,12,1.0,0.0,0,NaN,NaN,20151220
2012,922362,2,1,28,140,40,77,0.6,0.4,1.0,...,0.9,25,14,24,1.0,0.0,0,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,825522,2,14,45,140,40,80,0.1,0.1,1.0,...,1.0,9,4,14,1.0,0.0,0,NaN,NaN,20151220
2012,341427,2,14,44,140,40,81,0.2,0.2,1.0,...,1.4,15,3,9,1.0,0.0,0,NaN,NaN,20151220
2012,518208,2,14,41,145,40,73,0.5,0.5,1.0,...,0.8,34,25,16,1.0,0.0,0,NaN,NaN,20151220
2012,683544,2,14,26,145,40,68,9.9,9.9,2.0,...,1.3,34,14,11,1.0,0.0,0,NaN,NaN,20151220
2012,331112,2,14,45,150,40,58,0.2,0.2,1.0,...,0.8,26,9,9,1.0,0.0,0,NaN,NaN,20151220

In [51]:
GJ_13

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2013,24193,2,14,11,145,35,83,0.1,0.1,1.0,...,0.9,18,8,30,1.0,0.0,0,NaN,NaN,20151220
2013,134496,1,1,27,140,35,68,0.8,0.8,1.0,...,0.7,22,14,12,1.0,0.0,0,NaN,NaN,20151220
2013,978782,2,1,29,145,35,68,9.9,9.9,2.0,...,0.8,16,15,16,1.0,0.0,0,NaN,NaN,20151220
2013,10313,2,1,43,145,40,62,1.0,1.0,1.0,...,0.7,14,8,22,1.0,0.0,1,1.0,0.0,20151220
2013,915645,2,1,41,145,40,64,0.8,0.7,1.0,...,0.7,17,11,12,1.0,0.0,0,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,34005,2,14,11,140,35,75,0.1,0.1,1.0,...,0.8,25,6,12,1.0,0.0,0,NaN,NaN,20151220
2013,374303,2,14,41,140,35,72,NaN,NaN,NaN,...,1.4,20,5,12,1.0,0.0,0,NaN,NaN,20151220
2013,700579,2,14,26,145,45,70,0.3,0.3,2.0,...,0.8,28,6,23,1.0,0.0,0,NaN,NaN,20151220
2013,4,2,14,41,145,45,74,0.1,0.5,2.0,...,0.6,12,3,12,1.0,0.0,1,1.0,0.0,20151220
2013,487152,2,14,27,145,45,85,0.5,0.9,1.0,...,2.1,13,7,18,1.0,0.0,0,NaN,NaN,20151220

In [52]:
old_GJ_12 = GJ_12[GJ_12['AGE_GROUP']>=14]
old_GJ_13 = GJ_13[GJ_13['AGE_GROUP']>=14]
old_GJ_14 = GJ_14[GJ_14['AGE_GROUP']>=14]
old_GJ_15 = GJ_15[GJ_15['AGE_GROUP']>=14]
old_GJ_16 = GJ_16[GJ_16['AGE_GROUP']>=14]

In [53]:
old_GJ_12

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
HCHK_YEAR,,,,,,,,,,,,,,,,,,,,,
2012,220721,2,14,46,150,45,72,0.2,0.4,1.0,...,1.2,25,14,11,1.0,0.0,0,NaN,NaN,20151220
2012,830677,2,14,45,145,30,68,0.1,0.1,1.0,...,0.7,28,16,11,1.0,0.0,0,NaN,NaN,20151220
2012,358783,2,14,42,130,30,59,0.5,0.4,2.0,...,1.0,22,17,10,1.0,0.0,0,NaN,NaN,20151220
2012,708734,2,14,48,130,40,83,0.2,0.1,1.0,...,0.9,18,8,12,1.0,0.0,0,NaN,NaN,20151220
2012,127668,2,14,41,135,35,81,0.1,0.1,2.0,...,0.9,17,14,10,1.0,0.0,0,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,825522,2,14,45,140,40,80,0.1,0.1,1.0,...,1.0,9,4,14,1.0,0.0,0,NaN,NaN,20151220
2012,341427,2,14,44,140,40,81,0.2,0.2,1.0,...,1.4,15,3,9,1.0,0.0,0,NaN,NaN,20151220
2012,518208,2,14,41,145,40,73,0.5,0.5,1.0,...,0.8,34,25,16,1.0,0.0,0,NaN,NaN,20151220
2012,683544,2,14,26,145,40,68,9.9,9.9,2.0,...,1.3,34,14,11,1.0,0.0,0,NaN,NaN,20151220
2012,331112,2,14,45,150,40,58,0.2,0.2,1.0,...,0.8,26,9,9,1.0,0.0,0,NaN,NaN,20151220

In [54]:
old_GJ_13

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2013,24193,2,14,11,145,35,83,0.1,0.1,1.0,...,0.9,18,8,30,1.0,0.0,0,NaN,NaN,20151220
2013,427250,2,14,44,130,35,87,0.2,0.3,1.0,...,0.8,30,14,9,1.0,0.0,0,NaN,NaN,20151220
2013,407393,2,14,46,130,35,76,0.5,0.3,1.0,...,0.9,15,10,14,1.0,0.0,0,NaN,NaN,20151220
2013,398018,2,14,49,130,40,70,9.9,0.3,1.0,...,0.6,18,10,18,1.0,0.0,0,NaN,NaN,20151220
2013,782885,2,14,47,130,40,76,0.1,0.1,2.0,...,0.6,21,14,41,1.0,0.0,0,NaN,NaN,20151220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,34005,2,14,11,140,35,75,0.1,0.1,1.0,...,0.8,25,6,12,1.0,0.0,0,NaN,NaN,20151220
2013,374303,2,14,41,140,35,72,NaN,NaN,NaN,...,1.4,20,5,12,1.0,0.0,0,NaN,NaN,20151220
2013,700579,2,14,26,145,45,70,0.3,0.3,2.0,...,0.8,28,6,23,1.0,0.0,0,NaN,NaN,20151220
2013,4,2,14,41,145,45,74,0.1,0.5,2.0,...,0.6,12,3,12,1.0,0.0,1,1.0,0.0,20151220
2013,487152,2,14,27,145,45,85,0.5,0.9,1.0,...,2.1,13,7,18,1.0,0.0,0,NaN,NaN,20151220

In [55]:
old_GJ_14

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2014,2,2,18,41,150,65,79,0.1,0.1,1.0,...,0.8,11,4,15,1.0,1.0,0,NaN,NaN,20161220
2014,9,2,18,41,140,35,78,0.2,0.1,1.0,...,0.5,30,10,10,1.0,1.0,0,NaN,NaN,20161220
2014,11,2,18,46,140,50,79,0.1,0.1,1.0,...,0.6,19,8,14,1.0,1.0,0,NaN,NaN,20161220
2014,12,2,18,44,145,40,67,0.5,0.5,1.0,...,0.6,21,12,11,1.0,1.0,0,NaN,NaN,20161220
2014,14,1,18,46,165,60,63,0.1,9.9,1.0,...,0.8,28,19,21,1.0,1.0,0,NaN,NaN,20161220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014,999939,2,15,41,160,40,58,0.6,0.3,1.0,...,0.7,23,12,19,1.0,1.0,0,NaN,NaN,20161220
2014,999961,2,15,11,155,60,83,0.5,0.1,1.0,...,0.9,16,18,16,1.0,1.0,0,NaN,NaN,20161220
2014,999968,2,14,11,150,40,61,0.6,0.6,1.0,...,0.8,23,13,12,1.0,1.0,0,NaN,NaN,20161220
2014,999984,1,14,11,170,55,71,0.8,0.8,1.0,...,1.0,26,20,31,2.0,1.0,0,NaN,NaN,20161220
2014,999990,2,14,11,150,65,93,0.9,0.3,1.0,...,0.9,27,43,48,1.0,1.0,0,NaN,NaN,20161220

In [56]:
old_GJ_15

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2015,1,2,15,45,155,60,88,0.6,0.7,1.0,...,1.1,17,28,23,1.0,1.0,0,NaN,NaN,20161220
2015,2,2,15,11,155,65,98,1.2,0.6,1.0,...,1.0,25,30,41,1.0,1.0,1,NaN,0.0,20161220
2015,5,1,16,47,160,50,78,0.5,0.6,2.0,...,1.0,20,13,19,2.0,0.0,1,NaN,0.0,20161220
2015,12,2,18,44,145,45,84,0.1,0.5,1.0,...,1.2,18,9,15,1.0,1.0,0,NaN,NaN,20161220
2015,14,1,18,30,160,60,85,0.7,0.6,2.0,...,1.1,28,20,43,3.0,1.0,1,NaN,0.0,20161220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,999766,2,14,11,150,60,88,1.2,1.5,1.0,...,0.7,27,24,98,1.0,1.0,0,NaN,NaN,20161220
2015,999773,1,14,42,170,80,91,0.5,0.5,1.0,...,0.7,47,60,38,2.0,1.0,0,NaN,NaN,20161220
2015,999784,2,14,28,150,55,74,0.6,0.9,1.0,...,0.6,30,25,19,1.0,1.0,0,NaN,NaN,20161220
2015,999824,2,14,29,160,65,86,0.6,0.7,2.0,...,0.7,38,36,44,1.0,1.0,1,NaN,1.0,20161220
2015,999902,2,15,11,150,50,70,0.3,0.4,1.0,...,0.7,19,13,10,1.0,1.0,0,NaN,NaN,20161220

In [58]:
old_GJ_16

,IDV_ID,SEX,AGE_GROUP,SIDO,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,HEAR_LEFT,...,CREATININE,SGOT_AST,SGPT_ALT,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTR_YN,DATA_STD_DT
기준년도,,,,,,,,,,,,,,,,,,,,,
2016,8,2,16,48,155.0,60.0,81.0,0.7,0.5,1.0,...,0.7,23.0,14.0,14.0,1.0,NaN,0,NaN,NaN,20171219
2016,9,1,16,27,165.0,60.0,74.0,0.4,0.6,1.0,...,1.0,21.0,16.0,20.0,1.0,NaN,0,NaN,NaN,20171219
2016,14,2,15,11,155.0,65.0,81.0,0.8,0.5,1.0,...,0.7,31.0,26.0,26.0,1.0,NaN,0,NaN,NaN,20171219
2016,15,2,15,28,160.0,65.0,79.0,0.7,0.2,1.0,...,0.9,19.0,14.0,11.0,1.0,NaN,0,NaN,NaN,20171219
2016,26,1,14,27,165.0,65.0,81.0,0.7,0.9,1.0,...,0.9,30.0,14.0,15.0,2.0,NaN,0,NaN,NaN,20171219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,999973,2,16,47,150.0,50.0,74.0,0.3,0.4,1.0,...,1.0,19.0,29.0,36.0,1.0,NaN,0,NaN,NaN,20171219
2016,999980,1,16,44,165.0,50.0,83.0,0.6,0.8,1.0,...,1.2,33.0,14.0,14.0,1.0,NaN,0,NaN,NaN,20171219
2016,999981,1,16,44,150.0,60.0,89.0,1.0,1.0,1.0,...,0.8,43.0,55.0,79.0,1.0,NaN,0,NaN,NaN,20171219
2016,999988,1,14,41,175.0,80.0,93.0,0.5,0.3,2.0,...,0.9,24.0,25.0,37.0,2.0,NaN,0,NaN,NaN,20171219
2016,999995,1,16,29,170.0,55.0,70.0,0.6,0.5,1.0,...,0.9,29.0,21.0,21.0,1.0,NaN,0,NaN,NaN,20171219

In [1]:
import pandas as pd
new_df = pd.read_csv('new_reverse3_df.csv', encoding='cp949', index_col=0)

In [2]:
new_df

,ID,SEX,AGE,LQ4_00,EC_WHT_23,BO3_01,BO3_03,BO3_14,BO3_07,BO3_09,...,N_B1,N_B2,N_NIAC,N_FOLATE,N_VITC,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',2,78,0.0,NaN,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,1.0,480.0,480.0,128.4
1,b'A651417601',1,80,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.006231,1.732103,8.271924,386.525342,101.079339,0.0,1.0,390.0,420.0,34.8
2,b'A652228901',1,66,0.0,56.0,NaN,NaN,NaN,NaN,NaN,...,1.624364,1.005462,13.698492,217.558630,15.821594,0.0,2.0,390.0,390.0,269.8
3,b'A653184701',2,75,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.356052,0.889463,2.004974,119.056346,25.218942,1.0,1.0,360.0,360.0,136.0
4,b'A653235705',2,79,0.0,NaN,1.0,1.0,0.0,0.0,0.0,...,0.280312,0.227525,3.437222,112.559393,8.250554,0.0,2.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1,66,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.068906,1.267011,12.471559,239.418558,29.636101,0.0,1.0,480.0,480.0,151.2
8399,b'R804205101',1,75,0.0,30.0,NaN,NaN,NaN,NaN,NaN,...,1.103136,2.078078,16.175646,647.037982,46.567949,0.0,2.0,300.0,300.0,95.5
8400,b'R804205102',2,65,0.0,30.0,NaN,NaN,NaN,NaN,NaN,...,1.206207,1.913871,13.351069,506.184039,44.060558,0.0,1.0,420.0,600.0,35.2
8401,b'R804344501',2,65,0.0,11.0,NaN,NaN,NaN,NaN,NaN,...,0.625029,1.564754,7.916374,231.251136,18.464945,0.0,2.0,480.0,480.0,53.0
8402,b'R804371701',1,65,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.774904,1.552039,17.190522,550.095647,114.743308,1.0,1.0,420.0,420.0,79.7

In [3]:
final_new_df = new_df[['ID','SEX','AGE','HE_HT','HE_WT','HE_BMI','LQ_3EQL', 'LQ_4EQL','LQ_5EQL','BO1_1','TOTAL_SLP_WK','TOTAL_SLP_WD',
'BE3_71','BE3_81','BE3_91','BE3_75','BE3_85','BD2_1','LF_SAFE','BP1','SM_PRESNT', 'O_CHEW_D','L_BR_FQ','L_LN_FQ','L_DN_FQ','BH1','BE5_1','BP_PHQ_1', 'BP_PHQ_2', 'BP_PHQ_3',
'BP_PHQ_4', 'BP_PHQ_5', 'BP_PHQ_6', 'BP_PHQ_7', 'BP_PHQ_8', 'BP_PHQ_9','LF_BUYER','HE_FH', 'HE_SBP','HE_DBP']]
final_new_df

,ID,SEX,AGE,HE_HT,HE_WT,HE_BMI,LQ_3EQL,LQ_4EQL,LQ_5EQL,BO1_1,...,BP_PHQ_4,BP_PHQ_5,BP_PHQ_6,BP_PHQ_7,BP_PHQ_8,BP_PHQ_9,LF_BUYER,HE_FH,HE_SBP,HE_DBP
0,b'A651228902',2,78,150.1,52.7,23.391024,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,NaN,1.0,109.0,67.0
1,b'A651417601',1,80,155.2,61.6,25.573919,0.0,0.0,1.0,NaN,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,135.0,76.0
2,b'A652228901',1,66,170.8,66.9,22.932446,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,128.0,82.0
3,b'A653184701',2,75,144.6,49.9,23.865139,1.0,2.0,2.0,1.0,...,3.0,3.0,3.0,0.0,0.0,1.0,1.0,1.0,124.0,70.0
4,b'A653235705',2,79,147.9,77.7,35.520958,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,143.0,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1,66,163.7,70.5,26.308238,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,131.0,85.0
8399,b'R804205101',1,75,163.1,69.5,26.126238,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,134.0,86.0
8400,b'R804205102',2,65,163.0,61.8,23.260190,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,118.0,72.0
8401,b'R804344501',2,65,155.6,59.5,24.575241,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,122.0,86.0
8402,b'R804371701',1,65,171.5,76.3,25.941572,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,139.0,70.0

In [4]:
final_new_df.to_csv('final_new_df.csv', encoding='cp949')