In [5]:
import pandas as pd
concat_age1 = pd.read_csv('concat_age1.csv', index_col = 0)
concat_age2 = pd.read_csv('concat_age2.csv', index_col = 0)

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,183,193,200,249,274,374,385,425,568,629,687,692,693,699,701,702,703,704,708,710,712,730,731,738,740,744,745,746,751,783,820,823,842,845,881) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
# concat_age1 --> 유병여부 컬럼을 제외한 나머지 컬럼들로 구성된 실제 데이터(5개년치)
concat_age1

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,LF_SECUR_G,AC3_1_03,AC3_2_03,AC8_1_03,BS12_47_4,HE_PLS_30,HE_UCREA_ETC,MO4_17_1,MO4_17_2,T_TYMP_DIS
0,b'A651228902',b'A6512289',1.0,1.0,2.0,b'A651',2.0,78.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'A651417601',b'A6514176',1.0,1.0,2.0,b'A651',1.0,80.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A652228901',b'A6522289',1.0,1.0,2.0,b'A652',1.0,66.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'A653184701',b'A6531847',1.0,1.0,1.0,b'A653',2.0,75.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A653235705',b'A6532357',1.0,1.0,1.0,b'A653',2.0,79.0,4.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8.0,1.0,2.0,b'R804',1.0,66.0,2.0,2.0,...,1.0,NaN,NaN,NaN,NaN,34.0,NaN,1.0,0.0,0.0
8399,b'R804205101',b'R8042051',8.0,1.0,2.0,b'R804',1.0,75.0,4.0,2.0,...,1.0,NaN,NaN,NaN,NaN,31.0,NaN,0.0,0.0,0.0
8400,b'R804205102',b'R8042051',8.0,1.0,2.0,b'R804',2.0,65.0,3.0,2.0,...,1.0,NaN,NaN,NaN,NaN,32.0,NaN,NaN,NaN,0.0
8401,b'R804344501',b'R8043445',8.0,1.0,2.0,b'R804',2.0,65.0,2.0,2.0,...,1.0,NaN,NaN,NaN,NaN,38.0,NaN,1.0,1.0,0.0
8402,b'R804371701',b'R8043717',8.0,1.0,2.0,b'R804',1.0,65.0,2.0,2.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0

In [7]:
# concat_age2 --> 유병여부 컬럼으로 구성된 실제 데이터(5개년치)
concat_age2

,ID,DI1_PR,DI2_PR,DI3_PR,DI4_PR,DI5_PR,DM2_PR,DM3_PR,DM4_PR,DJ2_PR,...,DC1_PR,DC2_PR,DC3_PR,DC4_PR,DC5_PR,DC6_PR,DC7_PR,DK8_PR,DK9_PR,DK4_PR
0,b'A651228902',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,b'A651417601',1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'A652228901',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'A653184701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'A653235705',1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8399,b'R804205101',0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8400,b'R804205102',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8401,b'R804344501',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8402,b'R804371701',NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# same_code_2 --> 최종 변수설명서
same_code_2 = pd.read_csv('C:/Users/User/VS_code/sas_view/code/same_code_2.csv', index_col = 0)

In [15]:
same_code_2

,변수명,변수설명7,변수설명8
0,mod_d,최종 DB 수정일,최종 DB 수정일
1,ID,개인 아이디,개인 아이디
2,ID_fam,가구 아이디,가구 아이디
3,year,조사연도,조사연도
4,region,17개 시도,17개 시도
...,...,...,...
747,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
748,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
749,Total_slp_wk,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
750,Total_slp_wd,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"
751,HE_UCREA,요크레아티닌,요크레아티닌

In [27]:
'HE_DM' in same_code_2['변수명'].values

True