# 데이터 컬럼명 대문자화 + 년도별 컬럼명 다른 것 통일

In [1]:
import pandas as pd

In [75]:
age16_1 = pd.read_csv('data/pre2_age16_1.csv')
age17_1 = pd.read_csv('data/pre2_age17_1.csv')
age18_1 = pd.read_csv('data/pre2_age18_1.csv')
age19_1 = pd.read_csv('data/pre2_age19_1.csv')
age20_1 = pd.read_csv('data/pre2_age20_1.csv')

age16_2 = pd.read_csv('data/pre2_age16_2.csv')
age17_2 = pd.read_csv('data/pre2_age17_2.csv')
age18_2 = pd.read_csv('data/pre2_age18_2.csv')
age19_2 = pd.read_csv('data/pre2_age19_2.csv')
age20_2 = pd.read_csv('data/pre2_age20_2.csv')

age16_1

C:\Users\User\anaconda3\envs\ml\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (44,175,384,424,567) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\User\anaconda3\envs\ml\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (251,297,413) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\User\anaconda3\envs\ml\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (40,121,260,279,295,372,487,502) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\User\anaconda3\envs\ml\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (40,41,95,598) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\User\anaconda3\envs\ml\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (115,530) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,ID_fam,region,town_t,apt_t,psu,sex,age,incm,ho_incm,...,HEI_TVEG,HEI_VEG,HEI_PROTF,HEI_DAIRY,HEI_SFA,HEI_NA,HEI_SWEET,HEI_CHO,HEI_FAT,HEI_EN
0,b'A651228902',b'A6512289',1.0,1.0,2.0,b'A651',2.0,78.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'A651417601',b'A6514176',1.0,1.0,2.0,b'A651',1.0,80.0,NaN,NaN,...,5.000000,3.092948,10.000000,10.00000,9.986004,4.667112,10.000000,5.000000,5.000000,5.000000
2,b'A652228901',b'A6522289',1.0,1.0,2.0,b'A652',1.0,66.0,3.0,3.0,...,1.788935,0.304439,10.000000,0.00000,10.000000,5.713150,10.000000,1.264658,2.250121,0.000000
3,b'A653184701',b'A6531847',1.0,1.0,1.0,b'A653',2.0,75.0,2.0,1.0,...,0.373081,0.746163,3.503593,0.00000,10.000000,10.000000,10.000000,1.557652,5.000000,0.000000
4,b'A653235705',b'A6532357',1.0,1.0,1.0,b'A653',2.0,79.0,4.0,3.0,...,1.791667,0.000000,2.775250,1.77434,10.000000,10.000000,10.000000,0.000000,5.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627,b'R654271406',b'R6542714',8.0,2.0,2.0,b'R654',2.0,66.0,4.0,4.0,...,2.164839,1.962809,10.000000,0.00000,10.000000,10.000000,10.000000,5.000000,5.000000,1.187048
1628,b'R654279901',b'R6542799',8.0,2.0,2.0,b'R654',2.0,80.0,4.0,4.0,...,2.194360,3.736339,10.000000,0.00000,7.612126,10.000000,3.579468,0.000000,1.531671,0.000000
1629,b'R654308803',b'R6543088',8.0,2.0,2.0,b'R654',1.0,80.0,4.0,4.0,...,2.788147,2.068826,9.500000,0.00000,10.000000,10.000000,10.000000,1.432012,3.661889,5.000000
1630,b'R654353001',b'R6543530',8.0,2.0,2.0,b'R654',1.0,75.0,3.0,2.0,...,5.000000,5.000000,3.700000,0.00000,10.000000,10.000000,10.000000,4.410503,5.000000,5.000000
1631,b'R654353002',b'R6543530',8.0,2.0,2.0,b'R654',2.0,72.0,3.0,2.0,...,5.000000,5.000000,10.000000,0.00000,10.000000,10.000000,10.000000,5.000000,5.000000,5.000000

In [76]:
# 컬럼명을 대문자로 바꾸는 함수

def col_upper(df):
    df_col = df.columns
    df_upper = []
    for i in df_col:
        df_upper.append(i.upper().strip())
    
    df.columns = df_upper

In [77]:
col_upper(age16_1)
col_upper(age17_1)
col_upper(age18_1)
col_upper(age19_1)
col_upper(age20_1)

col_upper(age16_2)
col_upper(age17_2)
col_upper(age18_2)
col_upper(age19_2)
col_upper(age20_2)

In [81]:
# 컬럼 바꾸기! HE_DM_HBA1C
def change_col(df):
    # HE_DM_HBA1C -> HE_DM
    if 'HE_DM_HBA1C' in df.columns:
        df.rename(columns={'HE_DM_HBA1C':'HE_DM'}, inplace=True)
        print("'HE_DM_HBA1C' in df : True")
        print("'HE_DM_HBA1C' -> 'HE_DM' 변경")
    else:
        print("'HE_DM_HBA1C' in df : False")
    
    # T_HL_MODERATE -> T_HL_MOD
    if 'T_HL_MODERATE' in df.columns:
        df.rename(columns={'T_HL_MODERATE':'T_HL_MOD'}, inplace=True)
        print("'T_HL_MODERATE' in df : True")
        print("'T_HL_MODERATE' -> 'T_HL_MOD' 변경")
    else:
        print("'T_HL_MODERATE' in df : False")

In [82]:
change_col(age16_1)
change_col(age17_1)
change_col(age18_1)
change_col(age19_1)
change_col(age20_1)

change_col(age16_2)
change_col(age17_2)
change_col(age18_2)
change_col(age19_2)
change_col(age20_2)

'HE_DM_HBA1C' in df : False
'T_HL_MODERATE' in df : False
'HE_DM_HBA1C' in df : False
'T_HL_MODERATE' in df : False
'HE_DM_HBA1C' in df : False
'T_HL_MODERATE' in df : False
'HE_DM_HBA1C' in df : True
'HE_DM_HBA1C' -> 'HE_DM' 변경
'T_HL_MODERATE' in df : True
'T_HL_MODERATE' -> 'T_HL_MOD' 변경
'HE_DM_HBA1C' in df : True
'HE_DM_HBA1C' -> 'HE_DM' 변경
'T_HL_MODERATE' in df : False
'HE_DM_HBA1C' in df : False
'T_HL_MODERATE' in df : False
'HE_DM_HBA1C' in df : False
'T_HL_MODERATE' in df : False
'HE_DM_HBA1C' in df : False
'T_HL_MODERATE' in df : False
'HE_DM_HBA1C' in df : False
'T_HL_MODERATE' in df : False
'HE_DM_HBA1C' in df : False
'T_HL_MODERATE' in df : False

In [85]:
'TOTAL_SLP_WK' in age18_1.columns

True

In [86]:
# BP16_1 -> TOTAL_SLP_WK 값 시간 -> 분
def change_SLP(df):
    # BP16_1 -> TOTAL_SLP_WK
    if 'BP16_1' in df.columns:
        df['BP16_1'] = df['BP16_1']*60
        df.rename(columns={'BP16_1':'TOTAL_SLP_WK'}, inplace=True)
        print('BP16_1 -> TOTAL_SLP_WK 변경')
    else:
        print('BP16_1 없음')
    
    # BP16_2 -> TOTAL_SLP_WD
    if 'BP16_2' in df.columns:
        df['BP16_2'] = df['BP16_2']*60
        df.rename(columns={'BP16_2':'TOTAL_SLP_WD'}, inplace=True)
        print('BP16_2 -> TOTAL_SLP_WD 변경')
    else:
        print('BP16_2 없음')

In [87]:
age19_1['BP16_1']

0        8.0
1        6.0
2        7.0
3        6.0
4        5.0
        ...
1730     3.0
1731     NaN
1732     5.0
1733     NaN
1734    10.0
Name: BP16_1, Length: 1735, dtype: float64

In [88]:
# 확인용
print('BP16_1' in age19_1.columns)
print('TOTAL_SLP_WK' in age19_1.columns)

True
False

In [89]:
change_SLP(age16_1)
change_SLP(age17_1)
change_SLP(age18_1)
change_SLP(age19_1)
change_SLP(age20_1)

change_SLP(age16_2)
change_SLP(age17_2)
change_SLP(age18_2)
change_SLP(age19_2)
change_SLP(age20_2)

BP16_1 없음
BP16_2 없음
BP16_1 없음
BP16_2 없음
BP16_1 없음
BP16_2 없음
BP16_1 -> TOTAL_SLP_WK 변경
BP16_2 -> TOTAL_SLP_WD 변경
BP16_1 -> TOTAL_SLP_WK 변경
BP16_2 -> TOTAL_SLP_WD 변경
BP16_1 없음
BP16_2 없음
BP16_1 없음
BP16_2 없음
BP16_1 없음
BP16_2 없음
BP16_1 없음
BP16_2 없음
BP16_1 없음
BP16_2 없음

In [90]:
# 확인용
print('BP16_1' in age19_1.columns)
print('TOTAL_SLP_WK' in age19_1.columns)

False
True

In [94]:
age16_1.to_csv('data/pre3_age16_1.csv', index=False)
age17_1.to_csv('data/pre3_age17_1.csv', index=False)
age18_1.to_csv('data/pre3_age18_1.csv', index=False)
age19_1.to_csv('data/pre3_age19_1.csv', index=False)
age20_1.to_csv('data/pre3_age20_1.csv', index=False)

age16_2.to_csv('data/pre3_age16_2.csv', index=False)
age17_2.to_csv('data/pre3_age17_2.csv', index=False)
age18_2.to_csv('data/pre3_age18_2.csv', index=False)
age19_2.to_csv('data/pre3_age19_2.csv', index=False)
age20_2.to_csv('data/pre3_age20_2.csv', index=False)