### 데이터 정리 (역순 처리)
* 역순 필요여부 작업 : Excel 
* 역순 처리 : python

### 분석전 과정

1. 역순처리에 쓰일 파일 생성 (변수사전 이용)

In [3]:
## 라이브러리
import pandas as pd

In [4]:
## 데이터 불러오기
data = pd.read_csv('C:/sas_view/data/real_data1_final.csv',index_col=0)
dic = pd.read_csv('C:/sas_view/use_code/Make_Dictionary/data/same.csv',encoding='cp949',index_col=0)
data.head()

C:\Users\dkq50\AppData\Local\Temp\ipykernel_13848\61372900.py:2: DtypeWarning: Columns (31,32,240,252,361,372,414,425,432,467) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('C:/sas_view/data/real_data1_final.csv',index_col=0)

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN

In [5]:
dic.head()

      변수명      변수설명7      변수설명8
0   MOD_D  최종 DB 수정일  최종 DB 수정일
1      ID     개인 아이디     개인 아이디
2  ID_FAM     가구 아이디     가구 아이디
3    YEAR       조사연도       조사연도
4  REGION     17개 시도     17개 시도

In [6]:
var = list(data.columns)
var

['ID',
 'ID_FAM',
 'REGION',
 'TOWN_T',
 'APT_T',
 'PSU',
 'SEX',
 'AGE',
 'INCM',
 'HO_INCM',
 'INCM5',
 'HO_INCM5',
 'EDU',
 'OCCP',
 'WT_HS',
 'WT_ITVEX',
 'WT_PFT',
 'WT_NTR',
 'WT_TOT',
 'WT_PFNT',
 'KSTRATA',
 'CFAM',
 'GENERTN',
 'ALLOWNC',
 'LIVE_T',
 'AINC',
 'MARRI_1',
 'MARRI_2',
 'FAM_RELA',
 'TINS',
 'ID_F',
 'ID_M',
 'D_2_WK',
 'DI1_DG',
 'DI1_AG',
 'DI1_PT',
 'DI1_2',
 'DI2_AG',
 'DI2_2',
 'DI3_AG',
 'DI3_2',
 'DI4_DG',
 'DI4_PT',
 'DI5_DG',
 'DI5_AG',
 'DI5_PT',
 'DI6_DG',
 'DI6_AG',
 'DI6_PT',
 'DM1_DG',
 'DM1_PR',
 'DM1_PT',
 'DM2_AG',
 'DM3_DG',
 'DM3_AG',
 'DM3_PT',
 'DM4_DG',
 'DM4_AG',
 'DM4_PT',
 'DJ2_AG',
 'DJ4_DG',
 'DJ4_AG',
 'DJ4_PT',
 'DJ4_3',
 'DE1_DG',
 'DE1_AG',
 'DE1_3',
 'DE1_4',
 'DE2_AG',
 'DC1_DG',
 'DC1_AG',
 'DC1_PT',
 'DC2_DG',
 'DC2_AG',
 'DC3_DG',
 'DC3_AG',
 'DC4_DG',
 'DC4_AG',
 'DC5_DG',
 'DC5_AG',
 'DC6_DG',
 'DC6_AG',
 'DC7_DG',
 'DC7_AG',
 'DC11_DG',
 'DC11_AG',
 'DC12_DG',
 'DC12_AG',
 'DF2_AG',
 'DL1_DG',
 'DL1_AG',
 'DJ8_DG',
 'DJ8_AG',
 'DJ6_DG',
 'DJ6_AG',
 'DJ6_PT',
 'DH4_DG',
 'DH4_AG',
 'DH4_PT',
 'DK8_AG',
 'DK9_AG',
 'DK4_AG',
 'M_2_YR',
 'MT_NONTRT',
 'BH2_61',
 'LQ4_00',
 'LQ1_SB',
 'LQ1_MN',
 'LQ2_AB',
 'LQ2_MN',
 'EQ5D',
 'AC3',
 'AC8_1_01',
 'AC8_1_02',
 'AC8_1_03',
 'MH1_YR',
 'MH1_1',
 'MO1_WK',
 'EC1_1',
 'EC_OCCP',
 'EC_STT_1',
 'EC_WHT_0',
 'EC_WHT_23',
 'EC_WHT_5',
 'EC_LGW_4',
 'EC_LGW_5',
 'EC_PEDU_1',
 'EC_PEDU_2',
 'BO3_01',
 'BO3_03',
 'BO3_14',
 'BO3_07',
 'BO3_09',
 'BO3_10',
 'BD2_31',
 'BD2_32',
 'BD7_4',
 'BD7_61',
 'BD7_62',
 'BD7_63',
 'BD7_64',
 'BD7_65',
 'BD7_66',
 'DR_MONTH',
 'BA2_12',
 'BA2_2_1',
 'BA2_2_2',
 'BA2_2_3',
 'BA2_2_4',
 'BA2_2_5',
 'BA2_2_6',
 'BA2_22',
 'SC_SEATBLT2',
 'BP_PHQ_1',
 'BP_PHQ_2',
 'BP_PHQ_3',
 'BP_PHQ_4',
 'BP_PHQ_5',
 'BP_PHQ_6',
 'BP_PHQ_7',
 'BP_PHQ_8',
 'BP_PHQ_9',
 'BP1',
 'BP5',
 'BP6_10',
 'BP6_2',
 'BP6_31',
 'BP7',
 'MH_STRESS',
 'SM_PRESNT',
 'BE8_1',
 'BE8_2',
 'BE3_31',
 'BE3_32',
 'BE3_33',
 'BE5_1',
 'PA_AEROBIC',
 'LW_MP_A',
 'LW_MS_A',
 'LW_BR',
 'LW_BR_CH',
 'LW_BR_DUR',
 'LW_BR_YY',
 'LW_BR_MM',
 'LW_OC',
 'HE_FST',
 'HE_HPDR',
 'HE_DMDR',
 'HE_MENS',
 'HE_PRG',
 'HE_FH',
 'HE_HPFH1',
 'HE_HPFH2',
 'HE_HPFH3',
 'HE_HLFH1',
 'HE_HLFH2',
 'HE_HLFH3',
 'HE_IHDFH1',
 'HE_IHDFH2',
 'HE_IHDFH3',
 'HE_STRFH1',
 'HE_STRFH2',
 'HE_STRFH3',
 'HE_DMFH1',
 'HE_DMFH2',
 'HE_DMFH3',
 'HE_THFH1',
 'HE_THFH2',
 'HE_THFH3',
 'HE_HBFH1',
 'HE_HBFH2',
 'HE_HBFH3',
 'HE_RPLS',
 'HE_MPLS',
 'HE_NARM',
 'HE_SBP1',
 'HE_DBP1',
 'HE_SBP2',
 'HE_DBP2',
 'HE_SBP3',
 'HE_DBP3',
 'HE_SBP',
 'HE_DBP',
 'HE_HP',
 'HE_HT',
 'HE_WT',
 'HE_WC',
 'HE_BMI',
 'HE_OBE',
 'HE_GLU',
 'HE_HBA1C',
 'HE_CHOL',
 'HE_HDL_ST2',
 'HE_TG',
 'HE_LDL_DRCT',
 'HE_HCHOL',
 'HE_HTG',
 'HE_AST',
 'HE_ALT',
 'HE_ALT_ETC',
 'HE_HEPAB',
 'HE_HEPAC',
 'HE_HB',
 'HE_HCT',
 'HE_ANEM',
 'HE_BUN',
 'HE_CREA',
 'HE_WBC',
 'HE_RBC',
 'HE_BPLT',
 'HE_UACID',
 'HE_UACID_ETC',
 'HE_UPH',
 'HE_UNITR',
 'HE_USG',
 'HE_UPRO',
 'HE_UGLU',
 'HE_UKET',
 'HE_UBIL',
 'HE_UBLD',
 'HE_URO',
 'HE_UCOT',
 'HE_UNA',
 'HE_UKAL',
 'HE_FVC',
 'HE_FVCP',
 'HE_FEV1',
 'HE_FEV1P',
 'HE_FEV1FVC',
 'HE_FEV6',
 'HE_FEF25_75',
 'HE_PEF',
 'HE_COPD',
 'HE_COUGH1',
 'HE_COUGH2',
 'HE_SPUT1',
 'HE_SPUT2',
 'HE_PFTDR',
 'HE_PFTAG',
 'HE_PFTTR',
 'HE_PFTHS',
 'OR1',
 'O_PAIN',
 'O_ORTHO',
 'BM1_0',
 'BM1_1',
 'BM1_2',
 'BM1_3',
 'BM1_4',
 'BM1_5',
 'BM1_6',
 'BM1_7',
 'BM1_8',
 'BM2_1',
 'BM2_3',
 'BM2_2',
 'BM2_4',
 'BM13',
 'BM7',
 'O_CHEW_D',
 'BM8',
 'OR1_2',
 'MO4_00',
 'MO4_8',
 'MO4_12',
 'BM14',
 'BM14_1',
 'T_Q_HR',
 'GS_USE',
 'GS_MEA_R_1',
 'GS_MEA_R_2',
 'GS_MEA_R_3',
 'GS_MEA_L_1',
 'GS_MEA_L_2',
 'GS_MEA_L_3',
 'L_BR',
 'L_LN',
 'L_DN',
 'L_BR_FQ',
 'L_LN_FQ',
 'L_DN_FQ',
 'L_OUT_FQ',
 'L_BR_TO',
 'L_BR_WHO',
 'L_LN_TO',
 'L_LN_WHO',
 'L_DN_TO',
 'L_DN_WHO',
 'LS_1YR',
 'LK_EDU',
 'LK_LB_CO',
 'LK_LB_US',
 'LK_LB_IT',
 'LK_LB_EF',
 'N_DIET',
 'N_DIET_WHY',
 'N_WAT_C',
 'LF_SECUR_Y',
 'LF_BUYER',
 'LF_SAFE',
 'WT_OE',
 'HOUSE',
 'AINC_UNIT1',
 'AINC_1',
 'NPINS',
 'D_1_1',
 'D_2_1',
 'DI2_DG',
 'DI2_PT',
 'DI3_DG',
 'DI3_PT',
 'DM2_DG',
 'DM2_PT',
 'DJ2_DG',
 'DJ2_PT',
 'DE1_PT',
 'DE1_31',
 'DE1_32',
 'DE1_33',
 'DE1_34',
 'DE1_35',
 'DE2_DG',
 'DE2_PT',
 'DC2_PT',
 'DC3_PT',
 'DC4_PT',
 'DC5_PT',
 'DC6_PT',
 'DC7_PT',
 'DC11_PR',
 'DC11_PT',
 'DC12_TP',
 'DC12_PR',
 'DC12_PT',
 'DF2_DG',
 'DF2_PT',
 'DL1_PT',
 'DJ8_PT',
 'DK8_DG',
 'DK8_PT',
 'DK9_DG',
 'DK9_PT',
 'DK4_DG',
 'DK4_PT',
 'BH9_11',
 'BH1',
 'BH1_1',
 'BH1_2',
 'BH1_3',
 'BH1_8',
 'BH1_6',
 'BH2_62',
 'BH2_63',
 'BH2_66',
 'BH2_67',
 'BH2_64',
 'LQ_1EQL',
 'LQ_2EQL',
 'LQ_3EQL',
 'LQ_4EQL',
 'LQ_5EQL',
 'AC1_YR',
 'AC3_1_01',
 'AC3_1_02',
 'AC3_1_03',
 'AC3_2_01',
 'AC3_2_02',
 'AC3_2_03',
 'IJ_EXPR',
 'MO1_1',
 'EDUC',
 'GRADUAT',
 'EC_STT_2',
 'EC_WHT_6',
 'EC_LGW_2',
 'BO1',
 'BO1_1',
 'BO1_2',
 'BO1_3',
 'BO2_1',
 'BO3_02',
 'BO3_05',
 'BO3_04',
 'BO3_12',
 'BO3_11',
 'BD1',
 'BD2',
 'BD1_11',
 'BD2_1',
 'BD2_14',
 'BD7_5',
 'BD7_67',
 'BA2_13',
 'BA1_3',
 'SC_SEATBLT',
 'MH_PHQ_S',
 'BS1_1',
 'BS2_1',
 'BS3_1',
 'BS3_2',
 'BS3_3',
 'BS6_2',
 'BS6_2_1',
 'BS6_2_2',
 'BS6_3',
 'BS6_4',
 'BS6_4_1',
 'BS6_4_2',
 'BS5_4',
 'BS5',
 'BS5_1',
 'BS5_21',
 'BS5_28',
 'BS5_26',
 'BS5_33',
 'BS5_34',
 'BS5_32',
 'BS5_29',
 'BS5_30',
 'BS8_2',
 'BS9_2',
 'BS13',
 'BS12_31',
 'BS12_32',
 'BS12_33',
 'BS12_34',
 'BS12_35',
 'BS12_36',
 'BS12_41',
 'BS12_42',
 'BS12_43',
 'BS12_44',
 'BS12_46',
 'BE3_71',
 'BE3_72',
 'BE3_73',
 'BE3_74',
 'BE3_81',
 'BE3_82',
 'BE3_83',
 'BE3_84',
 'BE3_91',
 'BE3_92',
 'BE3_93',
 'BE3_94',
 'BE3_75',
 'BE3_76',
 'BE3_77',
 'BE3_78',
 'BE3_85',
 'BE3_86',
 'BE3_87',
 'BE3_88',
 'LW_MS',
 'LW_PR',
 'LW_PR_1',
 'LW_MT',
 'LW_MT_A1',
 'LW_MT_A2',
 'BM2_5',
 'MO4_4',
 'MO4_9',
 'MO4_7',
 'MO4_17',
 'MO4_11',
 'MO4_18',
 'MO4_15',
 'T_EX',
 'T_Q_VN',
 'N_INTK',
 'N_EN',
 'N_WATER',
 'N_PROT',
 'N_FAT',
 'N_SFA',
 'N_MUFA',
 'N_PUFA',
 'N_N3',
 'N_N6',
 'N_CHOL',
 'N_CHO',
 'N_TDF',
 'N_SUGAR',
 'N_CA',
 'N_PHOS',
 'N_FE',
 'N_NA',
 'N_K',
 'N_VA_RAE',
 'N_CAROT',
 'N_RETIN',
 'N_B1',
 'N_B2',
 'N_NIAC',
 'N_FOLATE',
 'N_VITC',
 'DN1_DG',
 'DN1_AG',
 'DN1_PR',
 'DN1_PT',
 'BS12_1',
 'BS12_2',
 'BS12_37',
 'BS12_47',
 'T_NQ_OCP',
 'HE_DM',
 'TOTAL_SLP_WK',
 'TOTAL_SLP_WD',
 'HE_UCREA']

In [7]:
## 변수명 안에서 var에 해당하는 데이터만 추출
var_d = dic[dic.loc[:,'변수명'].isin(var)]
var_d

,변수명,변수설명7,변수설명8
1,ID,개인 아이디,개인 아이디
2,ID_FAM,가구 아이디,가구 아이디
4,REGION,17개 시도,17개 시도
5,TOWN_T,동/읍면 구분,동/읍면 구분
6,APT_T,아파트 구분,아파트 구분
...,...,...,...
747,BS12_47,(성인) 현재사용담배종류: 찐담배,궐련형 전자담배 현재사용여부
748,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출
749,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상)
750,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간
751,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간"

In [8]:
## 데이터 정리 중 역순처리를 위한 작업을 위해 csv파일로 내보내기
var_d.to_csv('data/var_d.csv',encoding='cp949')

2. 데이터 확인 작업 (var_c.csv / real_data1.csv) 수정필요
* var_c.csv (제거여부 / 변경여부)


    * 제거여부
        * 0 : 질병에 영향을 미칠 가능성이 있다고 판단되는 변수들
        * 1 : 상관계수는 0.4 이상이지만 영향을 주지 않을 것 같다고 판단되는 변수들
    #
    * 변경여부 (역순처리)
        * 0 : 설문지 응답문항이 큰 수일수록 긍정일 경우 (ex. 0 : 없음 / 1 : 긍정)
        * 1 : 부정이 더 큰 수에 해당하는 경우 (ex. 0 : 매우 그렇다 ~ 5 : 매우 그렇지 않다)

In [3]:
## 제거여부와 변경여부가 추가된 변수사전 csv 불러오기
var_df = pd.read_csv('data/var_c.csv',encoding='cp949')
var_df

,변수명,변수설명7,변수설명8,제거여부,변경여부,내용,응답len,리스트
0,ID,개인 아이디,개인 아이디,1,NaN,NaN,NaN,NaN
1,ID_FAM,가구 아이디,가구 아이디,1,NaN,NaN,NaN,NaN
2,REGION,17개 시도,17개 시도,1,NaN,NaN,NaN,NaN
3,TOWN_T,동/읍면 구분,동/읍면 구분,1,NaN,NaN,NaN,NaN
4,APT_T,아파트 구분,아파트 구분,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
544,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출,0,1.0,2 -> 0\r\n1 -> 1,2.0,"2,1"
545,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상),0,1.0,1 -> 0\r\n2 -> 1\r\n3 -> 2,3.0,"1,2,3"
546,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간 (분),0,0.0,NaN,NaN,NaN
547,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시...",0,0.0,NaN,NaN,NaN
548,HE_UCREA,요크레아티닌,요크레아티닌,0,0.0,NaN,NaN,NaN

In [67]:
### 찐 데이터
age_1 = pd.read_csv('C:/sas_view/data/real_data1_final.csv',index_col=0)
age_1

C:\Users\dkq50\AppData\Local\Temp\ipykernel_7968\2185375020.py:2: DtypeWarning: Columns (31,32,240,252,361,372,414,425,432,467) have mixed types. Specify dtype option on import or set low_memory=False.
  age_1 = pd.read_csv('C:/sas_view/data/real_data1_final.csv',index_col=0)

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,2.0,NaN,NaN,NaN,2.0,2.0,480.0,480.0,128.4
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,2.0,390.0,420.0,34.8
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,390.0,390.0,269.8
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,2.0,NaN,NaN,NaN,1.0,2.0,360.0,360.0,136.0
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,2.0,NaN,NaN,NaN,2.0,3.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8,1,2,b'R804',1,66,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,480.0,480.0,151.2
8399,b'R804205101',b'R8042051',8,1,2,b'R804',1,75,4.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,300.0,300.0,95.5
8400,b'R804205102',b'R8042051',8,1,2,b'R804',2,65,3.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,2.0,420.0,600.0,35.2
8401,b'R804344501',b'R8043445',8,1,2,b'R804',2,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,2.0,3.0,480.0,480.0,53.0
8402,b'R804371701',b'R8043717',8,1,2,b'R804',1,65,2.0,2.0,...,NaN,2.0,NaN,2.0,NaN,1.0,2.0,420.0,420.0,79.7

In [68]:
### 필요데이터
var_df2 = var_df[var_df.loc[:,'제거여부'] == 0]
use_var = list(var_df2.loc[:,'변수명'])

In [69]:
## 역순처리가 필요한 변수 추출
var_df[var_df.loc[:,'변경여부'] == 1]

,변수명,변수설명7,변수설명8,제거여부,변경여부,내용,응답len,리스트
23,ALLOWNC,기초생활수급 여부,기초생활수급 여부,0,1.0,10(수급경험있음)->1\r\n20(수급경험없음)->0,2.0,"20,10"
35,DI1_PT,고혈압 치료,고혈압 치료,0,1.0,1 -> 1\r\n2 -> 0,2.0,"2,1"
36,DI1_2,혈압조절제 복용,혈압조절제 복용,0,1.0,5 -> 0\r\n4 -> 1\r\n3 -> 2\r\n2 -> 3\r\n1 -> 4,5.0,"5,4,3,2,1"
38,DI2_2,이상지질혈증 약복용,이상지질혈증 약복용,0,1.0,5 -> 1\r\n4 -> 2\r\n3 -> 3,5.0,"5,4,3,2,1"
40,DI3_2,뇌졸중 후유증,뇌졸중 후유증,0,1.0,3 -> 1\r\n2 -> 2\r\n1- > 3,3.0,"3,2,1"
...,...,...,...,...,...,...,...,...
508,T_Q_VN,이명 여부,이명경험,0,1.0,2 -> 0\r\n1 -> 1,2.0,"2,1"
540,BS12_1,(성인) 전자담배 평생사용여부,액상형 전자담배 평생사용여부,0,1.0,2 -> 0\r\n1 -> 1,2.0,"2,1"
541,BS12_2,(성인) 전자담배 현재사용여부,액상형 전자담배 현재사용여부,0,1.0,2 -> 0\r\n1 -> 1,2.0,"2,1"
544,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출,0,1.0,2 -> 0\r\n1 -> 1,2.0,"2,1"
545,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상),0,1.0,1 -> 0\r\n2 -> 1\r\n3 -> 2,3.0,"1,2,3"

In [70]:
## 해당 변수의 데이터들 추출 (test로 DI1_2 변수 확인)
n = 23
age_1.loc[:,var_df.iloc[n][0]]

0       20.0
1       20.0
2       20.0
3       10.0
4       20.0
        ...
8398    20.0
8399    20.0
8400    20.0
8401    20.0
8402    20.0
Name: ALLOWNC, Length: 8403, dtype: float64

### 역순처리가 필요한 변수 변경 작업 실시

In [37]:
new = [] # 새로운 변수 생성
nn = 0
for n in list(var_df[var_df.loc[:,'변경여부'] == 1].index): ## 변경여부가 1인 변수들 (역순처리 필요한 변수)
    nn += 1
    print(nn, n, var_df.iloc[n][0]) ## 변수 확인을 위함
    m = int(var_df.iloc[n][6]) ## 변경len : 응답문항 수
    if m != 0:
        m_list = var_df.iloc[n][7].split(',') # 변경list : 리스트[0] -> 0 ---- 리스트[n] -> 0+n 
    
    ## 역순 처리
        for i in range(0,len(age_1)):
            for j in range(0,m): 
                if age_1.loc[:,var_df.iloc[n][0]][i] == int(m_list[j]):
                    #print('변경전: ', age_1.loc[:,var_df.iloc[n][0]][i])
                    age_1.loc[:,var_df.iloc[n][0]][i] = j
                    #print('변경후:',age_1.loc[:,var_df.iloc[n][0]][i])
    else:
       new.append(n)

1 23 ALLOWNC

C:\Users\dkq50\AppData\Local\Temp\ipykernel_7968\3595329852.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_1.loc[:,var_df.iloc[n][0]][i] = j

2 35 DI1_PT
3 36 DI1_2
4 38 DI2_2
5 40 DI3_2
6 42 DI4_PT
7 45 DI5_PT
8 48 DI6_PT
9 51 DM1_PT
10 55 DM3_PT
11 58 DM4_PT
12 62 DJ4_PT
13 63 DJ4_3
14 66 DE1_3
15 67 DE1_4
16 71 DC1_PT
17 95 DJ6_PT
18 98 DH4_PT
19 104 BH2_61
20 105 LQ4_00
21 115 MH1_YR
22 117 MO1_WK
23 162 BP1
24 163 BP5
25 167 BP7
26 172 BE3_31
27 175 BE5_1
28 179 LW_BR
29 181 LW_BR_DUR
30 183 LW_BR_MM
31 184 LW_OC
32 212 HE_RPLS
33 272 HE_COPD
34 279 HE_PFTTR
35 298 BM7
36 300 BM8
37 305 BM14
38 307 T_Q_HR
39 318 L_BR_FQ
40 319 L_LN_FQ
41 320 L_DN_FQ
42 321 L_OUT_FQ
43 328 LS_1YR
44 329 LK_EDU
45 330 LK_LB_CO
46 331 LK_LB_US
47 333 LK_LB_EF
48 334 N_DIET
49 338 LF_BUYER
50 339 LF_SAFE
51 344 NPINS
52 345 D_1_1
53 346 D_2_1
54 384 BH9_11
55 396 LQ_1EQL
56 397 LQ_2EQL
57 398 LQ_3EQL
58 399 LQ_4EQL
59 400 LQ_5EQL
60 401 AC1_YR
61 415 BO1
62 416 BO1_1
63 417 BO1_2
64 418 BO1_3
65 425 BD1
66 427 BD1_11
67 428 BD2_1
68 430 BD7_5
69 436 BS1_1
70 438 BS3_1
71 448 BS5_4
72 449 BS5
73 450 BS5_1
74 459 BS8_2
75 460 BS9_2
76 461 BS13
77 473 BE3_71
78 477 BE3_81
79 481 BE3_91
80 485 BE3_75
81 489 BE3_85
82 494 LW_PR
83 496 LW_MT
84 508 T_Q_VN
85 540 BS12_1
86 541 BS12_2
87 544 T_NQ_OCP
88 545 HE_DM

In [38]:
## 역순처리된 데이터
age_1.to_csv('data/reverse_df.csv')

### 새로운 변수 생성

In [2]:
data = pd.read_csv('data/reverse_df.csv')

C:\Users\dkq50\AppData\Local\Temp\ipykernel_13440\1864407016.py:1: DtypeWarning: Columns (31,32,240,252,361,372,414,425,432,467) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/reverse_df.csv')

In [33]:
new

[182, 184, 442, 444, 446, 448]

In [35]:
## new 리스트를 활용하여 새로운 변수 생성
n =0
for i in range(0,len(new),2):
    print(i)
    n += 1
    data[f'Total_{n}'] = data.iloc[:,new[i]] + data.iloc[:,new[i+1]]
    print(data.columns[new[i]],data.columns[new[i+1]])

0
LW_BR_DUR LW_BR_MM
2
BS6_2 BS6_2_2
4
BS6_4 BS6_4_2

In [37]:
### 위 과정에서 생성된 변수명 변경 작업
data.rename(columns={'Total_1':'LW_BR_Total'}, inplace=True) ## 모유수유 총 기간 (월)
data.rename(columns={'Total_2':'BS6_2_Total'}, inplace=True) ## 흡연 총 기간 (월)
data.rename(columns={'Total_3':'BS6_4_Total'}, inplace=True) ## 금연 총 기간 (월)

In [38]:
data.columns

Index(['Unnamed: 0', 'ID', 'ID_FAM', 'REGION', 'TOWN_T', 'APT_T', 'PSU', 'SEX',
       'AGE', 'INCM',
       ...
       'BS12_37', 'BS12_47', 'T_NQ_OCP', 'HE_DM', 'TOTAL_SLP_WK',
       'TOTAL_SLP_WD', 'HE_UCREA', 'LW_BR_Total', 'BS6_2_Total',
       'BS6_4_Total'],
      dtype='object', length=553)

In [41]:
data.to_csv('data/reverse2_df.csv')