In [3]:
import pandas as pd

# csv 파일 불러오기

df = pd.read_csv('C:/sas_view/use_code/Data_Preprocessing/data/reverse2_df.csv', index_col = 0)
df = df.drop(columns = ['Unnamed: 0.1'])
df

c:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (32,33,241,253,362,373,415,426,433,468) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,ID_FAM,REGION,TOWN_T,APT_T,PSU,SEX,AGE,INCM,HO_INCM,...,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA,LW_BR_Total,BS6_2_Total,BS6_4_Total
0,b'A651228902',b'A6512289',1,1,2,b'A651',2,78,3.0,1.0,...,NaN,NaN,0.0,1.0,480.0,480.0,128.4,18.0,NaN,NaN
1,b'A651417601',b'A6514176',1,1,2,b'A651',1,80,NaN,NaN,...,NaN,NaN,0.0,1.0,390.0,420.0,34.8,NaN,NaN,NaN
2,b'A652228901',b'A6522289',1,1,2,b'A652',1,66,3.0,3.0,...,NaN,NaN,0.0,2.0,390.0,390.0,269.8,NaN,360.0,180.0
3,b'A653184701',b'A6531847',1,1,1,b'A653',2,75,2.0,1.0,...,NaN,NaN,1.0,1.0,360.0,360.0,136.0,84.0,NaN,NaN
4,b'A653235705',b'A6532357',1,1,1,b'A653',2,79,4.0,3.0,...,NaN,NaN,0.0,2.0,240.0,240.0,NaN,120.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',b'R8041762',8,1,2,b'R804',1,66,2.0,2.0,...,2.0,NaN,0.0,1.0,480.0,480.0,151.2,NaN,NaN,NaN
8399,b'R804205101',b'R8042051',8,1,2,b'R804',1,75,4.0,2.0,...,2.0,NaN,0.0,2.0,300.0,300.0,95.5,NaN,NaN,NaN
8400,b'R804205102',b'R8042051',8,1,2,b'R804',2,65,3.0,2.0,...,2.0,NaN,0.0,1.0,420.0,600.0,35.2,36.0,NaN,NaN
8401,b'R804344501',b'R8043445',8,1,2,b'R804',2,65,2.0,2.0,...,2.0,NaN,0.0,2.0,480.0,480.0,53.0,12.0,NaN,NaN
8402,b'R804371701',b'R8043717',8,1,2,b'R804',1,65,2.0,2.0,...,2.0,NaN,1.0,1.0,420.0,420.0,79.7,NaN,552.0,18.0

In [4]:
var_c = pd.read_csv('C:/sas_view/use_code/var_c.csv', encoding = 'cp949')
var_c

,변수명,변수설명7,변수설명8,제거여부,변경여부,내용,응답len,리스트
0,ID,개인 아이디,개인 아이디,0,0.0,NaN,NaN,NaN
1,ID_FAM,가구 아이디,가구 아이디,1,NaN,NaN,NaN,NaN
2,REGION,17개 시도,17개 시도,1,NaN,NaN,NaN,NaN
3,TOWN_T,동/읍면 구분,동/읍면 구분,1,NaN,NaN,NaN,NaN
4,APT_T,아파트 구분,아파트 구분,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
544,T_NQ_OCP,작업장 내 소음노출 경험,직업적 소음노출,0,1.0,2 -> 0\r\n1 -> 1,2.0,"2,1"
545,HE_DM,당뇨병 유병여부(19세이상),당뇨병 유병여부(19세이상),0,1.0,1 -> 0\r\n2 -> 1\r\n3 -> 2,3.0,"1,2,3"
546,TOTAL_SLP_WK,(만12세이상) 주중 하루 평균 수면시간,(만12세이상) 주중(또는 일하는 날) 하루 평균 수면 시간,0,0.0,NaN,NaN,NaN
547,TOTAL_SLP_WD,(만12세이상) 주말 하루 평균 수면시간,"(만12세이상) 주말(또는 일하지 않는 날, 일하지 않는 전날) 하루 평균 수면 시간",0,0.0,NaN,NaN,NaN
548,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN

In [5]:
# var_c 에서 [제거여부] 컬럼이 0 인 것만 추출하여 리스트 생성

var_0 = var_c[var_c.loc[ : , '제거여부'] == 0]
var_0 # 335 

use_var = list(var_0.loc[ : , '변수명'])
len(use_var)

335

In [6]:
# df 에서 use_var 컬럼에 속하는 컬럼만 추출 

reverse3_df = df.loc[ : , df.columns.isin(use_var)]
reverse3_df

,ID,SEX,AGE,ALLOWNC,DI1_PT,DI1_2,DI2_2,DI3_2,DI4_PT,DI5_PT,...,DN1_PT,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA
0,b'A651228902',2,78,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,1.0,480.0,480.0,128.4
1,b'A651417601',1,80,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,1.0,390.0,420.0,34.8
2,b'A652228901',1,66,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,2.0,390.0,390.0,269.8
3,b'A653184701',2,75,1.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,1.0,1.0,360.0,360.0,136.0
4,b'A653235705',2,79,0.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,2.0,240.0,240.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,b'R804176202',1,66,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,0.0,1.0,480.0,480.0,151.2
8399,b'R804205101',1,75,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,0.0,2.0,300.0,300.0,95.5
8400,b'R804205102',2,65,0.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,0.0,1.0,420.0,600.0,35.2
8401,b'R804344501',2,65,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,0.0,2.0,480.0,480.0,53.0
8402,b'R804371701',1,65,0.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,2.0,NaN,1.0,1.0,420.0,420.0,79.7

In [7]:
# csv 파일로 저장

reverse3_df.to_csv('C:/sas_view/use_code/Data_Preprocessing/data/reverse3_df.csv')