In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
#### 데이터 불러오기 (var : 질병에 영향을 미칠 변수들 / dic : 유병여부 변수)
var = pd.read_csv('data/reverse3_df.csv',index_col=0)
dic = pd.read_csv('data/real_data2.csv',index_col=0)

C:\Users\dkq50\AppData\Local\Temp\ipykernel_16064\3916440424.py:2: DtypeWarning: Columns (181,261) have mixed types. Specify dtype option on import or set low_memory=False.
  var = pd.read_csv('data/reverse3_df.csv',index_col=0)

In [3]:
dic.loc[:,'DI3_PR'].value_counts()

1.0    380
0.0     92
Name: DI3_PR, dtype: int64

옵션 값 설명
* test_size: 테스트 셋 구성의 비율을 나타냅니다. 
    * train_size의 옵션과 반대 관계에 있는 옵션 값이며, 주로 test_size를 지정해 줍니다. 
    * 0.2는 전체 데이터 셋의 20%를 test (validation) 셋으로 지정하겠다는 의미입니다. 
    * default 값(빈칸으로 두면)은 0.25 입니다.
#
* shuffle: default=True 입니다. 
    * split을 해주기 이전에 섞을건지 여부입니다. 
    * 보통은 default 값으로 놔둡니다.
#
* stratify: default=None 입니다. 
    * classification을 다룰 때 매우 중요한 옵션값입니다. 
    * stratify 값을 target으로 지정해주면 각각의 class 비율(ratio)을 train / validation에 유지해 줍니다. (한 쪽에 쏠려서 분배되는 것을 방지합니다) 만약 이 옵션을 지정해 주지 않고 +  classification 문제를 다룬다면, 성능의 차이가 많이 날 수 있습니다.
#   
* random_state: 세트를 섞을 때 해당 int 값을 보고 섞으며, 하이퍼 파라미터를 튜닝시 이 값을 고정해두고 튜닝해야 매번 데이터셋이 변경되는 것을 방지할 수 있습니다.

In [4]:
### 1. 데이터 생성
#### X : 독립변수 / Y : 종속변수_유병여부
X = var 
Y = dic.loc[:,['ID','DI3_PR']] ## 뇌졸증 유병여부

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    Y, 
                                                    test_size=0.4,  # test set 40%의 비율로
                                                    shuffle=True, # 무작위 추출(random sampling, shuffle=True)하여 분할
                                                    random_state=1004) # 재현가능(for reproducibility)하도록 난수의 초기값을 설정해주는 것 (아무 숫자 넣어도 됨)

In [5]:
train = X_train.merge(y_train)
train

,ID,SEX,AGE,ALLOWNC,DI1_PT,DI1_2,DI2_2,DI3_2,DI4_PT,DI5_PT,...,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA,DI3_PR
0,b'G751373401',1,66,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,2.0,NaN,0.0,0.0,300.0,300.0,75.4,NaN
1,b'K652177901',2,80,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,0.0,450.0,450.0,46.4,NaN
2,b'A736020402',2,71,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,1.0,360.0,360.0,122.4,NaN
3,b'G753268001',1,66,0.0,1.0,4.0,NaN,NaN,NaN,NaN,...,0.0,NaN,2.0,NaN,NaN,1.0,360.0,360.0,143.0,NaN
4,b'A804319002',2,70,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,2.0,NaN,0.0,1.0,360.0,360.0,133.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,b'H637439701',1,78,0.0,1.0,4.0,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,1.0,600.0,600.0,209.4,NaN
5037,b'J606196601',1,70,0.0,NaN,NaN,4.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,130.4,NaN
5038,b'O803315601',2,78,1.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,2.0,540.0,540.0,109.7,NaN
5039,b'R802210201',1,66,0.0,1.0,4.0,NaN,NaN,NaN,NaN,...,0.0,NaN,2.0,NaN,0.0,2.0,360.0,420.0,17.5,NaN
5040,b'H713021902',2,66,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,0.0,450.0,480.0,96.4,NaN

In [6]:
test = X_test.merge(y_test)
test

,ID,SEX,AGE,ALLOWNC,DI1_PT,DI1_2,DI2_2,DI3_2,DI4_PT,DI5_PT,...,BS12_1,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA,DI3_PR
0,b'E805402301',1,80,1.0,1.0,4.0,NaN,NaN,NaN,NaN,...,0.0,NaN,2.0,NaN,0.0,1.0,360.0,360.0,47.3,NaN
1,b'A722029303',2,80,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,1.0,0.0,420.0,480.0,45.8,NaN
2,b'B812392101',1,74,0.0,1.0,4.0,NaN,NaN,1.0,NaN,...,0.0,NaN,2.0,NaN,1.0,2.0,420.0,420.0,127.5,NaN
3,b'J653254406',1,76,0.0,1.0,4.0,NaN,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,1.0,1.0,420.0,420.0,92.8,1.0
4,b'A708024905',2,65,0.0,1.0,3.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,1.0,450.0,480.0,60.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,b'H639208502',2,80,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,540.0,540.0,204.4,NaN
3358,b'N710034901',2,80,0.0,1.0,4.0,0.0,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,1.0,0.0,300.0,300.0,148.8,NaN
3359,b'H815217001',1,71,0.0,NaN,NaN,4.0,NaN,NaN,NaN,...,0.0,NaN,2.0,NaN,1.0,1.0,300.0,300.0,136.6,NaN
3360,b'E756278201',1,70,0.0,1.0,4.0,0.0,NaN,NaN,NaN,...,0.0,NaN,2.0,NaN,NaN,1.0,480.0,480.0,218.3,NaN
3361,b'A815303701',1,71,0.0,1.0,4.0,NaN,NaN,NaN,NaN,...,0.0,NaN,2.0,NaN,0.0,0.0,420.0,420.0,55.2,NaN

In [7]:
import pycaret
print(pycaret.__version__)

2.3.10

In [9]:
### 2. 라이브러리를 실행시키고, setup 메소드 실행
from pycaret.classification import *
setup_clf = setup(data=train, target='DI3_PR')

In [10]:
### 3. 다양한 모델들과의 성능 비교 (8번으로 바로 넘어가도 무관)
best = compare_models()
best

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=8942)

#### 모델 생성
![이미지 이름](https://miro.medium.com/max/1104/1*kabSyeilsAwlnvtnwQF_yQ.png)

In [ ]:
### 4. 모델 생성 create_model('모델 약어')
adaboost = create_model('ada')

In [ ]:
### 5. 모델 튜닝
tuned_adaboost = tune_model('ada')

In [ ]:
### 6. AUC 곡선 / 오차 행렬
plot_model(estimator = tuned_adaboost, plot = 'auc')
plot_model(estimator = tuned_adaboost, plot = 'confusion_matrix')

In [ ]:
### 7. Feature Importance
plot_model(estimator = tuned_adaboost, plot = 'feature')

In [ ]:
### 8. 모델 평가 (4~7번을 뛰어넘고 evaluate_model(best) 사용해도 무관)
evaluate_model(tuned_adaboost)

In [11]:
### best사용
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [32]:
# 데이터 프레임 모든 행, 열 출력
#pd.set_option('display.max_columns',None) # 모든 열을 보고자 할 때
#pd.set_option('display.max_rows',None) # 모든 행을 보고자 할 때

In [ ]:
### 9-1. 예측 (모델 선정했을 시)
ada_final = finalize_model(tuned_adaboost)
predict_model(ada_final,test)

In [12]:
### 9-2. 예측 (모델 선정X)
predictions = predict_model(best,X_test)

In [13]:
predictions

,ID,SEX,AGE,ALLOWNC,DI1_PT,DI1_2,DI2_2,DI3_2,DI4_PT,DI5_PT,...,BS12_2,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA,Label,Score
7258,b'E805402301',1,80,1.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,0.0,1.0,360.0,360.0,47.3,0.0,0.5549
3485,b'A722029303',2,80,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,NaN,0.0,NaN,1.0,0.0,420.0,480.0,45.8,0.0,0.5280
7084,b'B812392101',1,74,0.0,1.0,4.0,NaN,NaN,1.0,NaN,...,NaN,2.0,NaN,1.0,2.0,420.0,420.0,127.5,0.0,0.5588
1040,b'J653254406',1,76,0.0,1.0,4.0,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,420.0,420.0,92.8,1.0,0.6394
3368,b'A708024905',2,65,0.0,1.0,3.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,0.0,1.0,450.0,480.0,60.0,0.0,0.5541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2560,b'H639208502',2,80,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,540.0,540.0,204.4,0.0,0.5182
4775,b'N710034901',2,80,0.0,1.0,4.0,0.0,NaN,NaN,NaN,...,NaN,0.0,NaN,1.0,0.0,300.0,300.0,148.8,1.0,0.5440
7504,b'H815217001',1,71,0.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,2.0,NaN,1.0,1.0,300.0,300.0,136.6,0.0,0.5365
5612,b'E756278201',1,70,0.0,1.0,4.0,0.0,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,1.0,480.0,480.0,218.3,0.0,0.5537
6798,b'A815303701',1,71,0.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,0.0,0.0,420.0,420.0,55.2,0.0,0.5411

In [14]:
predict_model(best,test)

,ID,SEX,AGE,ALLOWNC,DI1_PT,DI1_2,DI2_2,DI3_2,DI4_PT,DI5_PT,...,BS12_37,BS12_47,T_NQ_OCP,HE_DM,TOTAL_SLP_WK,TOTAL_SLP_WD,HE_UCREA,DI3_PR,Label,Score
0,b'E805402301',1,80,1.0,1.0,4.0,NaN,NaN,NaN,NaN,...,2.0,NaN,0.0,1.0,360.0,360.0,47.3,NaN,0.0,0.5549
1,b'A722029303',2,80,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,0.0,NaN,1.0,0.0,420.0,480.0,45.8,NaN,0.0,0.5280
2,b'B812392101',1,74,0.0,1.0,4.0,NaN,NaN,1.0,NaN,...,2.0,NaN,1.0,2.0,420.0,420.0,127.5,NaN,0.0,0.5588
3,b'J653254406',1,76,0.0,1.0,4.0,NaN,0.0,NaN,NaN,...,NaN,NaN,1.0,1.0,420.0,420.0,92.8,1.0,1.0,0.6394
4,b'A708024905',2,65,0.0,1.0,3.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,1.0,450.0,480.0,60.0,NaN,0.0,0.5541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,b'H639208502',2,80,0.0,1.0,4.0,4.0,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,540.0,540.0,204.4,NaN,0.0,0.5182
3358,b'N710034901',2,80,0.0,1.0,4.0,0.0,NaN,NaN,NaN,...,0.0,NaN,1.0,0.0,300.0,300.0,148.8,NaN,1.0,0.5440
3359,b'H815217001',1,71,0.0,NaN,NaN,4.0,NaN,NaN,NaN,...,2.0,NaN,1.0,1.0,300.0,300.0,136.6,NaN,0.0,0.5365
3360,b'E756278201',1,70,0.0,1.0,4.0,0.0,NaN,NaN,NaN,...,2.0,NaN,NaN,1.0,480.0,480.0,218.3,NaN,0.0,0.5537
3361,b'A815303701',1,71,0.0,1.0,4.0,NaN,NaN,NaN,NaN,...,2.0,NaN,0.0,0.0,420.0,420.0,55.2,NaN,0.0,0.5411

In [15]:
pd.DataFrame({'y_test' : y_test.loc[:,'DI3_PR'],
              'label' : predictions.loc[:,'Label']})

      y_test label
7258     NaN   0.0
3485     NaN   0.0
7084     NaN   0.0
1040     1.0   1.0
3368     NaN   0.0
...      ...   ...
2560     NaN   0.0
4775     NaN   1.0
7504     NaN   0.0
5612     NaN   0.0
6798     NaN   0.0

[3362 rows x 2 columns]